{
	"openapi": "3.1.0",
	"info": {
		"title": "API de Rewrite",
		"version": "1.0.0",
		"summary": "Referencia de la API de proyectos (Projects, API Keys, Templates, Webhooks).",
		"description": "Referencia publica completa de los endpoints de nivel proyecto en Rewrite API v1.\\n\\nTodos los endpoints devuelven un sobre consistente (`ok`, `data` y `cursor` opcional).\\nUsa bearer token (API key) con scopes o sesion autenticada por cookie."
	},
	"servers": [
		{
			"url": "https://api.rewritetoday.com/v1",
			"description": "Produccion"
		}
	],
	"tags": [
		{
			"name": "API Keys",
			"description": "Crear, listar y revocar API keys de proyecto."
		}
	],
	"paths": {
		"/projects/{id}/api-keys": {
			"get": {
				"tags": ["API Keys"],
				"operationId": "listProjectApiKeys",
				"summary": "Listar API keys",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "ID unico del proyecto.",
						"example": "748395130237498368"
					},
					{
						"$ref": "#/components/parameters/after"
					},
					{
						"$ref": "#/components/parameters/before"
					},
					{
						"$ref": "#/components/parameters/limit"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/APIKeysListResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": [
												{
													"id": "748395130237498400",
													"name": "Production backend",
													"prefix": "rw_live_8e4c",
													"scopes": ["project:templates:write"],
													"createdAt": "2026-02-19T19:10:02.000Z"
												}
											],
											"cursor": {
												"persist": false,
												"next": null
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Devuelve las API keys activas del proyecto con paginacion por cursor.\\n\\nUsa `limit`, `after` y `before` para paginar.",
				"x-codeSamples": [
					{
						"lang": "Node.js",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst apiKeys = await rewrite.apiKeys.list(projectId, { limit: 20 });"
					},
					{
						"lang": "Go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_live_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  projectID := \"748395130237498368\"\n\n  _, err = client.APIKeys.List(context.Background(), projectID, &rewrite.RESTGetListAPIKeysQueryParams{Limit: 20})\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "Python",
						"label": "Python",
						"source": "from rewrite import Rewrite\nimport requests\n\nclient = Rewrite(api_key='rw_live_your_api_key')\n\nresponse = requests.request(\n    'GET',\n    'https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys',\n    headers={\n        'Authorization': \"Bearer rw_live_your_api_key\",\n    },\n)\nprint(response.json())"
					},
					{
						"lang": "Java",
						"label": "Java",
						"source": "var client = HttpClient.newHttpClient();\nvar requestBuilder = HttpRequest.newBuilder()\n  .uri(URI.create(\"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys\"))\n  .header(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"GET\", HttpRequest.BodyPublishers.noBody());\nvar response = client.send(requestBuilder.build(), HttpResponse.BodyHandlers.ofString());"
					},
					{
						"lang": "PHP",
						"label": "PHP",
						"source": "<?php\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, 'https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys');\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'GET');\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n  'Authorization: Bearer rw_live_your_api_key',\n]);\n$response = curl_exec($ch);\ncurl_close($ch);"
					},
					{
						"lang": "Ruby",
						"label": "Ruby",
						"source": "uri = URI.parse('https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys')\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\nrequest = Net::HTTP::Get.new(uri.request_uri)\nrequest['Authorization'] = 'Bearer rw_live_your_api_key'\nresponse = http.request(request)\nputs response.body"
					},
					{
						"lang": "Kotlin",
						"label": "Kotlin",
						"source": "val client = OkHttpClient()\nval request = Request.Builder()\n  .url(\"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys\")\n  .addHeader(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"GET\", null)\n  .build()\nval response = client.newCall(request).execute()"
					},
					{
						"lang": "Swift",
						"label": "Swift",
						"source": "let url = URL(string: \"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"GET\"\nrequest.setValue(\"rw_live_your_api_key\", forHTTPHeaderField: \"Authorization\")\nlet (data, _, _) = try await URLSession.shared.data(for: request)"
					},
					{
						"lang": "C#",
						"label": "C#",
						"source": "using var client = new HttpClient();\nusing var request = new HttpRequestMessage();\nrequest.Method = HttpMethod.Get;\nrequest.RequestUri = new Uri(\"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys\");\nrequest.Headers.Add(\"Authorization\", \"Bearer rw_live_your_api_key\");\nvar response = await client.SendAsync(request);\nvar content = await response.Content.ReadAsStringAsync();"
					},
					{
						"lang": "cURL",
						"label": "cURL",
						"source": "curl -X GET 'https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys' \\\\\n  -H 'Authorization: Bearer rw_live_your_api_key'"
					}
				]
			},
			"post": {
				"tags": ["API Keys"],
				"operationId": "createProjectApiKey",
				"summary": "Crear API key",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "ID unico del proyecto.",
						"example": "748395130237498368"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/APIKeyCreateBody"
							},
							"examples": {
								"request": {
									"summary": "Ejemplo de solicitud",
									"value": {
										"name": "Jobs worker",
										"scopes": [
											"project:templates:read",
											"projects:webhooks:read"
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/APIKeyCreateResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498412",
												"key": "rw_live_8e4c3f7f8f9f0ab12cd34ef56",
												"count": 3,
												"createdAt": "2026-02-19T19:12:48.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Crea una API key del proyecto y devuelve el secreto una sola vez. Guardalo de forma segura.",
				"x-codeSamples": [
					{
						"lang": "Node.js",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\nimport { APIKeyScope } from '@rewritejs/types';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst apiKey = await rewrite.apiKeys.create({\n  project: projectId,\n  name: 'Jobs worker',\n  scopes: [APIKeyScope.ReadTemplates, APIKeyScope.ReadWebhooks],\n});"
					},
					{
						"lang": "Go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_live_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  projectID := \"748395130237498368\"\n\n  _, err = client.APIKeys.Create(context.Background(), rewrite.CreateAPIKeyOptions{\n    Project: projectID,\n    RESTPostCreateAPIKeyBody: rewrite.RESTPostCreateAPIKeyBody{\n      Name: \"Jobs worker\",\n      Scopes: []rewrite.APIKeyScope{\n        rewrite.APIKeyScopeReadTemplates,\n        rewrite.APIKeyScopeReadWebhooks,\n      },\n    },\n  })\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "Python",
						"label": "Python",
						"source": "from rewrite import Rewrite\nimport requests\n\nclient = Rewrite(api_key='rw_live_your_api_key')\n\nresponse = requests.request(\n    'POST',\n    'https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys',\n    headers={\n        'Authorization': \"Bearer rw_live_your_api_key\",\n        'Content-Type': 'application/json',\n    },\n    json={\n      \"name\": \"Jobs worker\",\n      \"scopes\": [\n        \"project:templates:read\",\n        \"projects:webhooks:read\"\n      ]\n    },\n)\nprint(response.json())"
					},
					{
						"lang": "Java",
						"label": "Java",
						"source": "var client = HttpClient.newHttpClient();\nvar json = \"{\\\"name\\\":\\\"Jobs worker\\\",\\\"scopes\\\":[\\\"project:templates:read\\\",\\\"projects:webhooks:read\\\"]}\";\nvar requestBuilder = HttpRequest.newBuilder()\n  .uri(URI.create(\"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys\"))\n  .header(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .header(\"Content-Type\", \"application/json\")\n  .method(\"POST\", HttpRequest.BodyPublishers.ofString(json));\nvar response = client.send(requestBuilder.build(), HttpResponse.BodyHandlers.ofString());"
					},
					{
						"lang": "PHP",
						"label": "PHP",
						"source": "<?php\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, 'https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys');\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'POST');\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n  'Authorization: Bearer rw_live_your_api_key',\n  'Content-Type: application/json',\n]);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, '{\"name\":\"Jobs worker\",\"scopes\":[\"project:templates:read\",\"projects:webhooks:read\"]}');\n$response = curl_exec($ch);\ncurl_close($ch);"
					},
					{
						"lang": "Ruby",
						"label": "Ruby",
						"source": "uri = URI.parse('https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys')\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\nrequest = Net::HTTP::Post.new(uri.request_uri)\nrequest['Authorization'] = 'Bearer rw_live_your_api_key'\nrequest['Content-Type'] = 'application/json'\nrequest.body = \"{\\\"name\\\":\\\"Jobs worker\\\",\\\"scopes\\\":[\\\"project:templates:read\\\",\\\"projects:webhooks:read\\\"]}\"\nresponse = http.request(request)\nputs response.body"
					},
					{
						"lang": "Kotlin",
						"label": "Kotlin",
						"source": "val client = OkHttpClient()\nval body = \"{\\\"name\\\":\\\"Jobs worker\\\",\\\"scopes\\\":[\\\"project:templates:read\\\",\\\"projects:webhooks:read\\\"]}\".toRequestBody(\"application/json\".toMediaType())\nval request = Request.Builder()\n  .url(\"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys\")\n  .addHeader(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"POST\", body)\n  .build()\nval response = client.newCall(request).execute()"
					},
					{
						"lang": "Swift",
						"label": "Swift",
						"source": "let url = URL(string: \"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"POST\"\nrequest.setValue(\"rw_live_your_api_key\", forHTTPHeaderField: \"Authorization\")\nrequest.setValue(\"application/json\", forHTTPHeaderField: \"Content-Type\")\nrequest.httpBody = \"{\\\"name\\\":\\\"Jobs worker\\\",\\\"scopes\\\":[\\\"project:templates:read\\\",\\\"projects:webhooks:read\\\"]}\".data(using: .utf8)\nlet (data, _, _) = try await URLSession.shared.data(for: request)"
					},
					{
						"lang": "C#",
						"label": "C#",
						"source": "using var client = new HttpClient();\nusing var request = new HttpRequestMessage();\nrequest.Method = HttpMethod.Post;\nrequest.RequestUri = new Uri(\"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys\");\nrequest.Headers.Add(\"Authorization\", \"Bearer rw_live_your_api_key\");\nrequest.Content = new StringContent(\"{\\\"name\\\":\\\"Jobs worker\\\",\\\"scopes\\\":[\\\"project:templates:read\\\",\\\"projects:webhooks:read\\\"]}\", Encoding.UTF8, \"application/json\");\nvar response = await client.SendAsync(request);\nvar content = await response.Content.ReadAsStringAsync();"
					},
					{
						"lang": "cURL",
						"label": "cURL",
						"source": "curl -X POST 'https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys' \\\\\n  -H 'Authorization: Bearer rw_live_your_api_key'\n  -H 'Content-Type: application/json' \\\\\n  -d '{\"name\":\"Jobs worker\",\"scopes\":[\"project:templates:read\",\"projects:webhooks:read\"]}'"
					}
				]
			}
		},
		"/projects/{id}/api-keys/{key}": {
			"delete": {
				"tags": ["API Keys"],
				"operationId": "deleteProjectApiKey",
				"summary": "Revocar API key",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "ID unico del proyecto.",
						"example": "748395130237498368"
					},
					{
						"name": "key",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "ID unico de API key.",
						"example": "748395130237498400"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Revoca una API key inmediatamente por key id.",
				"x-codeSamples": [
					{
						"lang": "Node.js",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst apiKeyId = '748395130237498400';\n\nawait rewrite.apiKeys.delete(apiKeyId, projectId);"
					},
					{
						"lang": "Go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_live_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  projectID := \"748395130237498368\"\n  apiKeyID := \"748395130237498400\"\n\n  if err := client.APIKeys.Delete(context.Background(), apiKeyID, projectID); err != nil {\n    log.Fatal(err)\n  }\n}"
					},
					{
						"lang": "Python",
						"label": "Python",
						"source": "from rewrite import Rewrite\nimport requests\n\nclient = Rewrite(api_key='rw_live_your_api_key')\n\nresponse = requests.request(\n    'DELETE',\n    'https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys/748395130237498400',\n    headers={\n        'Authorization': \"Bearer rw_live_your_api_key\",\n    },\n)\nprint(response.json())"
					},
					{
						"lang": "Java",
						"label": "Java",
						"source": "var client = HttpClient.newHttpClient();\nvar requestBuilder = HttpRequest.newBuilder()\n  .uri(URI.create(\"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys/748395130237498400\"))\n  .header(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"DELETE\", HttpRequest.BodyPublishers.noBody());\nvar response = client.send(requestBuilder.build(), HttpResponse.BodyHandlers.ofString());"
					},
					{
						"lang": "PHP",
						"label": "PHP",
						"source": "<?php\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, 'https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys/748395130237498400');\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'DELETE');\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n  'Authorization: Bearer rw_live_your_api_key',\n]);\n$response = curl_exec($ch);\ncurl_close($ch);"
					},
					{
						"lang": "Ruby",
						"label": "Ruby",
						"source": "uri = URI.parse('https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys/748395130237498400')\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\nrequest = Net::HTTP::Delete.new(uri.request_uri)\nrequest['Authorization'] = 'Bearer rw_live_your_api_key'\nresponse = http.request(request)\nputs response.body"
					},
					{
						"lang": "Kotlin",
						"label": "Kotlin",
						"source": "val client = OkHttpClient()\nval request = Request.Builder()\n  .url(\"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys/748395130237498400\")\n  .addHeader(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"DELETE\", null)\n  .build()\nval response = client.newCall(request).execute()"
					},
					{
						"lang": "Swift",
						"label": "Swift",
						"source": "let url = URL(string: \"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys/748395130237498400\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"DELETE\"\nrequest.setValue(\"rw_live_your_api_key\", forHTTPHeaderField: \"Authorization\")\nlet (data, _, _) = try await URLSession.shared.data(for: request)"
					},
					{
						"lang": "C#",
						"label": "C#",
						"source": "using var client = new HttpClient();\nusing var request = new HttpRequestMessage();\nrequest.Method = HttpMethod.Delete;\nrequest.RequestUri = new Uri(\"https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys/748395130237498400\");\nrequest.Headers.Add(\"Authorization\", \"Bearer rw_live_your_api_key\");\nvar response = await client.SendAsync(request);\nvar content = await response.Content.ReadAsStringAsync();"
					},
					{
						"lang": "cURL",
						"label": "cURL",
						"source": "curl -X DELETE 'https://api.rewritetoday.com/v1/projects/748395130237498368/api-keys/748395130237498400' \\\\\n  -H 'Authorization: Bearer rw_live_your_api_key'"
					}
				]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API Key",
				"description": "Envia tu API key como `Authorization: Bearer <api-key>`."
			}
		},
		"parameters": {
			"after": {
				"name": "after",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "ID unico de cursor para obtener elementos despues de este valor.",
				"example": "748395130237498588"
			},
			"before": {
				"name": "before",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "ID unico de cursor para obtener elementos antes de este valor.",
				"example": "748395130237498399"
			},
			"limit": {
				"name": "limit",
				"in": "query",
				"required": false,
				"schema": {
					"type": "integer",
					"minimum": 2,
					"maximum": 100
				},
				"description": "Numero de elementos a devolver.",
				"example": 20
			}
		},
		"responses": {},
		"schemas": {
			"Snowflake": {
				"type": "string",
				"pattern": "^[0-9]{1,32}$",
				"description": "ID unico del recurso.",
				"example": "748395130237498368"
			},
			"Cursor": {
				"type": "object",
				"additionalProperties": false,
				"required": ["persist"],
				"properties": {
					"persist": {
						"type": "boolean",
						"description": "Indica si se puede solicitar otra pagina usando `next`."
					},
					"next": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Cursor para solicitar la siguiente pagina (`after`)."
					}
				},
				"description": "Metadatos de cursor para respuestas paginadas.",
				"example": {
					"persist": true,
					"next": "748395130237498399"
				}
			},
			"OkEmptyResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "null",
						"description": "Esta respuesta no devuelve datos."
					}
				},
				"description": "Respuesta exitosa. Este endpoint no devuelve datos.",
				"example": {
					"ok": true,
					"data": null
				}
			},
			"APIKey": {
				"type": "object",
				"additionalProperties": false,
				"required": ["id", "name", "prefix", "scopes", "createdAt"],
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "id de API key."
					},
					"name": {
						"type": "string",
						"description": "Nombre descriptivo de la clave."
					},
					"prefix": {
						"type": "string",
						"description": "Prefijo de clave publica para identificacion."
					},
					"scopes": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						},
						"description": "Scopes otorgados a esta clave."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Marca de tiempo de creacion (UTC)."
					}
				},
				"description": "Metadatos de API key del proyecto (el secreto no se vuelve a devolver).",
				"example": {
					"id": "748395130237498400",
					"name": "Production backend",
					"prefix": "rw_live_8e4c",
					"scopes": ["project:templates:write", "projects:webhooks:write"],
					"createdAt": "2026-02-19T19:10:02.000Z"
				}
			},
			"APIKeysListResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data", "cursor"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/APIKey"
						},
						"description": "campo data."
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor",
						"description": "campo cursor."
					}
				},
				"example": {
					"ok": true,
					"data": [
						{
							"id": "748395130237498400",
							"name": "Production backend",
							"prefix": "rw_live_8e4c",
							"scopes": ["project:templates:write", "projects:webhooks:write"],
							"createdAt": "2026-02-19T19:10:02.000Z"
						}
					],
					"cursor": {
						"persist": false,
						"next": null
					}
				},
				"description": "Esquema APIKeysListResponse."
			},
			"APIKeyCreateBody": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32,
						"description": "campo name."
					},
					"scopes": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						},
						"description": "campo scopes."
					}
				},
				"description": "Crea una API key de proyecto con scopes opcionales.",
				"example": {
					"name": "Jobs worker",
					"scopes": ["project:templates:read", "projects:webhooks:read"]
				}
			},
			"APIKeyCreateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "object",
						"additionalProperties": false,
						"required": ["id", "key", "count", "createdAt"],
						"properties": {
							"id": {
								"$ref": "#/components/schemas/Snowflake"
							},
							"key": {
								"type": "string"
							},
							"count": {
								"type": "integer"
							},
							"createdAt": {
								"type": "string",
								"format": "date-time"
							}
						},
						"description": "campo data."
					}
				},
				"description": "Respuesta de creacion que contiene la clave secreta de un solo uso.",
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498412",
						"key": "rw_live_8e4c3f7f8f9f0ab12cd34ef56",
						"count": 3,
						"createdAt": "2026-02-19T19:12:48.000Z"
					}
				}
			},
			"AuthScope": {
				"type": "string",
				"enum": [
					"*",
					"project:read",
					"project:write",
					"project:api_keys:read",
					"project:templates:write",
					"project:templates:read",
					"projects:payments:read",
					"projects:webhooks:read",
					"projects:webhooks:write"
				],
				"description": "Scope de permiso aceptado por API keys.",
				"example": "project:templates:write"
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	]
}
