{
	"openapi": "3.1.0",
	"info": {
		"title": "API de Rewrite",
		"version": "1.0.0",
		"summary": "Referencia de la API de proyectos (Projects, API Keys, Templates, Webhooks).",
		"description": "Referencia publica completa de los endpoints de nivel proyecto en Rewrite API v1.\n\nTodos los endpoints devuelven un sobre consistente (`ok`, `data` y `cursor` opcional).\nUsa bearer token (API key) con scopes o sesion autenticada por cookie."
	},
	"servers": [
		{
			"url": "https://api.rewritetoday.com/v1",
			"description": "Produccion"
		}
	],
	"tags": [
		{
			"name": "Templates",
			"description": "Gestiona plantillas SMS reutilizables con variables."
		}
	],
	"paths": {
		"/templates": {
			"get": {
				"tags": ["Templates"],
				"operationId": "listProjectTemplates",
				"summary": "Listar plantillas",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/after"
					},
					{
						"$ref": "#/components/parameters/before"
					},
					{
						"$ref": "#/components/parameters/limit"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplatesListResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": [
												{
													"id": "748395130237498500",
													"name": "order_shipped",
													"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
													"variables": [
														{
															"name": "first_name",
															"fallback": "customer"
														}
													],
													"createdAt": "2026-02-19T18:00:00.000Z"
												}
											],
											"cursor": {
												"persist": true,
												"next": "748395130237498588"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Lista las plantillas del proyecto con paginacion por cursor.\n\nUsa `limit`, `after` y `before` para paginar.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst templates = await rewrite.templates.list({ limit: 20 });"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  _, err = client.Templates.List(context.Background(), &rewrite.RESTGetListTemplatesQueryParams{Limit: 20})\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\ntemplates = client.templates.list({\"limit\": 20})"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.templates.ListTemplatesOptions;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var templates = rewrite.templates().list(\n      ListTemplatesOptions.builder()\n        .limit(20)\n        .build()\n    );\n\n    System.out.println(templates);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$templates = $rewrite->templates->list([\n  'limit' => 20,\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\ntemplates = rewrite.templates.list(limit: 20)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.templates.ListTemplatesOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val templates = rewrite.templates.list(\n    ListTemplatesOptions(limit = 20)\n  )\n\n  println(templates)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet templates = try await rewrite.templates.list(limit: 20)\n\nprint(templates)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar templates = await rewrite.Templates.ListAsync(new ListTemplatesOptions\n{\n  Limit = 20\n});\n\nConsole.WriteLine(templates);"
					}
				]
			},
			"post": {
				"tags": ["Templates"],
				"operationId": "createProjectTemplate",
				"summary": "Crear plantilla",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TemplateCreateBody"
							},
							"examples": {
								"request": {
									"summary": "Ejemplo de solicitud",
									"value": {
										"name": "order_shipped",
										"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
										"variables": [
											{
												"name": "first_name",
												"fallback": "customer"
											},
											{
												"name": "order_id",
												"fallback": "0000"
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplateCreateResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498600",
												"createdAt": "2026-02-19T20:01:09.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Crea una plantilla reutilizable con variables y valores de fallback.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst template = await rewrite.templates.create({\n  name: 'order_shipped',\n  content: 'Hi {{first_name}}, your order {{order_id}} is on the way.',\n  variables: [\n    { name: 'first_name', fallback: 'customer' },\n    { name: 'order_id', fallback: '0000' },\n  ],\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  firstNameFallback := \"customer\"\n  orderIDFallback := \"0000\"\n\n  _, err = client.Templates.Create(context.Background(), rewrite.CreateTemplateOptions{\n    RESTPostCreateTemplateBody: rewrite.RESTPostCreateTemplateBody{\n      Name:    \"order_shipped\",\n      Content: \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n      Variables: []rewrite.APITemplateVariable{\n        {Name: \"first_name\", Fallback: &firstNameFallback},\n        {Name: \"order_id\", Fallback: &orderIDFallback},\n      },\n    },\n  })\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\ntemplate = client.templates.create(\n    {\n        \"name\": \"order_shipped\",\n        \"content\": \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n        \"variables\": [\n            {\"name\": \"first_name\", \"fallback\": \"customer\"},\n            {\"name\": \"order_id\", \"fallback\": \"0000\"},\n        ],\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.templates.CreateTemplateOptions;\nimport com.rewritetoday.sdk.models.templates.TemplateVariable;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var template = rewrite.templates().create(\n      CreateTemplateOptions.builder()\n        .name(\"order_shipped\")\n        .content(\"Hi {{first_name}}, your order {{order_id}} is on the way.\")\n        .variables(List.of(\n          TemplateVariable.builder().name(\"first_name\").fallback(\"customer\").build(),\n          TemplateVariable.builder().name(\"order_id\").fallback(\"0000\").build()\n        ))\n        .build()\n    );\n\n    System.out.println(template);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$template = $rewrite->templates->create([\n  'name' => 'order_shipped',\n  'content' => 'Hi {{first_name}}, your order {{order_id}} is on the way.',\n  'variables' => [\n    ['name' => 'first_name', 'fallback' => 'customer'],\n    ['name' => 'order_id', 'fallback' => '0000'],\n  ],\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\ntemplate = rewrite.templates.create(\n  name: \"order_shipped\",\n  content: \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n  variables: [\n    { name: \"first_name\", fallback: \"customer\" },\n    { name: \"order_id\", fallback: \"0000\" }\n  ]\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.templates.CreateTemplateOptions\nimport com.rewritetoday.sdk.models.templates.TemplateVariable\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val template = rewrite.templates.create(\n    CreateTemplateOptions(\n      name = \"order_shipped\",\n      content = \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n      variables = listOf(\n        TemplateVariable(name = \"first_name\", fallback = \"customer\"),\n        TemplateVariable(name = \"order_id\", fallback = \"0000\")\n      )\n    )\n  )\n\n  println(template)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet template = try await rewrite.templates.create(\n  name: \"order_shipped\",\n  content: \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n  variables: [\n    TemplateVariable(name: \"first_name\", fallback: \"customer\"),\n    TemplateVariable(name: \"order_id\", fallback: \"0000\")\n  ]\n)\n\nprint(template)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar template = await rewrite.Templates.CreateAsync(new CreateTemplateOptions\n{\n  Name = \"order_shipped\",\n  Content = \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n  Variables = new[]\n  {\n    new TemplateVariable { Name = \"first_name\", Fallback = \"customer\" },\n    new TemplateVariable { Name = \"order_id\", Fallback = \"0000\" }\n  }\n});\n\nConsole.WriteLine(template);"
					}
				]
			}
		},
		"/templates/{identifier}": {
			"get": {
				"tags": ["Templates"],
				"operationId": "getProjectTemplate",
				"summary": "Obtener plantilla",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "identifier",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "ID unico de plantilla o nombre unico de plantilla.",
						"example": "order_shipped"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplateResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498500",
												"name": "order_shipped",
												"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
												"variables": [
													{
														"name": "first_name",
														"fallback": "customer"
													}
												],
												"createdAt": "2026-02-19T18:00:00.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Obtiene una plantilla por identificador (template id o template name).",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst templateIdentifier = 'order_shipped';\n\nconst template = await rewrite.templates.get(templateIdentifier);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  templateIdentifier := \"order_shipped\"\n\n  _, err = client.Templates.Get(context.Background(), templateIdentifier)\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\ntemplate_identifier = \"order_shipped\"\n\ntemplate = client.templates.get(template_identifier)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var templateIdentifier = \"order_shipped\";\n\n    var template = rewrite.templates().get(templateIdentifier);\n\n    System.out.println(template);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$templateIdentifier = 'order_shipped';\n\n$template = $rewrite->templates->get($templateIdentifier);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\ntemplate_identifier = \"order_shipped\"\n\ntemplate = rewrite.templates.get(template_identifier)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val templateIdentifier = \"order_shipped\"\n\n  val template = rewrite.templates.get(templateIdentifier)\n\n  println(template)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet templateIdentifier = \"order_shipped\"\n\nlet template = try await rewrite.templates.get(templateIdentifier)\n\nprint(template)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar templateIdentifier = \"order_shipped\";\n\nvar template = await rewrite.Templates.GetAsync(templateIdentifier);\n\nConsole.WriteLine(template);"
					}
				]
			}
		},
		"/templates/{templateId}": {
			"patch": {
				"tags": ["Templates"],
				"operationId": "updateProjectTemplate",
				"summary": "Actualizar plantilla",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "templateId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498500"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TemplateUpdateBody"
							},
							"examples": {
								"request": {
									"summary": "Ejemplo de solicitud",
									"value": {
										"content": "Hi {{first_name}}, your package {{order_id}} has shipped.",
										"variables": [
											{
												"name": "first_name",
												"fallback": "customer"
											},
											{
												"name": "order_id",
												"fallback": "0000"
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Actualiza parcialmente el contenido de la plantilla y/o sus variables.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst templateId = '748395130237498500';\n\nconst template = await rewrite.templates.update(templateId, {\n  content: 'Hi {{first_name}}, your package {{order_id}} has shipped.',\n  variables: [\n    { name: 'first_name', fallback: 'customer' },\n    { name: 'order_id', fallback: '0000' },\n  ],\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  templateID := \"748395130237498500\"\n  firstNameFallback := \"customer\"\n  orderIDFallback := \"0000\"\n\n  _, err = client.Templates.Update(context.Background(), templateID, rewrite.UpdateTemplateOptions{\n    RESTPatchUpdateTemplateBody: rewrite.RESTPatchUpdateTemplateBody{\n      Content: \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n      Variables: []rewrite.APITemplateVariable{\n        {Name: \"first_name\", Fallback: &firstNameFallback},\n        {Name: \"order_id\", Fallback: &orderIDFallback},\n      },\n    },\n  })\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\ntemplate_id = \"748395130237498500\"\n\ntemplate = client.templates.update(\n    template_id,\n    {\n        \"content\": \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n        \"variables\": [\n            {\"name\": \"first_name\", \"fallback\": \"customer\"},\n            {\"name\": \"order_id\", \"fallback\": \"0000\"},\n        ],\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.templates.TemplateVariable;\nimport com.rewritetoday.sdk.models.templates.UpdateTemplateOptions;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var templateId = \"748395130237498500\";\n\n    var template = rewrite.templates().update(\n      templateId,\n      UpdateTemplateOptions.builder()\n        .content(\"Hi {{first_name}}, your package {{order_id}} has shipped.\")\n        .variables(List.of(\n          TemplateVariable.builder().name(\"first_name\").fallback(\"customer\").build(),\n          TemplateVariable.builder().name(\"order_id\").fallback(\"0000\").build()\n        ))\n        .build()\n    );\n\n    System.out.println(template);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$templateId = '748395130237498500';\n\n$template = $rewrite->templates->update($templateId, [\n  'content' => 'Hi {{first_name}}, your package {{order_id}} has shipped.',\n  'variables' => [\n    ['name' => 'first_name', 'fallback' => 'customer'],\n    ['name' => 'order_id', 'fallback' => '0000'],\n  ],\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\ntemplate_id = \"748395130237498500\"\n\ntemplate = rewrite.templates.update(\n  template_id,\n  content: \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n  variables: [\n    { name: \"first_name\", fallback: \"customer\" },\n    { name: \"order_id\", fallback: \"0000\" }\n  ]\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.templates.TemplateVariable\nimport com.rewritetoday.sdk.models.templates.UpdateTemplateOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val templateId = \"748395130237498500\"\n\n  val template = rewrite.templates.update(\n    templateId,\n    UpdateTemplateOptions(\n      content = \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n      variables = listOf(\n        TemplateVariable(name = \"first_name\", fallback = \"customer\"),\n        TemplateVariable(name = \"order_id\", fallback = \"0000\")\n      )\n    )\n  )\n\n  println(template)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet templateId = \"748395130237498500\"\n\nlet template = try await rewrite.templates.update(\n  templateId,\n  content: \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n  variables: [\n    TemplateVariable(name: \"first_name\", fallback: \"customer\"),\n    TemplateVariable(name: \"order_id\", fallback: \"0000\")\n  ]\n)\n\nprint(template)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar templateId = \"748395130237498500\";\n\nvar template = await rewrite.Templates.UpdateAsync(templateId, new UpdateTemplateOptions\n{\n  Content = \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n  Variables = new[]\n  {\n    new TemplateVariable { Name = \"first_name\", Fallback = \"customer\" },\n    new TemplateVariable { Name = \"order_id\", Fallback = \"0000\" }\n  }\n});\n\nConsole.WriteLine(template);"
					}
				]
			},
			"delete": {
				"tags": ["Templates"],
				"operationId": "deleteProjectTemplate",
				"summary": "Eliminar plantilla",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "templateId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498500"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Elimina una plantilla del proyecto.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst templateId = '748395130237498500';\n\nawait rewrite.templates.delete(templateId);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  templateID := \"748395130237498500\"\n\n  if err := client.Templates.Delete(context.Background(), templateID); err != nil {\n    log.Fatal(err)\n  }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\ntemplate_id = \"748395130237498500\"\n\nclient.templates.delete(template_id)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var templateId = \"748395130237498500\";\n\n    rewrite.templates().delete(templateId);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$templateId = '748395130237498500';\n\n$rewrite->templates->delete($templateId);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\ntemplate_id = \"748395130237498500\"\n\nrewrite.templates.delete(template_id)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val templateId = \"748395130237498500\"\n\n  rewrite.templates.delete(templateId)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet templateId = \"748395130237498500\"\n\ntry await rewrite.templates.delete(templateId)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar templateId = \"748395130237498500\";\n\nawait rewrite.Templates.DeleteAsync(templateId);"
					}
				]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API Key",
				"description": "Envia tu API key como `Authorization: Bearer <api-key>`."
			}
		},
		"parameters": {
			"after": {
				"name": "after",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "ID unico de cursor para obtener elementos despues de este valor.",
				"example": "748395130237498588"
			},
			"before": {
				"name": "before",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "ID unico de cursor para obtener elementos antes de este valor.",
				"example": "748395130237498399"
			},
			"limit": {
				"name": "limit",
				"in": "query",
				"required": false,
				"schema": {
					"type": "integer",
					"minimum": 2,
					"maximum": 100
				},
				"description": "Numero de elementos a devolver.",
				"example": 20
			}
		},
		"responses": {},
		"schemas": {
			"Snowflake": {
				"type": "string",
				"pattern": "^[0-9]{1,32}$"
			},
			"Cursor": {
				"type": "object",
				"additionalProperties": false,
				"required": ["persist"],
				"properties": {
					"persist": {
						"type": "boolean",
						"description": "Indica si se puede solicitar otra pagina usando `next`."
					},
					"next": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Cursor para solicitar la siguiente pagina (`after`)."
					}
				},
				"example": {
					"persist": true,
					"next": "748395130237498399"
				}
			},
			"OkEmptyResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "null",
						"description": "Esta respuesta no devuelve datos."
					}
				},
				"description": "Respuesta exitosa. Este endpoint no devuelve datos.",
				"example": {
					"ok": true,
					"data": null
				}
			},
			"TemplateVariable": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name", "fallback"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Clave de variable usada por tu app."
					},
					"fallback": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64,
						"description": "Valor por defecto cuando tu payload no proporciona la variable."
					}
				},
				"description": "Variable con nombre usada en el cuerpo de la plantilla.",
				"example": {
					"name": "first_name",
					"fallback": "customer"
				}
			},
			"Template": {
				"type": "object",
				"additionalProperties": false,
				"required": ["id", "name", "createdAt"],
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "ID unico de plantilla."
					},
					"name": {
						"type": "string",
						"description": "campo name."
					},
					"content": {
						"type": ["string", "null"],
						"description": "campo content."
					},
					"variables": {
						"type": ["array", "null"],
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "campo variables."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Marca de tiempo de creacion UTC."
					}
				},
				"example": {
					"id": "748395130237498500",
					"name": "order_shipped",
					"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						}
					],
					"createdAt": "2026-02-19T18:00:00.000Z"
				}
			},
			"TemplatesListResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data", "cursor"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Template"
						},
						"description": "campo data."
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor",
						"description": "campo cursor."
					}
				},
				"example": {
					"ok": true,
					"data": [
						{
							"id": "748395130237498500",
							"name": "order_shipped",
							"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
							"variables": [
								{
									"name": "first_name",
									"fallback": "customer"
								}
							],
							"createdAt": "2026-02-19T18:00:00.000Z"
						}
					],
					"cursor": {
						"persist": true,
						"next": "748395130237498588"
					}
				},
				"description": "Esquema TemplatesListResponse."
			},
			"TemplateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"$ref": "#/components/schemas/Template",
						"description": "campo data."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498500",
						"name": "order_shipped",
						"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
						"variables": [
							{
								"name": "first_name",
								"fallback": "customer"
							}
						],
						"createdAt": "2026-02-19T18:00:00.000Z"
					}
				},
				"description": "Esquema TemplateResponse."
			},
			"TemplateCreateBody": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name", "content", "variables"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "campo name."
					},
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "campo content."
					},
					"variables": {
						"type": "array",
						"minItems": 1,
						"maxItems": 15,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "campo variables."
					}
				},
				"description": "Crea una plantilla SMS reutilizable.",
				"example": {
					"name": "order_shipped",
					"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						},
						{
							"name": "order_id",
							"fallback": "0000"
						}
					]
				}
			},
			"TemplateUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "campo content."
					},
					"variables": {
						"type": "array",
						"minItems": 1,
						"maxItems": 15,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "campo variables."
					}
				},
				"description": "Actualiza contenido de plantilla y/o variables.",
				"example": {
					"content": "Hi {{first_name}}, your package {{order_id}} has shipped.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						},
						{
							"name": "order_id",
							"fallback": "0000"
						}
					]
				}
			},
			"TemplateCreateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "object",
						"required": ["id", "createdAt"],
						"properties": {
							"id": {
								"$ref": "#/components/schemas/Snowflake"
							},
							"createdAt": {
								"type": "string",
								"format": "date-time"
							}
						},
						"description": "campo data."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498600",
						"createdAt": "2026-02-19T20:01:09.000Z"
					}
				},
				"description": "Esquema TemplateCreateResponse."
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	]
}
