{
	"openapi": "3.1.0",
	"info": {
		"title": "API de Rewrite",
		"version": "1.0.0",
		"summary": "Referencia de la API de proyectos (Projects, API Keys, Templates, Webhooks).",
		"description": "Referencia publica completa de los endpoints de nivel proyecto en Rewrite API v1.\n\nTodos los endpoints devuelven un sobre consistente (`ok`, `data` y `cursor` opcional).\nUsa bearer token (API key) con scopes o sesion autenticada por cookie."
	},
	"servers": [
		{
			"url": "https://api.rewritetoday.com/v1",
			"description": "Produccion"
		}
	],
	"tags": [
		{
			"name": "Projects",
			"description": "Metadatos del proyecto y ciclo de vida."
		},
		{
			"name": "API Keys",
			"description": "Crear, listar y revocar API keys de proyecto."
		},
		{
			"name": "Templates",
			"description": "Gestiona plantillas SMS reutilizables con variables."
		},
		{
			"name": "Webhooks",
			"description": "Registra y gestiona webhooks de eventos de entrega."
		}
	],
	"paths": {
		"/projects/{id}/api-keys": {
			"get": {
				"tags": ["API Keys"],
				"operationId": "listProjectApiKeys",
				"summary": "Listar API keys",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"$ref": "#/components/parameters/after"
					},
					{
						"$ref": "#/components/parameters/before"
					},
					{
						"$ref": "#/components/parameters/limit"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/APIKeysListResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": [
												{
													"id": "748395130237498400",
													"name": "Production backend",
													"prefix": "rw_8e4c",
													"scopes": ["project:templates:write"],
													"createdAt": "2026-02-19T19:10:02.000Z"
												}
											],
											"cursor": {
												"persist": false
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Devuelve las API keys activas del proyecto con paginacion por cursor.\n\nUsa `limit`, `after` y `before` para paginar.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst apiKeys = await rewrite.apiKeys.list(projectId, { limit: 20 });"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\n\n_, err = client.APIKeys.List(context.Background(), projectID, &rewrite.RESTGetListAPIKeysQueryParams{Limit: 20})\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\n\napi_keys = client.api_keys.list(project_id, {\"limit\": 20})"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.apiKeys.ListApiKeysOptions;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n\n    var apiKeys = rewrite.apiKeys().list(\n      projectId,\n      ListApiKeysOptions.builder()\n        .limit(20)\n        .build()\n    );\n\n    System.out.println(apiKeys);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n\n$apiKeys = $rewrite->apiKeys->list($projectId, [\n  'limit' => 20,\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\n\napi_keys = rewrite.api_keys.list(project_id, limit: 20)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.apiKeys.ListApiKeysOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n\n  val apiKeys = rewrite.apiKeys.list(\n    projectId,\n    ListApiKeysOptions(limit = 20)\n  )\n\n  println(apiKeys)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\n\nlet apiKeys = try await rewrite.apiKeys.list(project: projectId, limit: 20)\n\nprint(apiKeys)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\n\nvar apiKeys = await rewrite.ApiKeys.ListAsync(projectId, new ListApiKeysOptions\n{\n  Limit = 20\n});\n\nConsole.WriteLine(apiKeys);"
					}
				]
			},
			"post": {
				"tags": ["API Keys"],
				"operationId": "createProjectApiKey",
				"summary": "Crear API key",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/APIKeyCreateBody"
							},
							"examples": {
								"request": {
									"summary": "Ejemplo de solicitud",
									"value": {
										"name": "Jobs worker",
										"scopes": [
											"project:templates:read",
											"projects:webhooks:read"
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/APIKeyCreateResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498412",
												"key": "rw_8e4c3f7f8f9f0ab12cd34ef56",
												"count": 3,
												"createdAt": "2026-02-19T19:12:48.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Crea una API key del proyecto y devuelve el secreto una sola vez. Guardalo de forma segura.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst apiKey = await rewrite.apiKeys.create({\n  project: projectId,\n  name: 'Jobs worker',\n  scopes: ['project:templates:read', 'projects:webhooks:read'],\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\n\n_, err = client.APIKeys.Create(context.Background(), rewrite.CreateAPIKeyOptions{\n  Project: projectID,\n  RESTPostCreateAPIKeyBody: rewrite.RESTPostCreateAPIKeyBody{\n    Name: \"Jobs worker\",\n    Scopes: []rewrite.APIKeyScope{\n      rewrite.APIKeyScopeReadTemplates,\n      rewrite.APIKeyScopeReadWebhooks,\n    },\n  },\n})\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import APIKeyScope, Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\n\napi_key = client.api_keys.create(\n    {\n        \"project\": project_id,\n        \"name\": \"Jobs worker\",\n        \"scopes\": [\n            APIKeyScope.READ_TEMPLATES,\n            APIKeyScope.READ_WEBHOOKS,\n        ],\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.apiKeys.CreateApiKeyOptions;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n\n    var apiKey = rewrite.apiKeys().create(\n      CreateApiKeyOptions.builder()\n        .project(projectId)\n        .name(\"Jobs worker\")\n        .scopes(List.of(\"project:templates:read\", \"projects:webhooks:read\"))\n        .build()\n    );\n\n    System.out.println(apiKey);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n\n$apiKey = $rewrite->apiKeys->create([\n  'project' => $projectId,\n  'name' => 'Jobs worker',\n  'scopes' => ['project:templates:read', 'projects:webhooks:read'],\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\n\napi_key = rewrite.api_keys.create(\n  project: project_id,\n  name: \"Jobs worker\",\n  scopes: [\"project:templates:read\", \"projects:webhooks:read\"]\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.apiKeys.CreateApiKeyOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n\n  val apiKey = rewrite.apiKeys.create(\n    CreateApiKeyOptions(\n      project = projectId,\n      name = \"Jobs worker\",\n      scopes = listOf(\"project:templates:read\", \"projects:webhooks:read\")\n    )\n  )\n\n  println(apiKey)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\n\nlet apiKey = try await rewrite.apiKeys.create(\n  project: projectId,\n  name: \"Jobs worker\",\n  scopes: [\"project:templates:read\", \"projects:webhooks:read\"]\n)\n\nprint(apiKey)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\n\nvar apiKey = await rewrite.ApiKeys.CreateAsync(new CreateApiKeyOptions\n{\n  Project = projectId,\n  Name = \"Jobs worker\",\n  Scopes = new[] { \"project:templates:read\", \"projects:webhooks:read\" }\n});\n\nConsole.WriteLine(apiKey);"
					}
				]
			}
		},
		"/projects/{id}/api-keys/{key}": {
			"delete": {
				"tags": ["API Keys"],
				"operationId": "deleteProjectApiKey",
				"summary": "Revocar API key",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"name": "key",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498400"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Revoca una API key inmediatamente por key id.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst apiKeyId = '748395130237498400';\n\nawait rewrite.apiKeys.delete(apiKeyId, projectId);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\napiKeyID := \"748395130237498400\"\n\nif err := client.APIKeys.Delete(context.Background(), apiKeyID, projectID); err != nil {\n  log.Fatal(err)\n}\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\napi_key_id = \"748395130237498400\"\n\nclient.api_keys.delete(api_key_id, project_id)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n    var apiKeyId = \"748395130237498400\";\n\n    rewrite.apiKeys().delete(apiKeyId, projectId);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n$apiKeyId = '748395130237498400';\n\n$rewrite->apiKeys->delete($apiKeyId, $projectId);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\napi_key_id = \"748395130237498400\"\n\nrewrite.api_keys.delete(api_key_id, project_id)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n  val apiKeyId = \"748395130237498400\"\n\n  rewrite.apiKeys.delete(apiKeyId, projectId)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\nlet apiKeyId = \"748395130237498400\"\n\ntry await rewrite.apiKeys.delete(apiKeyId, project: projectId)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\nvar apiKeyId = \"748395130237498400\";\n\nawait rewrite.ApiKeys.DeleteAsync(apiKeyId, projectId);"
					}
				]
			}
		},
		"/projects/{id}/templates": {
			"get": {
				"tags": ["Templates"],
				"operationId": "listProjectTemplates",
				"summary": "Listar plantillas",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"$ref": "#/components/parameters/after"
					},
					{
						"$ref": "#/components/parameters/before"
					},
					{
						"$ref": "#/components/parameters/limit"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplatesListResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": [
												{
													"id": "748395130237498500",
													"name": "order_shipped",
													"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
													"variables": [
														{
															"name": "first_name",
															"fallback": "customer"
														}
													],
													"createdAt": "2026-02-19T18:00:00.000Z"
												}
											],
											"cursor": {
												"persist": true,
												"next": "748395130237498588"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Lista las plantillas del proyecto con paginacion por cursor.\n\nUsa `limit`, `after` y `before` para paginar.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst templates = await rewrite.templates.list(projectId, { limit: 20 });"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\n\n_, err = client.Templates.List(context.Background(), projectID, &rewrite.RESTGetListTemplatesQueryParams{Limit: 20})\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\n\ntemplates = client.templates.list(project_id, {\"limit\": 20})"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.templates.ListTemplatesOptions;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n\n    var templates = rewrite.templates().list(\n      projectId,\n      ListTemplatesOptions.builder()\n        .limit(20)\n        .build()\n    );\n\n    System.out.println(templates);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n\n$templates = $rewrite->templates->list($projectId, [\n  'limit' => 20,\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\n\ntemplates = rewrite.templates.list(project_id, limit: 20)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.templates.ListTemplatesOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n\n  val templates = rewrite.templates.list(\n    projectId,\n    ListTemplatesOptions(limit = 20)\n  )\n\n  println(templates)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\n\nlet templates = try await rewrite.templates.list(project: projectId, limit: 20)\n\nprint(templates)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\n\nvar templates = await rewrite.Templates.ListAsync(projectId, new ListTemplatesOptions\n{\n  Limit = 20\n});\n\nConsole.WriteLine(templates);"
					}
				]
			},
			"post": {
				"tags": ["Templates"],
				"operationId": "createProjectTemplate",
				"summary": "Crear plantilla",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TemplateCreateBody"
							},
							"examples": {
								"request": {
									"summary": "Ejemplo de solicitud",
									"value": {
										"name": "order_shipped",
										"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
										"variables": [
											{
												"name": "first_name",
												"fallback": "customer"
											},
											{
												"name": "order_id",
												"fallback": "0000"
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplateCreateResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498600",
												"createdAt": "2026-02-19T20:01:09.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Crea una plantilla reutilizable con variables y valores de fallback.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst template = await rewrite.templates.create({\n  project: projectId,\n  name: 'order_shipped',\n  content: 'Hi {{first_name}}, your order {{order_id}} is on the way.',\n  variables: [\n    { name: 'first_name', fallback: 'customer' },\n    { name: 'order_id', fallback: '0000' },\n  ],\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\nfirstNameFallback := \"customer\"\norderIDFallback := \"0000\"\n\n_, err = client.Templates.Create(context.Background(), rewrite.CreateTemplateOptions{\n  Project: projectID,\n  RESTPostCreateTemplateBody: rewrite.RESTPostCreateTemplateBody{\n    Name:    \"order_shipped\",\n    Content: \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n    Variables: []rewrite.APITemplateVariable{\n      {Name: \"first_name\", Fallback: &firstNameFallback},\n      {Name: \"order_id\", Fallback: &orderIDFallback},\n    },\n  },\n})\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\n\ntemplate = client.templates.create(\n    {\n        \"project\": project_id,\n        \"name\": \"order_shipped\",\n        \"content\": \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n        \"variables\": [\n            {\"name\": \"first_name\", \"fallback\": \"customer\"},\n            {\"name\": \"order_id\", \"fallback\": \"0000\"},\n        ],\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.templates.CreateTemplateOptions;\nimport com.rewritetoday.sdk.models.templates.TemplateVariable;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n\n    var template = rewrite.templates().create(\n      CreateTemplateOptions.builder()\n        .project(projectId)\n        .name(\"order_shipped\")\n        .content(\"Hi {{first_name}}, your order {{order_id}} is on the way.\")\n        .variables(List.of(\n          TemplateVariable.builder().name(\"first_name\").fallback(\"customer\").build(),\n          TemplateVariable.builder().name(\"order_id\").fallback(\"0000\").build()\n        ))\n        .build()\n    );\n\n    System.out.println(template);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n\n$template = $rewrite->templates->create([\n  'project' => $projectId,\n  'name' => 'order_shipped',\n  'content' => 'Hi {{first_name}}, your order {{order_id}} is on the way.',\n  'variables' => [\n    ['name' => 'first_name', 'fallback' => 'customer'],\n    ['name' => 'order_id', 'fallback' => '0000'],\n  ],\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\n\ntemplate = rewrite.templates.create(\n  project: project_id,\n  name: \"order_shipped\",\n  content: \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n  variables: [\n    { name: \"first_name\", fallback: \"customer\" },\n    { name: \"order_id\", fallback: \"0000\" }\n  ]\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.templates.CreateTemplateOptions\nimport com.rewritetoday.sdk.models.templates.TemplateVariable\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n\n  val template = rewrite.templates.create(\n    CreateTemplateOptions(\n      project = projectId,\n      name = \"order_shipped\",\n      content = \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n      variables = listOf(\n        TemplateVariable(name = \"first_name\", fallback = \"customer\"),\n        TemplateVariable(name = \"order_id\", fallback = \"0000\")\n      )\n    )\n  )\n\n  println(template)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\n\nlet template = try await rewrite.templates.create(\n  project: projectId,\n  name: \"order_shipped\",\n  content: \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n  variables: [\n    TemplateVariable(name: \"first_name\", fallback: \"customer\"),\n    TemplateVariable(name: \"order_id\", fallback: \"0000\")\n  ]\n)\n\nprint(template)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\n\nvar template = await rewrite.Templates.CreateAsync(new CreateTemplateOptions\n{\n  Project = projectId,\n  Name = \"order_shipped\",\n  Content = \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n  Variables = new[]\n  {\n    new TemplateVariable { Name = \"first_name\", Fallback = \"customer\" },\n    new TemplateVariable { Name = \"order_id\", Fallback = \"0000\" }\n  }\n});\n\nConsole.WriteLine(template);"
					}
				]
			}
		},
		"/projects/{id}/templates/{identifier}": {
			"get": {
				"tags": ["Templates"],
				"operationId": "getProjectTemplate",
				"summary": "Obtener plantilla",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"name": "identifier",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "ID unico de plantilla o nombre unico de plantilla.",
						"example": "order_shipped"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplateResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498500",
												"name": "order_shipped",
												"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
												"variables": [
													{
														"name": "first_name",
														"fallback": "customer"
													}
												],
												"createdAt": "2026-02-19T18:00:00.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Obtiene una plantilla por identificador (template id o template name).",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst templateIdentifier = 'order_shipped';\n\nconst template = await rewrite.templates.get(templateIdentifier, projectId);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\ntemplateIdentifier := \"order_shipped\"\n\n_, err = client.Templates.Get(context.Background(), templateIdentifier, projectID)\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\ntemplate_identifier = \"order_shipped\"\n\ntemplate = client.templates.get(template_identifier, project_id)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n    var templateIdentifier = \"order_shipped\";\n\n    var template = rewrite.templates().get(templateIdentifier, projectId);\n\n    System.out.println(template);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n$templateIdentifier = 'order_shipped';\n\n$template = $rewrite->templates->get($templateIdentifier, $projectId);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\ntemplate_identifier = \"order_shipped\"\n\ntemplate = rewrite.templates.get(template_identifier, project_id)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n  val templateIdentifier = \"order_shipped\"\n\n  val template = rewrite.templates.get(templateIdentifier, projectId)\n\n  println(template)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\nlet templateIdentifier = \"order_shipped\"\n\nlet template = try await rewrite.templates.get(templateIdentifier, project: projectId)\n\nprint(template)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\nvar templateIdentifier = \"order_shipped\";\n\nvar template = await rewrite.Templates.GetAsync(templateIdentifier, projectId);\n\nConsole.WriteLine(template);"
					}
				]
			}
		},
		"/projects/{id}/templates/{templateId}": {
			"patch": {
				"tags": ["Templates"],
				"operationId": "updateProjectTemplate",
				"summary": "Actualizar plantilla",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"name": "templateId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498500"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TemplateUpdateBody"
							},
							"examples": {
								"request": {
									"summary": "Ejemplo de solicitud",
									"value": {
										"content": "Hi {{first_name}}, your package {{order_id}} has shipped.",
										"variables": [
											{
												"name": "first_name",
												"fallback": "customer"
											},
											{
												"name": "order_id",
												"fallback": "0000"
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Actualiza parcialmente el contenido de la plantilla y/o sus variables.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst templateId = '748395130237498500';\n\nconst template = await rewrite.templates.update(templateId, {\n  project: projectId,\n  content: 'Hi {{first_name}}, your package {{order_id}} has shipped.',\n  variables: [\n    { name: 'first_name', fallback: 'customer' },\n    { name: 'order_id', fallback: '0000' },\n  ],\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\ntemplateID := \"748395130237498500\"\nfirstNameFallback := \"customer\"\norderIDFallback := \"0000\"\n\n_, err = client.Templates.Update(context.Background(), templateID, rewrite.UpdateTemplateOptions{\n  Project: projectID,\n  RESTPatchUpdateTemplateBody: rewrite.RESTPatchUpdateTemplateBody{\n    Content: \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n    Variables: []rewrite.APITemplateVariable{\n      {Name: \"first_name\", Fallback: &firstNameFallback},\n      {Name: \"order_id\", Fallback: &orderIDFallback},\n    },\n  },\n})\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\ntemplate_id = \"748395130237498500\"\n\ntemplate = client.templates.update(\n    template_id,\n    {\n        \"project\": project_id,\n        \"content\": \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n        \"variables\": [\n            {\"name\": \"first_name\", \"fallback\": \"customer\"},\n            {\"name\": \"order_id\", \"fallback\": \"0000\"},\n        ],\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.templates.TemplateVariable;\nimport com.rewritetoday.sdk.models.templates.UpdateTemplateOptions;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n    var templateId = \"748395130237498500\";\n\n    var template = rewrite.templates().update(\n      templateId,\n      UpdateTemplateOptions.builder()\n        .project(projectId)\n        .content(\"Hi {{first_name}}, your package {{order_id}} has shipped.\")\n        .variables(List.of(\n          TemplateVariable.builder().name(\"first_name\").fallback(\"customer\").build(),\n          TemplateVariable.builder().name(\"order_id\").fallback(\"0000\").build()\n        ))\n        .build()\n    );\n\n    System.out.println(template);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n$templateId = '748395130237498500';\n\n$template = $rewrite->templates->update($templateId, [\n  'project' => $projectId,\n  'content' => 'Hi {{first_name}}, your package {{order_id}} has shipped.',\n  'variables' => [\n    ['name' => 'first_name', 'fallback' => 'customer'],\n    ['name' => 'order_id', 'fallback' => '0000'],\n  ],\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\ntemplate_id = \"748395130237498500\"\n\ntemplate = rewrite.templates.update(\n  template_id,\n  project: project_id,\n  content: \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n  variables: [\n    { name: \"first_name\", fallback: \"customer\" },\n    { name: \"order_id\", fallback: \"0000\" }\n  ]\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.templates.TemplateVariable\nimport com.rewritetoday.sdk.models.templates.UpdateTemplateOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n  val templateId = \"748395130237498500\"\n\n  val template = rewrite.templates.update(\n    templateId,\n    UpdateTemplateOptions(\n      project = projectId,\n      content = \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n      variables = listOf(\n        TemplateVariable(name = \"first_name\", fallback = \"customer\"),\n        TemplateVariable(name = \"order_id\", fallback = \"0000\")\n      )\n    )\n  )\n\n  println(template)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\nlet templateId = \"748395130237498500\"\n\nlet template = try await rewrite.templates.update(\n  templateId,\n  project: projectId,\n  content: \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n  variables: [\n    TemplateVariable(name: \"first_name\", fallback: \"customer\"),\n    TemplateVariable(name: \"order_id\", fallback: \"0000\")\n  ]\n)\n\nprint(template)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\nvar templateId = \"748395130237498500\";\n\nvar template = await rewrite.Templates.UpdateAsync(templateId, new UpdateTemplateOptions\n{\n  Project = projectId,\n  Content = \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n  Variables = new[]\n  {\n    new TemplateVariable { Name = \"first_name\", Fallback = \"customer\" },\n    new TemplateVariable { Name = \"order_id\", Fallback = \"0000\" }\n  }\n});\n\nConsole.WriteLine(template);"
					}
				]
			},
			"delete": {
				"tags": ["Templates"],
				"operationId": "deleteProjectTemplate",
				"summary": "Eliminar plantilla",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"name": "templateId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498500"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Elimina una plantilla del proyecto.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst templateId = '748395130237498500';\n\nawait rewrite.templates.delete(templateId, projectId);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\ntemplateID := \"748395130237498500\"\n\nif err := client.Templates.Delete(context.Background(), templateID, projectID); err != nil {\n  log.Fatal(err)\n}\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\ntemplate_id = \"748395130237498500\"\n\nclient.templates.delete(template_id, project_id)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n    var templateId = \"748395130237498500\";\n\n    rewrite.templates().delete(templateId, projectId);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n$templateId = '748395130237498500';\n\n$rewrite->templates->delete($templateId, $projectId);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\ntemplate_id = \"748395130237498500\"\n\nrewrite.templates.delete(template_id, project_id)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n  val templateId = \"748395130237498500\"\n\n  rewrite.templates.delete(templateId, projectId)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\nlet templateId = \"748395130237498500\"\n\ntry await rewrite.templates.delete(templateId, project: projectId)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\nvar templateId = \"748395130237498500\";\n\nawait rewrite.Templates.DeleteAsync(templateId, projectId);"
					}
				]
			}
		},
		"/projects/{id}/webhooks": {
			"get": {
				"tags": ["Webhooks"],
				"operationId": "listProjectWebhooks",
				"summary": "Listar webhooks",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"$ref": "#/components/parameters/after"
					},
					{
						"$ref": "#/components/parameters/before"
					},
					{
						"$ref": "#/components/parameters/limit"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebhooksListResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": [
												{
													"id": "748395130237498700",
													"name": "Delivery events",
													"endpoint": "https://example.com/webhooks/rewrite",
													"events": [
														"sms.queued",
														"sms.delivered",
														"sms.failed"
													],
													"status": "ACTIVE",
													"createdAt": "2026-02-19T16:05:00.000Z"
												}
											],
											"cursor": {
												"persist": false
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Lista los endpoints webhook configurados para este proyecto.\n\nUsa `limit`, `after` y `before` para paginar.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst webhooks = await rewrite.webhooks.list(projectId, { limit: 20 });"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\n\n_, err = client.Webhooks.List(context.Background(), projectID, &rewrite.RESTGetListWebhooksQueryParams{Limit: 20})\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\n\nwebhooks = client.webhooks.list(project_id, {\"limit\": 20})"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.webhooks.ListWebhooksOptions;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n\n    var webhooks = rewrite.webhooks().list(\n      projectId,\n      ListWebhooksOptions.builder()\n        .limit(20)\n        .build()\n    );\n\n    System.out.println(webhooks);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n\n$webhooks = $rewrite->webhooks->list($projectId, [\n  'limit' => 20,\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\n\nwebhooks = rewrite.webhooks.list(project_id, limit: 20)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.webhooks.ListWebhooksOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n\n  val webhooks = rewrite.webhooks.list(\n    projectId,\n    ListWebhooksOptions(limit = 20)\n  )\n\n  println(webhooks)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\n\nlet webhooks = try await rewrite.webhooks.list(project: projectId, limit: 20)\n\nprint(webhooks)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\n\nvar webhooks = await rewrite.Webhooks.ListAsync(projectId, new ListWebhooksOptions\n{\n  Limit = 20\n});\n\nConsole.WriteLine(webhooks);"
					}
				]
			},
			"post": {
				"tags": ["Webhooks"],
				"operationId": "createProjectWebhook",
				"summary": "Crear webhook",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WebhookCreateBody"
							},
							"examples": {
								"request": {
									"summary": "Ejemplo de solicitud",
									"value": {
										"name": "Delivery events",
										"endpoint": "https://example.com/webhooks/rewrite",
										"events": ["sms.queued", "sms.delivered", "sms.failed"]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebhookCreateResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498711"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Crea un endpoint webhook y suscripciones de eventos.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst webhook = await rewrite.webhooks.create({\n  project: projectId,\n  name: 'Delivery events',\n  endpoint: 'https://example.com/webhooks/rewrite',\n  events: ['sms.queued', 'sms.delivered', 'sms.failed'],\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\n\n_, err = client.Webhooks.Create(context.Background(), rewrite.CreateWebhookOptions{\n  Project:  projectID,\n  Name:     \"Delivery events\",\n  Endpoint: \"https://example.com/webhooks/rewrite\",\n  Events: []rewrite.WebhookEventType{\n    rewrite.WebhookEventTypeSMSQueued,\n    rewrite.WebhookEventTypeSMSDelivered,\n    rewrite.WebhookEventTypeSMSFailed,\n  },\n})\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client, WebhookEventType\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\n\nwebhook = client.webhooks.create(\n    {\n        \"project\": project_id,\n        \"name\": \"Delivery events\",\n        \"endpoint\": \"https://example.com/webhooks/rewrite\",\n        \"events\": [\n            WebhookEventType.SMS_QUEUED,\n            WebhookEventType.SMS_DELIVERED,\n            WebhookEventType.SMS_FAILED,\n        ],\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.webhooks.CreateWebhookOptions;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n\n    var webhook = rewrite.webhooks().create(\n      CreateWebhookOptions.builder()\n        .project(projectId)\n        .name(\"Delivery events\")\n        .endpoint(\"https://example.com/webhooks/rewrite\")\n        .events(List.of(\"sms.queued\", \"sms.delivered\", \"sms.failed\"))\n        .build()\n    );\n\n    System.out.println(webhook);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n\n$webhook = $rewrite->webhooks->create([\n  'project' => $projectId,\n  'name' => 'Delivery events',\n  'endpoint' => 'https://example.com/webhooks/rewrite',\n  'events' => ['sms.queued', 'sms.delivered', 'sms.failed'],\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\n\nwebhook = rewrite.webhooks.create(\n  project: project_id,\n  name: \"Delivery events\",\n  endpoint: \"https://example.com/webhooks/rewrite\",\n  events: [\"sms.queued\", \"sms.delivered\", \"sms.failed\"]\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.webhooks.CreateWebhookOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n\n  val webhook = rewrite.webhooks.create(\n    CreateWebhookOptions(\n      project = projectId,\n      name = \"Delivery events\",\n      endpoint = \"https://example.com/webhooks/rewrite\",\n      events = listOf(\"sms.queued\", \"sms.delivered\", \"sms.failed\")\n    )\n  )\n\n  println(webhook)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\n\nlet webhook = try await rewrite.webhooks.create(\n  project: projectId,\n  name: \"Delivery events\",\n  endpoint: \"https://example.com/webhooks/rewrite\",\n  events: [\"sms.queued\", \"sms.delivered\", \"sms.failed\"]\n)\n\nprint(webhook)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\n\nvar webhook = await rewrite.Webhooks.CreateAsync(new CreateWebhookOptions\n{\n  Project = projectId,\n  Name = \"Delivery events\",\n  Endpoint = \"https://example.com/webhooks/rewrite\",\n  Events = new[] { \"sms.queued\", \"sms.delivered\", \"sms.failed\" }\n});\n\nConsole.WriteLine(webhook);"
					}
				]
			}
		},
		"/projects/{id}/webhooks/{webhookId}": {
			"get": {
				"tags": ["Webhooks"],
				"operationId": "getProjectWebhook",
				"summary": "Obtener webhook",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"name": "webhookId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498700"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebhookResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498700",
												"name": "Delivery events",
												"endpoint": "https://example.com/webhooks/rewrite",
												"events": ["sms.queued", "sms.delivered", "sms.failed"],
												"status": "ACTIVE",
												"createdAt": "2026-02-19T16:05:00.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Devuelve una unica configuracion de webhook.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst webhookId = '748395130237498700';\n\nconst webhook = await rewrite.webhooks.get(webhookId, projectId);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\nwebhookID := \"748395130237498700\"\n\n_, err = client.Webhooks.Get(context.Background(), webhookID, projectID)\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\nwebhook_id = \"748395130237498700\"\n\nwebhook = client.webhooks.get(webhook_id, project_id)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n    var webhookId = \"748395130237498700\";\n\n    var webhook = rewrite.webhooks().get(webhookId, projectId);\n\n    System.out.println(webhook);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n$webhookId = '748395130237498700';\n\n$webhook = $rewrite->webhooks->get($webhookId, $projectId);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\nwebhook_id = \"748395130237498700\"\n\nwebhook = rewrite.webhooks.get(webhook_id, project_id)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n  val webhookId = \"748395130237498700\"\n\n  val webhook = rewrite.webhooks.get(webhookId, projectId)\n\n  println(webhook)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\nlet webhookId = \"748395130237498700\"\n\nlet webhook = try await rewrite.webhooks.get(webhookId, project: projectId)\n\nprint(webhook)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\nvar webhookId = \"748395130237498700\";\n\nvar webhook = await rewrite.Webhooks.GetAsync(webhookId, projectId);\n\nConsole.WriteLine(webhook);"
					}
				]
			},
			"patch": {
				"tags": ["Webhooks"],
				"operationId": "updateProjectWebhook",
				"summary": "Actualizar webhook",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"name": "webhookId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498700"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WebhookUpdateBody"
							},
							"examples": {
								"request": {
									"summary": "Ejemplo de solicitud",
									"value": {
										"endpoint": "https://example.com/webhooks/rewrite-v2",
										"events": ["sms.delivered", "sms.failed"],
										"status": "ACTIVE"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Actualiza endpoint webhook, eventos, nombre o estado.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst webhookId = '748395130237498700';\n\nconst webhook = await rewrite.webhooks.update(webhookId, {\n  project: projectId,\n  endpoint: 'https://example.com/webhooks/rewrite-v2',\n  events: ['sms.delivered', 'sms.failed'],\n  status: 'ACTIVE',\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\nwebhookID := \"748395130237498700\"\n\n_, err = client.Webhooks.Update(context.Background(), webhookID, rewrite.UpdateWebhookOptions{\n  Project: projectID,\n  RESTPatchUpdateWebhookBody: rewrite.RESTPatchUpdateWebhookBody{\n    Endpoint: \"https://example.com/webhooks/rewrite-v2\",\n    Events: []rewrite.WebhookEventType{\n      rewrite.WebhookEventTypeSMSDelivered,\n      rewrite.WebhookEventTypeSMSFailed,\n    },\n    Status: rewrite.WebhookStatusActive,\n  },\n})\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client, WebhookEventType, WebhookStatus\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\nwebhook_id = \"748395130237498700\"\n\nwebhook = client.webhooks.update(\n    webhook_id,\n    {\n        \"project\": project_id,\n        \"endpoint\": \"https://example.com/webhooks/rewrite-v2\",\n        \"events\": [\n            WebhookEventType.SMS_DELIVERED,\n            WebhookEventType.SMS_FAILED,\n        ],\n        \"status\": WebhookStatus.ACTIVE,\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.webhooks.UpdateWebhookOptions;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n    var webhookId = \"748395130237498700\";\n\n    var webhook = rewrite.webhooks().update(\n      webhookId,\n      UpdateWebhookOptions.builder()\n        .project(projectId)\n        .endpoint(\"https://example.com/webhooks/rewrite-v2\")\n        .events(List.of(\"sms.delivered\", \"sms.failed\"))\n        .status(\"ACTIVE\")\n        .build()\n    );\n\n    System.out.println(webhook);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n$webhookId = '748395130237498700';\n\n$webhook = $rewrite->webhooks->update($webhookId, [\n  'project' => $projectId,\n  'endpoint' => 'https://example.com/webhooks/rewrite-v2',\n  'events' => ['sms.delivered', 'sms.failed'],\n  'status' => 'ACTIVE',\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\nwebhook_id = \"748395130237498700\"\n\nwebhook = rewrite.webhooks.update(\n  webhook_id,\n  project: project_id,\n  endpoint: \"https://example.com/webhooks/rewrite-v2\",\n  events: [\"sms.delivered\", \"sms.failed\"],\n  status: \"ACTIVE\"\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.webhooks.UpdateWebhookOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n  val webhookId = \"748395130237498700\"\n\n  val webhook = rewrite.webhooks.update(\n    webhookId,\n    UpdateWebhookOptions(\n      project = projectId,\n      endpoint = \"https://example.com/webhooks/rewrite-v2\",\n      events = listOf(\"sms.delivered\", \"sms.failed\"),\n      status = \"ACTIVE\"\n    )\n  )\n\n  println(webhook)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\nlet webhookId = \"748395130237498700\"\n\nlet webhook = try await rewrite.webhooks.update(\n  webhookId,\n  project: projectId,\n  endpoint: \"https://example.com/webhooks/rewrite-v2\",\n  events: [\"sms.delivered\", \"sms.failed\"],\n  status: \"ACTIVE\"\n)\n\nprint(webhook)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\nvar webhookId = \"748395130237498700\";\n\nvar webhook = await rewrite.Webhooks.UpdateAsync(webhookId, new UpdateWebhookOptions\n{\n  Project = projectId,\n  Endpoint = \"https://example.com/webhooks/rewrite-v2\",\n  Events = new[] { \"sms.delivered\", \"sms.failed\" },\n  Status = \"ACTIVE\"\n});\n\nConsole.WriteLine(webhook);"
					}
				]
			},
			"delete": {
				"tags": ["Webhooks"],
				"operationId": "deleteProjectWebhook",
				"summary": "Eliminar webhook",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"name": "webhookId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498700"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Elimina un webhook y detiene futuras entregas de eventos.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst webhookId = '748395130237498700';\n\nawait rewrite.webhooks.delete(webhookId, projectId);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\nwebhookID := \"748395130237498700\"\n\nif err := client.Webhooks.Delete(context.Background(), webhookID, projectID); err != nil {\n  log.Fatal(err)\n}\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\nwebhook_id = \"748395130237498700\"\n\nclient.webhooks.delete(webhook_id, project_id)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n    var webhookId = \"748395130237498700\";\n\n    rewrite.webhooks().delete(webhookId, projectId);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n$webhookId = '748395130237498700';\n\n$rewrite->webhooks->delete($webhookId, $projectId);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\nwebhook_id = \"748395130237498700\"\n\nrewrite.webhooks.delete(webhook_id, project_id)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n  val webhookId = \"748395130237498700\"\n\n  rewrite.webhooks.delete(webhookId, projectId)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\nlet webhookId = \"748395130237498700\"\n\ntry await rewrite.webhooks.delete(webhookId, project: projectId)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\nvar webhookId = \"748395130237498700\";\n\nawait rewrite.Webhooks.DeleteAsync(webhookId, projectId);"
					}
				]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API Key",
				"description": "Envia tu API key como `Authorization: Bearer <api-key>`."
			}
		},
		"parameters": {
			"after": {
				"name": "after",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "ID unico de cursor para obtener elementos despues de este valor.",
				"example": "748395130237498588"
			},
			"before": {
				"name": "before",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "ID unico de cursor para obtener elementos antes de este valor.",
				"example": "748395130237498399"
			},
			"limit": {
				"name": "limit",
				"in": "query",
				"required": false,
				"schema": {
					"type": "integer",
					"minimum": 2,
					"maximum": 100
				},
				"description": "Numero de elementos a devolver.",
				"example": 20
			}
		},
		"responses": {},
		"schemas": {
			"Snowflake": {
				"type": "string",
				"pattern": "^[0-9]{1,32}$"
			},
			"Cursor": {
				"type": "object",
				"additionalProperties": false,
				"required": ["persist"],
				"properties": {
					"persist": {
						"type": "boolean",
						"description": "Indica si se puede solicitar otra pagina usando `next`."
					},
					"next": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Cursor para solicitar la siguiente pagina (`after`)."
					}
				},
				"example": {
					"persist": true,
					"next": "748395130237498399"
				}
			},
			"OkEmptyResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "null",
						"description": "Esta respuesta no devuelve datos."
					}
				},
				"description": "Respuesta exitosa. Este endpoint no devuelve datos.",
				"example": {
					"ok": true,
					"data": null
				}
			},
			"ProjectUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"icon": {
						"type": "null",
						"description": "Establece `null` para eliminar el icono (cuando se soporte)."
					},
					"name": {
						"type": "string",
						"pattern": "^[A-Za-z0-9,-_ ]{2,64}$",
						"description": "Nombre para mostrar (2-64 caracteres)."
					}
				},
				"description": "Campos que se pueden actualizar en un proyecto.",
				"example": {
					"name": "Marketing Alerts"
				}
			},
			"APIKey": {
				"type": "object",
				"additionalProperties": false,
				"required": ["id", "name", "prefix", "scopes", "createdAt"],
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "id de API key."
					},
					"name": {
						"type": "string",
						"description": "Nombre descriptivo de la clave."
					},
					"prefix": {
						"type": "string",
						"description": "Prefijo de clave publica para identificacion."
					},
					"scopes": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						},
						"description": "Scopes otorgados a esta clave."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Marca de tiempo de creacion (UTC)."
					}
				},
				"description": "Metadatos de API key del proyecto (el secreto no se vuelve a devolver).",
				"example": {
					"id": "748395130237498400",
					"name": "Production backend",
					"prefix": "rw_8e4c",
					"scopes": ["project:templates:write", "projects:webhooks:write"],
					"createdAt": "2026-02-19T19:10:02.000Z"
				}
			},
			"APIKeysListResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data", "cursor"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/APIKey"
						},
						"description": "campo data."
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor",
						"description": "campo cursor."
					}
				},
				"example": {
					"ok": true,
					"data": [
						{
							"id": "748395130237498400",
							"name": "Production backend",
							"prefix": "rw_8e4c",
							"scopes": ["project:templates:write", "projects:webhooks:write"],
							"createdAt": "2026-02-19T19:10:02.000Z"
						}
					],
					"cursor": {
						"persist": false
					}
				},
				"description": "Esquema APIKeysListResponse."
			},
			"APIKeyCreateBody": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32,
						"description": "campo name."
					},
					"scopes": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						},
						"description": "campo scopes."
					}
				},
				"description": "Crea una API key de proyecto con scopes opcionales.",
				"example": {
					"name": "Jobs worker",
					"scopes": ["project:templates:read", "projects:webhooks:read"]
				}
			},
			"APIKeyCreateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the API key was created successfully."
					},
					"data": {
						"type": "object",
						"additionalProperties": false,
						"required": ["id", "key", "createdAt"],
						"properties": {
							"id": {
								"$ref": "#/components/schemas/Snowflake",
								"description": "ID of the newly created API key."
							},
							"key": {
								"type": "string",
								"description": "One-time secret API key value. Store it securely; it will not be shown again."
							},
							"createdAt": {
								"type": "string",
								"format": "date-time",
								"description": "Creation timestamp in ISO 8601 format (UTC)."
							}
						},
						"description": "Details returned once after API key creation."
					}
				},
				"description": "Respuesta de creacion que contiene la clave secreta de un solo uso.",
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498412",
						"key": "rw_8e4c3f7f8f9f0ab12cd34ef56",
						"createdAt": "2026-02-19T19:12:48.000Z"
					}
				}
			},
			"TemplateVariable": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name", "fallback"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Clave de variable usada por tu app."
					},
					"fallback": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64,
						"description": "Valor por defecto cuando tu payload no proporciona la variable."
					}
				},
				"description": "Variable con nombre usada en el cuerpo de la plantilla.",
				"example": {
					"name": "first_name",
					"fallback": "customer"
				}
			},
			"Template": {
				"type": "object",
				"additionalProperties": false,
				"required": ["id", "name", "createdAt"],
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "ID unico de plantilla."
					},
					"name": {
						"type": "string",
						"description": "campo name."
					},
					"content": {
						"type": ["string", "null"],
						"description": "campo content."
					},
					"variables": {
						"type": ["array", "null"],
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "campo variables."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Marca de tiempo de creacion UTC."
					}
				},
				"example": {
					"id": "748395130237498500",
					"name": "order_shipped",
					"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						}
					],
					"createdAt": "2026-02-19T18:00:00.000Z"
				}
			},
			"TemplatesListResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data", "cursor"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Template"
						},
						"description": "campo data."
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor",
						"description": "campo cursor."
					}
				},
				"example": {
					"ok": true,
					"data": [
						{
							"id": "748395130237498500",
							"name": "order_shipped",
							"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
							"variables": [
								{
									"name": "first_name",
									"fallback": "customer"
								}
							],
							"createdAt": "2026-02-19T18:00:00.000Z"
						}
					],
					"cursor": {
						"persist": true,
						"next": "748395130237498588"
					}
				},
				"description": "Esquema TemplatesListResponse."
			},
			"TemplateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"$ref": "#/components/schemas/Template",
						"description": "campo data."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498500",
						"name": "order_shipped",
						"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
						"variables": [
							{
								"name": "first_name",
								"fallback": "customer"
							}
						],
						"createdAt": "2026-02-19T18:00:00.000Z"
					}
				},
				"description": "Esquema TemplateResponse."
			},
			"TemplateCreateBody": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name", "content", "variables"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "campo name."
					},
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "campo content."
					},
					"variables": {
						"type": "array",
						"minItems": 1,
						"maxItems": 15,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "campo variables."
					}
				},
				"description": "Crea una plantilla SMS reutilizable.",
				"example": {
					"name": "order_shipped",
					"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						},
						{
							"name": "order_id",
							"fallback": "0000"
						}
					]
				}
			},
			"TemplateUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "campo content."
					},
					"variables": {
						"type": "array",
						"minItems": 1,
						"maxItems": 15,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "campo variables."
					}
				},
				"description": "Actualiza contenido de plantilla y/o variables.",
				"example": {
					"content": "Hi {{first_name}}, your package {{order_id}} has shipped.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						},
						{
							"name": "order_id",
							"fallback": "0000"
						}
					]
				}
			},
			"TemplateCreateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "object",
						"required": ["id", "createdAt"],
						"properties": {
							"id": {
								"$ref": "#/components/schemas/Snowflake"
							},
							"createdAt": {
								"type": "string",
								"format": "date-time"
							}
						},
						"description": "campo data."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498600",
						"createdAt": "2026-02-19T20:01:09.000Z"
					}
				},
				"description": "Esquema TemplateCreateResponse."
			},
			"WebhookEventType": {
				"type": "string",
				"enum": [
					"sms.queued",
					"sms.delivered",
					"sms.scheduled",
					"sms.failed",
					"sms.canceled"
				],
				"description": "Tipos de eventos webhook soportados.",
				"example": "sms.delivered"
			},
			"WebhookStatus": {
				"type": "string",
				"enum": ["ACTIVE", "INACTIVE"],
				"example": "ACTIVE"
			},
			"Webhook": {
				"type": "object",
				"additionalProperties": false,
				"required": ["id", "endpoint", "events", "status", "createdAt"],
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "ID unico de webhook."
					},
					"name": {
						"type": ["string", "null"],
						"description": "campo name."
					},
					"endpoint": {
						"type": "string",
						"format": "uri",
						"description": "campo endpoint."
					},
					"events": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/WebhookEventType"
						},
						"description": "campo events."
					},
					"status": {
						"$ref": "#/components/schemas/WebhookStatus",
						"description": "campo status."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Marca de tiempo de creacion UTC."
					}
				},
				"example": {
					"id": "748395130237498700",
					"name": "Delivery events",
					"endpoint": "https://example.com/webhooks/rewrite",
					"events": ["sms.queued", "sms.delivered", "sms.failed"],
					"status": "ACTIVE",
					"createdAt": "2026-02-19T16:05:00.000Z"
				}
			},
			"WebhooksListResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data", "cursor"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Webhook"
						},
						"description": "campo data."
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor",
						"description": "campo cursor."
					}
				},
				"example": {
					"ok": true,
					"data": [
						{
							"id": "748395130237498700",
							"name": "Delivery events",
							"endpoint": "https://example.com/webhooks/rewrite",
							"events": ["sms.queued", "sms.delivered", "sms.failed"],
							"status": "ACTIVE",
							"createdAt": "2026-02-19T16:05:00.000Z"
						}
					],
					"cursor": {
						"persist": false
					}
				},
				"description": "Esquema WebhooksListResponse."
			},
			"WebhookResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"$ref": "#/components/schemas/Webhook",
						"description": "campo data."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498700",
						"name": "Delivery events",
						"endpoint": "https://example.com/webhooks/rewrite",
						"events": ["sms.queued", "sms.delivered", "sms.failed"],
						"status": "ACTIVE",
						"createdAt": "2026-02-19T16:05:00.000Z"
					}
				},
				"description": "Esquema WebhookResponse."
			},
			"WebhookCreateBody": {
				"type": "object",
				"additionalProperties": false,
				"required": ["events", "endpoint"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "campo name."
					},
					"events": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/WebhookEventType"
						},
						"description": "campo events."
					},
					"endpoint": {
						"type": "string",
						"format": "uri",
						"minLength": 1,
						"maxLength": 255,
						"description": "campo endpoint."
					}
				},
				"description": "Crea un webhook para recibir eventos SMS.",
				"example": {
					"name": "Delivery events",
					"endpoint": "https://example.com/webhooks/rewrite",
					"events": ["sms.queued", "sms.delivered", "sms.failed"]
				}
			},
			"WebhookUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"name": {
						"oneOf": [
							{
								"type": "string",
								"minLength": 1,
								"maxLength": 32
							},
							{
								"type": "null"
							}
						],
						"description": "campo name."
					},
					"events": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/WebhookEventType"
						},
						"description": "campo events."
					},
					"endpoint": {
						"type": "string",
						"format": "uri",
						"minLength": 1,
						"maxLength": 255,
						"description": "campo endpoint."
					},
					"status": {
						"$ref": "#/components/schemas/WebhookStatus",
						"description": "campo status."
					}
				},
				"description": "Actualiza endpoint webhook, eventos suscritos, nombre o estado.",
				"example": {
					"endpoint": "https://example.com/webhooks/rewrite-v2",
					"events": ["sms.delivered", "sms.failed"],
					"status": "ACTIVE"
				}
			},
			"WebhookCreateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "object",
						"required": ["id"],
						"properties": {
							"id": {
								"$ref": "#/components/schemas/Snowflake"
							}
						},
						"description": "campo data."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498711"
					}
				},
				"description": "Esquema WebhookCreateResponse."
			},
			"AuthScope": {
				"type": "string",
				"description": "Permission scope accepted by API keys. Use scoped permissions whenever possible.\n\nCommon values:\n- `project:read`\n- `project:write`\n- `project:api_keys:read`\n- `project:templates:read`\n- `project:templates:write`\n- `projects:webhooks:read`\n- `projects:webhooks:write`\n- `projects:payments:read`\n- `*` (full access)",
				"example": "project:templates:write"
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	]
}
