{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Rewrite",
    "version": "1.0.0",
    "summary": "Referencia de la API de proyectos (Projects, API Keys, Templates, Webhooks).",
    "description": "Referencia publica completa de los endpoints de nivel proyecto en Rewrite API v1.\n\nTodos los endpoints devuelven un sobre consistente (`ok`, `data` y `cursor` opcional).\nUsa bearer token (API key) con scopes o sesion autenticada por cookie."
  },
  "servers": [
    {
      "url": "https://api.rewritetoday.com/v1",
      "description": "Produccion"
    }
  ],
  "tags": [
    {
      "name": "Projects",
      "description": "Metadatos del proyecto y ciclo de vida."
    }
  ],
  "paths": {
    "/projects/{id}": {
      "patch": {
        "tags": [
          "Projects"
        ],
        "operationId": "updateProject",
        "summary": "Actualizar proyecto",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Snowflake"
            },
            "example": "748395130237498368"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateBody"
              },
              "examples": {
                "request": {
                  "summary": "Ejemplo de solicitud",
                  "value": {
                    "name": "Marketing Alerts"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEmptyResponse"
                },
                "examples": {
                  "response": {
                    "summary": "Ejemplo de respuesta",
                    "value": {
                      "ok": true,
                      "data": null
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Actualiza campos mutables del proyecto como `name`. Requiere scope `project:write` para API keys.",
        "x-codeSamples": [
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst response = await rewrite.projects.update(projectId, {\n  name: 'Marketing Alerts',\n});"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_live_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  projectID := \"748395130237498368\"\n\n  _, err = client.Projects.Update(context.Background(), projectID, rewrite.RESTPatchUpdateProjectBody{\n    Name: \"Marketing Alerts\",\n  })\n  if err != nil { log.Fatal(err) }\n}"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from rewrite import Rewrite\nimport requests\n\nclient = Rewrite(api_key='rw_live_your_api_key')\n\nresponse = requests.request(\n    'PATCH',\n    'https://api.rewritetoday.com/v1/projects/748395130237498368',\n    headers={\n        'Authorization': \"Bearer rw_live_your_api_key\",\n        'Content-Type': 'application/json',\n    },\n    json={\n      \"name\": \"Marketing Alerts\"\n    },\n)\nprint(response.json())"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "var client = HttpClient.newHttpClient();\nvar json = \"{\\\"name\\\":\\\"Marketing Alerts\\\"}\";\nvar requestBuilder = HttpRequest.newBuilder()\n  .uri(URI.create(\"https://api.rewritetoday.com/v1/projects/748395130237498368\"))\n  .header(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .header(\"Content-Type\", \"application/json\")\n  .method(\"PATCH\", HttpRequest.BodyPublishers.ofString(json));\nvar response = client.send(requestBuilder.build(), HttpResponse.BodyHandlers.ofString());"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "<?php\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, 'https://api.rewritetoday.com/v1/projects/748395130237498368');\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'PATCH');\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n  'Authorization: Bearer rw_live_your_api_key',\n  'Content-Type: application/json',\n]);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, '{\"name\":\"Marketing Alerts\"}');\n$response = curl_exec($ch);\ncurl_close($ch);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "uri = URI.parse('https://api.rewritetoday.com/v1/projects/748395130237498368')\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\nrequest = Net::HTTP::Patch.new(uri.request_uri)\nrequest['Authorization'] = 'Bearer rw_live_your_api_key'\nrequest['Content-Type'] = 'application/json'\nrequest.body = \"{\\\"name\\\":\\\"Marketing Alerts\\\"}\"\nresponse = http.request(request)\nputs response.body"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "val client = OkHttpClient()\nval body = \"{\\\"name\\\":\\\"Marketing Alerts\\\"}\".toRequestBody(\"application/json\".toMediaType())\nval request = Request.Builder()\n  .url(\"https://api.rewritetoday.com/v1/projects/748395130237498368\")\n  .addHeader(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"PATCH\", body)\n  .build()\nval response = client.newCall(request).execute()"
          },
          {
            "lang": "Swift",
            "label": "Swift",
            "source": "let url = URL(string: \"https://api.rewritetoday.com/v1/projects/748395130237498368\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"PATCH\"\nrequest.setValue(\"rw_live_your_api_key\", forHTTPHeaderField: \"Authorization\")\nrequest.setValue(\"application/json\", forHTTPHeaderField: \"Content-Type\")\nrequest.httpBody = \"{\\\"name\\\":\\\"Marketing Alerts\\\"}\".data(using: .utf8)\nlet (data, _, _) = try await URLSession.shared.data(for: request)"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "using var client = new HttpClient();\nusing var request = new HttpRequestMessage();\nrequest.Method = HttpMethod.Patch;\nrequest.RequestUri = new Uri(\"https://api.rewritetoday.com/v1/projects/748395130237498368\");\nrequest.Headers.Add(\"Authorization\", \"Bearer rw_live_your_api_key\");\nrequest.Content = new StringContent(\"{\\\"name\\\":\\\"Marketing Alerts\\\"}\", Encoding.UTF8, \"application/json\");\nvar response = await client.SendAsync(request);\nvar content = await response.Content.ReadAsStringAsync();"
          },
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X PATCH 'https://api.rewritetoday.com/v1/projects/748395130237498368' \\\\\n  -H 'Authorization: Bearer rw_live_your_api_key'\n  -H 'Content-Type: application/json' \\\\\n  -d '{\"name\":\"Marketing Alerts\"}'"
          }
        ]
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "operationId": "deleteProject",
        "summary": "Eliminar proyecto",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Snowflake"
            },
            "example": "748395130237498368"
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEmptyResponse"
                },
                "examples": {
                  "response": {
                    "summary": "Ejemplo de respuesta",
                    "value": {
                      "ok": true,
                      "data": null
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Elimina permanentemente el proyecto y los recursos asociados. Operacion solo para el propietario.",
        "x-codeSamples": [
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nawait rewrite.projects.delete(projectId);"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_live_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  projectID := \"748395130237498368\"\n\n  if err := client.Projects.Delete(context.Background(), projectID); err != nil {\n    log.Fatal(err)\n  }\n}"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "from rewrite import Rewrite\nimport requests\n\nclient = Rewrite(api_key='rw_live_your_api_key')\n\nresponse = requests.request(\n    'DELETE',\n    'https://api.rewritetoday.com/v1/projects/748395130237498368',\n    headers={\n        'Authorization': \"Bearer rw_live_your_api_key\",\n    },\n)\nprint(response.json())"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "var client = HttpClient.newHttpClient();\nvar requestBuilder = HttpRequest.newBuilder()\n  .uri(URI.create(\"https://api.rewritetoday.com/v1/projects/748395130237498368\"))\n  .header(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"DELETE\", HttpRequest.BodyPublishers.noBody());\nvar response = client.send(requestBuilder.build(), HttpResponse.BodyHandlers.ofString());"
          },
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "<?php\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, 'https://api.rewritetoday.com/v1/projects/748395130237498368');\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'DELETE');\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n  'Authorization: Bearer rw_live_your_api_key',\n]);\n$response = curl_exec($ch);\ncurl_close($ch);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "uri = URI.parse('https://api.rewritetoday.com/v1/projects/748395130237498368')\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\nrequest = Net::HTTP::Delete.new(uri.request_uri)\nrequest['Authorization'] = 'Bearer rw_live_your_api_key'\nresponse = http.request(request)\nputs response.body"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "val client = OkHttpClient()\nval request = Request.Builder()\n  .url(\"https://api.rewritetoday.com/v1/projects/748395130237498368\")\n  .addHeader(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"DELETE\", null)\n  .build()\nval response = client.newCall(request).execute()"
          },
          {
            "lang": "Swift",
            "label": "Swift",
            "source": "let url = URL(string: \"https://api.rewritetoday.com/v1/projects/748395130237498368\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"DELETE\"\nrequest.setValue(\"rw_live_your_api_key\", forHTTPHeaderField: \"Authorization\")\nlet (data, _, _) = try await URLSession.shared.data(for: request)"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "using var client = new HttpClient();\nusing var request = new HttpRequestMessage();\nrequest.Method = HttpMethod.Delete;\nrequest.RequestUri = new Uri(\"https://api.rewritetoday.com/v1/projects/748395130237498368\");\nrequest.Headers.Add(\"Authorization\", \"Bearer rw_live_your_api_key\");\nvar response = await client.SendAsync(request);\nvar content = await response.Content.ReadAsStringAsync();"
          },
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X DELETE 'https://api.rewritetoday.com/v1/projects/748395130237498368' \\\\\n  -H 'Authorization: Bearer rw_live_your_api_key'"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Envia tu API key como `Authorization: Bearer <api-key>`."
      }
    },
    "parameters": {},
    "responses": {},
    "schemas": {
      "Snowflake": {
        "type": "string",
        "pattern": "^[0-9]{1,32}$",
        "description": "Unique resource identifier in snowflake format.",
        "example": "748395130237498368"
      },
      "OkEmptyResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ok",
          "data"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true,
            "description": "campo ok."
          },
          "data": {
            "type": "null",
            "description": "Esta respuesta no devuelve datos."
          }
        },
        "description": "Respuesta exitosa. Este endpoint no devuelve datos.",
        "example": {
          "ok": true,
          "data": null
        }
      },
      "ProjectUpdateBody": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "icon": {
            "type": "null",
            "description": "Establece `null` para eliminar el icono (cuando se soporte)."
          },
          "name": {
            "type": "string",
            "pattern": "^[A-Za-z0-9,-_ ]{2,64}$",
            "description": "Nombre para mostrar (2-64 caracteres)."
          }
        },
        "description": "Campos que se pueden actualizar en un proyecto.",
        "example": {
          "name": "Marketing Alerts"
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
