{
	"openapi": "3.1.0",
	"info": {
		"title": "API de Rewrite",
		"version": "1.0.0",
		"summary": "Referencia de la API de proyectos (Projects, API Keys, Templates, Webhooks).",
		"description": "Referencia publica completa de los endpoints de nivel proyecto en Rewrite API v1.\n\nTodos los endpoints devuelven un sobre consistente (`ok`, `data` y `cursor` opcional).\nUsa bearer token (API key) con scopes o sesion autenticada por cookie."
	},
	"servers": [
		{
			"url": "https://api.rewritetoday.com/v1",
			"description": "Produccion"
		}
	],
	"tags": [
		{
			"name": "Projects",
			"description": "Metadatos del proyecto y ciclo de vida."
		}
	],
	"paths": {
		"/projects/{id}": {
			"patch": {
				"tags": ["Projects"],
				"operationId": "updateProject",
				"summary": "Actualizar proyecto",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ProjectUpdateBody"
							},
							"examples": {
								"request": {
									"summary": "Ejemplo de solicitud",
									"value": {
										"name": "Marketing Alerts"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Actualiza campos mutables del proyecto como `name`. Requiere scope `project:write` para API keys.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst project = await rewrite.projects.update(projectId, {\n  name: 'Marketing Alerts',\n});"
					}
				]
			},
			"delete": {
				"tags": ["Projects"],
				"operationId": "deleteProject",
				"summary": "Eliminar proyecto",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					}
				],
				"responses": {
					"200": {
						"description": "Respuesta",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Ejemplo de respuesta",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Elimina permanentemente el proyecto y los recursos asociados. Operacion solo para el propietario.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nawait rewrite.projects.delete(projectId);"
					}
				]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API Key",
				"description": "Envia tu API key como `Authorization: Bearer <api-key>`."
			}
		},
		"parameters": {},
		"responses": {},
		"schemas": {
			"Snowflake": {
				"type": "string",
				"pattern": "^[0-9]{1,32}$"
			},
			"OkEmptyResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "campo ok."
					},
					"data": {
						"type": "null",
						"description": "Esta respuesta no devuelve datos."
					}
				},
				"description": "Respuesta exitosa. Este endpoint no devuelve datos.",
				"example": {
					"ok": true,
					"data": null
				}
			},
			"ProjectUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"icon": {
						"type": "null",
						"description": "Establece `null` para eliminar el icono (cuando se soporte)."
					},
					"name": {
						"type": "string",
						"pattern": "^[A-Za-z0-9,-_ ]{2,64}$",
						"description": "Nombre para mostrar (2-64 caracteres)."
					}
				},
				"description": "Campos que se pueden actualizar en un proyecto.",
				"example": {
					"name": "Marketing Alerts"
				}
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	]
}
