{
	"openapi": "3.1.0",
	"info": {
		"title": "Rewrite API",
		"version": "1.0.0",
		"summary": "Project-level API reference for Rewrite v1.",
		"description": "Reference for the externally supported API-key-accessible endpoints in Rewrite API v1.\n\nAll successful responses use the `ok` / `data` envelope. Paginated list endpoints return `cursor` at the top level."
	},
	"servers": [
		{
			"url": "https://api.rewritetoday.com/v1",
			"description": "Production"
		}
	],
	"tags": [
		{
			"name": "Messages",
			"description": "Send, read and manage SMS messages."
		}
	],
	"paths": {
		"/messages": {
			"post": {
				"tags": [
					"Messages"
				],
				"operationId": "createMessage",
				"summary": "Send a message",
				"description": "Send one SMS with inline content or by rendering a saved template. This route accepts Brazilian destination numbers in `+55` format and returns the accepted message ID immediately. Requires API key scope `message:write`.",
				"x-codeSamples": [
					{
						"lang": "typescript",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY);\n\nconst { data, error } = await rewrite.messages.send({\n  to: '+5511999999999',\n  content: 'Rewrite: seu codigo e 478201',\n  tags: [{ name: 'flow', value: 'login' }],\n});\n\nif (error) throw error;"
					}
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/IdempotencyKey"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MessageCreateBody"
							},
							"examples": {
								"withContent": {
									"summary": "With content",
									"value": {
										"to": "+5511999999999",
										"content": "Rewrite: seu codigo e 478201",
										"tags": [
											{
												"name": "flow",
												"value": "login"
											}
										],
										"scheduledAt": "2026-03-20T14:30:00.000Z",
										"segmentation": {
											"max": 2,
											"mode": "send",
											"smart": true
										}
									}
								},
								"usingTemplate": {
									"summary": "Using templates",
									"value": {
										"to": "+5511888888888",
										"templateId": "748395130237498620",
										"variables": {
											"code": "941205",
											"name": "Fernanda"
										},
										"tags": [
											{
												"name": "flow",
												"value": "login"
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MessageCreateResponse"
								},
								"example": {
									"ok": true,
									"data": {
										"id": "748395130237498412",
										"createdAt": "2026-03-20T14:22:31.562Z",
										"analysis": {
											"characters": 33,
											"encoding": "gsm7",
											"segments": {
												"concat": 153,
												"count": 1,
												"reason": "fits",
												"single": 160
											}
										}
									}
								}
							}
						}
					}
				},
				"x-required-scopes": [
					"message:write"
				]
			},
			"get": {
				"tags": [
					"Messages"
				],
				"operationId": "listMessages",
				"summary": "List messages",
				"description": "List accepted messages for the current project. Results are returned in reverse chronological order with a top-level cursor for pagination. Requires API key scope `message:read`.",
				"x-codeSamples": [
					{
						"lang": "typescript",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY);\n\nconst { data, error, cursor } = await rewrite.messages.list({\n  limit: 25,\n  status: 'DELIVERED',\n});\n\nif (error) throw error;"
					}
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/After"
					},
					{
						"$ref": "#/components/parameters/Before"
					},
					{
						"$ref": "#/components/parameters/Limit"
					},
					{
						"$ref": "#/components/parameters/MessageStatus"
					},
					{
						"$ref": "#/components/parameters/CountryCode"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MessageListResponse"
								},
								"example": {
									"ok": true,
									"data": [
										{
											"id": "748395130237498412",
											"createdAt": "2026-03-20T14:22:31.562Z",
											"to": "+5511999999999",
											"from": "Rewrite",
											"type": "SMS",
											"tags": [
												{
													"name": "flow",
													"value": "login"
												}
											],
											"status": "DELIVERED",
											"country": "br",
											"content": "Rewrite: seu codigo e 478201",
											"encoding": "GSM7",
											"templateId": null,
											"deliveredAt": "2026-03-20T14:22:39.914Z",
											"scheduledAt": null,
											"isPayAsYouGo": false
										},
										{
											"id": "748395130237498413",
											"createdAt": "2026-03-20T14:22:31.562Z",
											"to": "+5511888888888",
											"from": "Rewrite",
											"type": "SMS",
											"tags": [
												{
													"name": "flow",
													"value": "login"
												}
											],
											"status": "SENT",
											"country": "br",
											"content": "Rewrite: seu codigo e 478201",
											"encoding": "GSM7",
											"templateId": null,
											"deliveredAt": null,
											"scheduledAt": null,
											"isPayAsYouGo": false
										}
									],
									"cursor": {
										"persist": true,
										"after": "748395130237498414"
									}
								}
							}
						}
					}
				},
				"x-required-scopes": [
					"message:read"
				]
			}
		},
		"/messages/batch": {
			"post": {
				"tags": [
					"Messages"
				],
				"operationId": "createMessageBatch",
				"summary": "Send batch messages",
				"description": "Send between 1 and 100 SMS messages in one request. This route accepts Brazilian destination numbers in `+55` format and returns only the accepted message IDs. Requires API key scope `message:write`.",
				"x-codeSamples": [
					{
						"lang": "typescript",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY);\n\nconst { data, error } = await rewrite.messages.sendBatch([\n  {\n    to: '+5511999999999',\n    content: 'Rewrite: seu codigo e 478201',\n  },\n  {\n    to: '+5511888888888',\n    templateId: '748395130237498620',\n    variables: { code: '941205' },\n  },\n]);\n\nif (error) throw error;"
					}
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/IdempotencyKey"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"minItems": 1,
								"maxItems": 100,
								"items": {
									"$ref": "#/components/schemas/MessageCreateBody"
								}
							},
							"example": [
								{
									"to": "+5511999999999",
									"content": "Rewrite: seu codigo e 478201"
								},
								{
									"to": "+5511888888888",
									"templateId": "748395130237498620",
									"variables": {
										"code": "941205"
									}
								}
							]
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MessageBatchCreateResponse"
								},
								"example": {
									"ok": true,
									"data": {
										"ids": [
											"748395130237498412",
											"748395130237498413",
											"748395130237498414"
										]
									}
								}
							}
						}
					}
				},
				"x-required-scopes": [
					"message:write"
				]
			}
		},
		"/messages/{id}/cancel": {
			"post": {
				"tags": [
					"Messages"
				],
				"operationId": "cancelMessage",
				"summary": "Cancel a message",
				"description": "Cancel a queued or scheduled message before it reaches the provider. Requires API key scope `message:write`.",
				"x-codeSamples": [
					{
						"lang": "typescript",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY);\n\nconst { error } = await rewrite.messages.cancel({\n  id: '748395130237498412',\n});\n\nif (error) throw error;"
					}
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Message identifier to cancel.",
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498412"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"example": {
									"ok": true,
									"data": null
								}
							}
						}
					}
				},
				"x-required-scopes": [
					"message:write"
				]
			}
		},
		"/messages/{id}": {
			"get": {
				"tags": [
					"Messages"
				],
				"operationId": "getMessage",
				"summary": "Get a message",
				"description": "Fetch the current state of a single message, including delivery timestamps and rendered content. Requires API key scope `message:read`.",
				"x-codeSamples": [
					{
						"lang": "typescript",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY);\n\nconst { data, error } = await rewrite.messages.get({\n  id: '748395130237498412',\n});\n\nif (error) throw error;"
					}
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Message identifier returned by Rewrite.",
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MessageResponse"
								},
								"example": {
									"ok": true,
									"data": {
										"id": "748395130237498412",
										"createdAt": "2026-03-20T14:22:31.562Z",
										"to": "+5511999999999",
										"from": "Rewrite",
										"type": "SMS",
										"tags": [
											{
												"name": "flow",
												"value": "login"
											}
										],
										"status": "DELIVERED",
										"country": "br",
										"content": "Rewrite: seu codigo e 478201",
										"encoding": "GSM7",
										"templateId": null,
										"deliveredAt": "2026-03-20T14:22:39.914Z",
										"scheduledAt": null,
										"isPayAsYouGo": false
									}
								}
							}
						}
					}
				},
				"x-required-scopes": [
					"message:read"
				]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API key",
				"description": "Send your project API key as `Authorization: Bearer rw_...`."
			}
		},
		"parameters": {
			"IdempotencyKey": {
				"name": "Idempotency-Key",
				"in": "header",
				"required": false,
				"description": "Optional key used to safely retry the same create request without creating duplicates.",
				"schema": {
					"type": "string",
					"minLength": 1,
					"maxLength": 64,
					"example": "msg:login-otp:2026-03-20T14:22"
				}
			},
			"After": {
				"name": "after",
				"in": "query",
				"required": false,
				"description": "Cursor for forward pagination. Send exactly one of `after` or `before` when paginating.",
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				}
			},
			"Before": {
				"name": "before",
				"in": "query",
				"required": false,
				"description": "Cursor for backward pagination. Send exactly one of `after` or `before` when paginating.",
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				}
			},
			"Limit": {
				"name": "limit",
				"in": "query",
				"required": false,
				"description": "Page size. Backend cursor schemas validate this between `2` and the route-specific maximum.",
				"schema": {
					"type": "integer",
					"minimum": 2,
					"maximum": 100
				}
			},
			"WithI18n": {
				"name": "withi18n",
				"in": "query",
				"required": false,
				"description": "When `true`, include the template `i18n` map in list/detail responses.",
				"schema": {
					"type": "boolean"
				}
			},
			"MessageStatus": {
				"name": "status",
				"in": "query",
				"required": false,
				"description": "Filter by message status.",
				"schema": {
					"type": "string",
					"enum": [
						"SENT",
						"QUEUED",
						"FAILED",
						"CANCELED",
						"SCHEDULED",
						"DELIVERED"
					]
				}
			},
			"CountryCode": {
				"name": "country",
				"in": "query",
				"required": false,
				"description": "Lowercase ISO 3166-1 alpha-2 country code inferred from the destination number.",
				"schema": {
					"type": "string",
					"example": "br"
				}
			},
			"WebhookEventTypeRequired": {
				"name": "type",
				"in": "query",
				"required": true,
				"description": "Webhook event type to include in the result set.",
				"schema": {
					"type": "string",
					"enum": [
						"sms.otp",
						"message.sent",
						"message.batch",
						"message.queued",
						"message.failed",
						"message.canceled",
						"message.delivered",
						"message.scheduled"
					]
				}
			},
			"WebhookDeliveryStatusRequired": {
				"name": "status",
				"in": "query",
				"required": true,
				"description": "Delivery status to include in the result set.",
				"schema": {
					"type": "string",
					"enum": [
						"FAILED",
						"SUCCESS"
					]
				}
			}
		},
		"responses": {
			"BadRequest": {
				"description": "Bad request",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			},
			"Unauthorized": {
				"description": "Unauthorized",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			},
			"Forbidden": {
				"description": "Forbidden",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			},
			"NotFound": {
				"description": "Not found",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			},
			"TooManyRequests": {
				"description": "Rate limited. The backend sends `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Retry-After` and `X-RateLimit-Retry-Policy`. `X-RateLimit-Retry-After` is returned in milliseconds.",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			},
			"InternalServerError": {
				"description": "Internal server error",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			}
		},
		"schemas": {
			"Snowflake": {
				"type": "string",
				"example": "748395130237498412"
			},
			"Cursor": {
				"type": "object",
				"required": [
					"persist"
				],
				"additionalProperties": false,
				"properties": {
					"persist": {
						"type": "boolean",
						"description": "When `true`, another page is available using the returned cursor values."
					},
					"after": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Cursor to request the next page."
					},
					"before": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Cursor to request the previous page."
					}
				}
			},
			"ErrorResponse": {
				"type": "object",
				"required": [
					"ok",
					"error"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": false
					},
					"error": {
						"type": "object",
						"required": [
							"code",
							"message"
						],
						"additionalProperties": false,
						"properties": {
							"code": {
								"type": "string",
								"example": "INVALID_JSON_BODY"
							},
							"message": {
								"type": "string",
								"example": "Invalid JSON body"
							},
							"detailed": {
								"type": "object",
								"additionalProperties": true
							}
						}
					}
				}
			},
			"OkEmptyResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "null"
					}
				}
			},
			"StringArrayDeleteBody": {
				"type": "object",
				"required": [
					"ids"
				],
				"additionalProperties": false,
				"properties": {
					"ids": {
						"type": "array",
						"minItems": 1,
						"maxItems": 20,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/Snowflake"
						}
					}
				}
			},
			"DeletedIdsResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Snowflake"
						}
					}
				}
			},
			"Project": {
				"type": "object",
				"required": [
					"id",
					"name",
					"icon",
					"ownerId",
					"apiKeysCount",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake"
					},
					"name": {
						"type": "string",
						"example": "Rewrite"
					},
					"icon": {
						"type": [
							"string",
							"null"
						]
					},
					"ownerId": {
						"$ref": "#/components/schemas/Snowflake"
					},
					"apiKeysCount": {
						"type": "integer"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"ProjectUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"icon": {
						"type": "null",
						"description": "Send `null` to remove the icon."
					},
					"name": {
						"type": "string",
						"example": "Rewrite"
					}
				}
			},
			"ProjectCreateBody": {
				"type": "object",
				"required": [
					"name"
				],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"example": "Rewrite"
					}
				}
			},
			"ProjectResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/Project"
					}
				}
			},
			"AuthScope": {
				"type": "string",
				"enum": [
					"*",
					"project:read",
					"project:api_keys:read",
					"project:write",
					"project:webhooks:read",
					"project:templates:write",
					"project:templates:read",
					"project:webhooks:write",
					"message:write",
					"message:read",
					"project:logs:read"
				]
			},
			"APIKey": {
				"type": "object",
				"required": [
					"id",
					"name",
					"prefix",
					"scopes",
					"lastUsedAt",
					"description",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake"
					},
					"name": {
						"type": "string"
					},
					"prefix": {
						"type": "string",
						"example": "rw_d5f3ce"
					},
					"scopes": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						}
					},
					"description": {
						"type": [
							"string",
							"null"
						]
					},
					"lastUsedAt": {
						"type": [
							"string",
							"null"
						],
						"format": "date-time"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"APIKeyListResponse": {
				"type": "object",
				"required": [
					"ok",
					"data",
					"cursor"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/APIKey"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"APIKeyCreateBody": {
				"type": "object",
				"required": [
					"name"
				],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32
					},
					"description": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"scopes": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						}
					}
				}
			},
			"APIKeyUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32
					},
					"description": {
						"type": [
							"string",
							"null"
						],
						"minLength": 1,
						"maxLength": 64
					},
					"scopes": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						}
					}
				}
			},
			"APIKeyCreateResult": {
				"type": "object",
				"required": [
					"id",
					"key",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake"
					},
					"key": {
						"type": "string",
						"description": "Returned once. Persist it immediately.",
						"example": "rw_d5f3ce.4pbbWQrluH4SOD5xvR9p9C2x"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"APIKeyCreateResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/APIKeyCreateResult"
					}
				}
			},
			"MessageTag": {
				"type": "object",
				"required": [
					"name",
					"value"
				],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128,
						"description": "Tag key attached to the message.",
						"example": "flow"
					},
					"value": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128,
						"description": "Tag value attached to the message.",
						"example": "login"
					}
				}
			},
			"MessageAnalysis": {
				"type": "object",
				"required": [
					"characters",
					"encoding",
					"segments"
				],
				"additionalProperties": false,
				"properties": {
					"characters": {
						"type": "integer",
						"description": "Total character count in the rendered SMS content.",
						"example": 33
					},
					"encoding": {
						"type": "string",
						"enum": [
							"gsm7",
							"ucs2"
						],
						"description": "Encoding detected for the rendered SMS content.",
						"example": "gsm7"
					},
					"segments": {
						"type": "object",
						"required": [
							"concat",
							"count",
							"reason",
							"single"
						],
						"additionalProperties": false,
						"properties": {
							"concat": {
								"type": "integer",
								"description": "Maximum characters allowed per segment in multipart SMS.",
								"example": 153
							},
							"count": {
								"type": "integer",
								"description": "Number of SMS segments required to send the message.",
								"example": 1
							},
							"reason": {
								"type": "string",
								"enum": [
									"fits",
									"smart",
									"singleLimit",
									"nonGsm7"
								],
								"description": "Why Rewrite selected the reported segmentation result.",
								"example": "fits"
							},
							"single": {
								"type": "integer",
								"description": "Maximum characters allowed when the message fits in a single SMS.",
								"example": 160
							}
						}
					}
				}
			},
			"MessageSegmentation": {
				"type": "object",
				"required": [
					"max"
				],
				"additionalProperties": false,
				"properties": {
					"max": {
						"type": "integer",
						"minimum": 1,
						"maximum": 24,
						"description": "Maximum number of SMS segments Rewrite is allowed to send.",
						"example": 2
					},
					"mode": {
						"type": "string",
						"enum": [
							"fail",
							"trim",
							"send"
						],
						"description": "How Rewrite should behave when the message exceeds the allowed segment count.",
						"example": "send"
					},
					"smart": {
						"type": "boolean",
						"description": "When `true`, Rewrite may optimize the content to fit GSM-7 when possible.",
						"example": true
					}
				}
			},
			"MessageInlineBody": {
				"title": "With content",
				"type": "object",
				"required": [
					"to",
					"content"
				],
				"additionalProperties": false,
				"properties": {
					"to": {
						"type": "string",
						"description": "Destination number in E.164 format.",
						"example": "+5511999999999"
					},
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1600,
						"description": "Rendered SMS content to send.",
						"example": "Rewrite: seu codigo e 478201"
					},
					"tags": {
						"type": "array",
						"maxItems": 20,
						"description": "Optional metadata stored with the message.",
						"items": {
							"$ref": "#/components/schemas/MessageTag"
						},
						"example": [
							{
								"name": "flow",
								"value": "login"
							}
						]
					},
					"scheduledAt": {
						"type": "string",
						"format": "date-time",
						"description": "When provided, Rewrite schedules the message for later delivery.",
						"example": "2026-03-20T14:30:00.000Z"
					},
					"segmentation": {
						"$ref": "#/components/schemas/MessageSegmentation",
						"description": "Optional segmentation rules for long SMS bodies."
					}
				}
			},
			"MessageTemplateBody": {
				"title": "Using templates",
				"type": "object",
				"required": [
					"to",
					"templateId"
				],
				"additionalProperties": false,
				"properties": {
					"to": {
						"type": "string",
						"description": "Destination number in E.164 format.",
						"example": "+5511888888888"
					},
					"templateId": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Template identifier to render before sending.",
						"example": "748395130237498620"
					},
					"variables": {
						"type": "object",
						"additionalProperties": {
							"type": "string"
						},
						"default": {},
						"description": "Variable values used when rendering the selected template."
					},
					"tags": {
						"type": "array",
						"maxItems": 20,
						"description": "Optional metadata stored with the message.",
						"items": {
							"$ref": "#/components/schemas/MessageTag"
						},
						"example": [
							{
								"name": "flow",
								"value": "login"
							}
						]
					},
					"scheduledAt": {
						"type": "string",
						"format": "date-time",
						"description": "When provided, Rewrite schedules the message for later delivery."
					},
					"segmentation": {
						"$ref": "#/components/schemas/MessageSegmentation",
						"description": "Optional segmentation rules for the rendered template output."
					}
				}
			},
			"MessageCreateBody": {
				"oneOf": [
					{
						"$ref": "#/components/schemas/MessageInlineBody"
					},
					{
						"$ref": "#/components/schemas/MessageTemplateBody"
					}
				]
			},
			"MessageRef": {
				"type": "object",
				"required": [
					"id",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Message identifier returned by Rewrite.",
						"example": "748395130237498412"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite accepted the message.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"MessageCreateResult": {
				"allOf": [
					{
						"$ref": "#/components/schemas/MessageRef"
					},
					{
						"type": "object",
						"required": [
							"analysis"
						],
						"additionalProperties": false,
						"properties": {
							"analysis": {
								"$ref": "#/components/schemas/MessageAnalysis",
								"description": "Segmentation analysis for the SMS content accepted by Rewrite."
							}
						}
					}
				]
			},
			"MessageCreateResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/MessageCreateResult"
					}
				}
			},
			"MessageBatchCreateResult": {
				"type": "object",
				"required": [
					"ids"
				],
				"additionalProperties": false,
				"properties": {
					"ids": {
						"type": "array",
						"description": "Identifiers for the messages accepted into the batch request.",
						"items": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": [
							"748395130237498412",
							"748395130237498413",
							"748395130237498414"
						]
					}
				}
			},
			"MessageBatchCreateResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/MessageBatchCreateResult"
					}
				}
			},
			"Message": {
				"type": "object",
				"required": [
					"id",
					"createdAt",
					"to",
					"from",
					"type",
					"tags",
					"status",
					"country",
					"content",
					"encoding",
					"templateId",
					"deliveredAt",
					"scheduledAt",
					"isPayAsYouGo"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Message identifier returned by Rewrite.",
						"example": "748395130237498412"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite accepted the message.",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"to": {
						"type": "string",
						"description": "Destination number in E.164 format.",
						"example": "+5511999999999"
					},
					"from": {
						"type": [
							"string",
							"null"
						],
						"description": "Resolved sender ID used for this message, when available.",
						"example": "Rewrite"
					},
					"type": {
						"type": "string",
						"enum": [
							"SMS",
							"OTP"
						],
						"description": "Message type stored by Rewrite.",
						"example": "SMS"
					},
					"tags": {
						"type": "array",
						"description": "Metadata attached to the message.",
						"items": {
							"$ref": "#/components/schemas/MessageTag"
						},
						"example": [
							{
								"name": "flow",
								"value": "login"
							}
						]
					},
					"status": {
						"type": "string",
						"enum": [
							"SENT",
							"QUEUED",
							"FAILED",
							"CANCELED",
							"SCHEDULED",
							"DELIVERED"
						],
						"description": "Latest delivery status known by Rewrite.",
						"example": "DELIVERED"
					},
					"country": {
						"type": "string",
						"description": "Country inferred from the destination number.",
						"example": "br"
					},
					"content": {
						"type": "string",
						"description": "Final SMS content sent to the destination number.",
						"example": "Rewrite: seu codigo e 478201"
					},
					"encoding": {
						"type": "string",
						"enum": [
							"GSM7",
							"UCS2"
						],
						"description": "Encoding used by the provider when sending the SMS.",
						"example": "GSM7"
					},
					"templateId": {
						"type": [
							"string",
							"null"
						],
						"description": "Template used to render the message, when applicable.",
						"example": null
					},
					"deliveredAt": {
						"type": [
							"string",
							"null"
						],
						"format": "date-time",
						"description": "Timestamp when the provider confirmed final delivery.",
						"example": "2026-03-20T14:22:39.914Z"
					},
					"scheduledAt": {
						"type": [
							"string",
							"null"
						],
						"format": "date-time",
						"description": "Scheduled send time, when the message was delayed intentionally.",
						"example": null
					},
					"isPayAsYouGo": {
						"type": "boolean",
						"description": "Whether the message consumed pay-as-you-go balance instead of subscription quota.",
						"example": false
					}
				}
			},
			"MessageResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/Message"
					}
				}
			},
			"MessageListResponse": {
				"type": "object",
				"required": [
					"ok",
					"data",
					"cursor"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Message"
						},
						"example": [
							{
								"id": "748395130237498412",
								"createdAt": "2026-03-20T14:22:31.562Z",
								"to": "+5511999999999",
								"from": "Rewrite",
								"type": "SMS",
								"tags": [
									{
										"name": "flow",
										"value": "login"
									}
								],
								"status": "DELIVERED",
								"country": "br",
								"content": "Rewrite: seu codigo e 478201",
								"encoding": "GSM7",
								"templateId": null,
								"deliveredAt": "2026-03-20T14:22:39.914Z",
								"scheduledAt": null,
								"isPayAsYouGo": false
							},
							{
								"id": "748395130237498413",
								"createdAt": "2026-03-20T14:22:31.562Z",
								"to": "+5511888888888",
								"from": "Rewrite",
								"type": "SMS",
								"tags": [
									{
										"name": "flow",
										"value": "login"
									}
								],
								"status": "SENT",
								"country": "br",
								"content": "Rewrite: seu codigo e 478201",
								"encoding": "GSM7",
								"templateId": null,
								"deliveredAt": null,
								"scheduledAt": null,
								"isPayAsYouGo": false
							}
						]
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"OTPCreateBody": {
				"type": "object",
				"required": [
					"to"
				],
				"additionalProperties": false,
				"properties": {
					"to": {
						"type": "string",
						"description": "Destination number that should receive the OTP.",
						"example": "+5511999999999"
					},
					"prefix": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Short brand prefix included in the OTP SMS.",
						"example": "Rewrite"
					},
					"expiresIn": {
						"type": "integer",
						"minimum": 1,
						"maximum": 15,
						"description": "Minutes until the OTP expires.",
						"example": 5
					}
				}
			},
			"OTPCreateResult": {
				"type": "object",
				"required": [
					"id",
					"to",
					"prefix",
					"createdAt",
					"expiresAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "OTP identifier returned by Rewrite.",
						"example": "748395130237499120"
					},
					"to": {
						"type": "string",
						"description": "Destination number used for the OTP.",
						"example": "+5511999999999"
					},
					"prefix": {
						"type": "string",
						"description": "Brand prefix included in the OTP SMS.",
						"example": "Rewrite"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite accepted the OTP request.",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"expiresAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the OTP becomes invalid.",
						"example": "2026-03-20T14:27:31.562Z"
					}
				}
			},
			"OTPCreateResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/OTPCreateResult"
					}
				}
			},
			"OTPVerifyBody": {
				"type": "object",
				"required": [
					"to",
					"code"
				],
				"additionalProperties": false,
				"properties": {
					"to": {
						"type": "string",
						"description": "Destination number used when the OTP was created.",
						"example": "+5511999999999"
					},
					"code": {
						"type": "string",
						"minLength": 4,
						"maxLength": 10,
						"description": "Numeric OTP code provided by the user.",
						"example": "478201"
					}
				}
			},
			"OTPVerifyResult": {
				"type": "object",
				"required": [
					"id",
					"valid",
					"verifiedAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "OTP identifier being verified.",
						"example": "748395130237499120"
					},
					"valid": {
						"type": "boolean",
						"const": true,
						"description": "Always `true` when the OTP verification succeeds.",
						"example": true
					},
					"verifiedAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite marked the OTP as verified.",
						"example": "2026-03-20T14:23:18.000Z"
					}
				}
			},
			"OTPVerifyResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/OTPVerifyResult"
					}
				}
			},
			"TemplateVariable": {
				"type": "object",
				"required": [
					"name",
					"fallback"
				],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Variable placeholder name used inside the template content.",
						"example": "code"
					},
					"fallback": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64,
						"description": "Fallback value used when the variable is omitted at send time.",
						"example": "478201"
					}
				}
			},
			"TemplateI18n": {
				"type": "object",
				"description": "Locale overrides keyed by lowercase ISO country code, for example `br`.",
				"additionalProperties": {
					"type": "string",
					"minLength": 1,
					"maxLength": 1024
				}
			},
			"TemplateCreateBody": {
				"type": "object",
				"required": [
					"name",
					"i18n",
					"content",
					"variables",
					"description"
				],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Template name used later in the dashboard and API responses.",
						"example": "login_code"
					},
					"i18n": {
						"$ref": "#/components/schemas/TemplateI18n",
						"description": "Locale-specific overrides for the template content."
					},
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "Default SMS content rendered when no locale override applies.",
						"example": "Rewrite: seu codigo e {{code}}"
					},
					"variables": {
						"type": "array",
						"maxItems": 15,
						"description": "Variables accepted by the template.",
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"example": [
							{
								"name": "code",
								"fallback": "478201"
							}
						]
					},
					"description": {
						"type": "string",
						"minLength": 1,
						"maxLength": 72,
						"description": "Short human-readable explanation of what the template is for.",
						"example": "Template usado no fluxo de login"
					}
				}
			},
			"TemplateUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"i18n": {
						"$ref": "#/components/schemas/TemplateI18n",
						"description": "Locale-specific overrides to replace on the template."
					},
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "Updated default SMS content.",
						"example": "Rewrite: seu codigo e {{code}}"
					},
					"variables": {
						"type": "array",
						"maxItems": 15,
						"description": "Updated variable definitions for the template.",
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"example": [
							{
								"name": "code",
								"fallback": "478201"
							}
						]
					},
					"description": {
						"type": "string",
						"minLength": 1,
						"maxLength": 72,
						"description": "Updated human-readable description for the template.",
						"example": "Template usado no fluxo de recuperacao de conta"
					}
				}
			},
			"Template": {
				"type": "object",
				"required": [
					"id",
					"name",
					"content",
					"variables",
					"description",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Template identifier returned by Rewrite.",
						"example": "748395130237498620"
					},
					"name": {
						"type": "string",
						"description": "Template name.",
						"example": "login_code"
					},
					"content": {
						"type": "string",
						"description": "Default SMS content stored for the template.",
						"example": "Rewrite: seu codigo e {{code}}"
					},
					"i18n": {
						"$ref": "#/components/schemas/TemplateI18n",
						"description": "Locale-specific overrides available for the template."
					},
					"variables": {
						"type": "array",
						"description": "Variable definitions accepted by the template.",
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"example": [
							{
								"name": "code",
								"fallback": "478201"
							}
						]
					},
					"description": {
						"type": [
							"string",
							"null"
						],
						"description": "Human-readable description saved with the template.",
						"example": "Template usado no fluxo de login"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the template was created.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"TemplateResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/Template"
					}
				}
			},
			"TemplateListResponse": {
				"type": "object",
				"required": [
					"ok",
					"data",
					"cursor"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Template"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"TemplateCreateResult": {
				"type": "object",
				"required": [
					"id",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Template identifier returned by Rewrite.",
						"example": "748395130237498620"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the template was created.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"TemplateCreateResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/TemplateCreateResult"
					}
				}
			},
			"WebhookCreateBody": {
				"type": "object",
				"required": [
					"events",
					"endpoint"
				],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Friendly name shown in the dashboard and logs.",
						"example": "delivery-events"
					},
					"events": {
						"type": "array",
						"minItems": 1,
						"uniqueItems": true,
						"description": "Event types that should be delivered to this endpoint.",
						"items": {
							"type": "string",
							"enum": [
								"sms.otp",
								"message.sent",
								"message.batch",
								"message.queued",
								"message.failed",
								"message.canceled",
								"message.delivered",
								"message.scheduled"
							]
						},
						"example": [
							"message.sent",
							"message.failed",
							"sms.otp"
						]
					},
					"secret": {
						"type": "string",
						"minLength": 16,
						"maxLength": 128,
						"description": "Accepted formats: `whsec_<base64>`, raw base64, or legacy `rw_whsec_...`.",
						"example": "whsec_dGVzdF9zZWNyZXRfdmFsdWU="
					},
					"endpoint": {
						"type": "string",
						"format": "uri",
						"maxLength": 255,
						"description": "Must be HTTPS in production. `http://localhost/...` is also accepted. Query strings and fragments are rejected.",
						"example": "https://example.com/rewrite/webhooks"
					}
				}
			},
			"WebhookUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": [
							"string",
							"null"
						],
						"minLength": 1,
						"maxLength": 32,
						"description": "Updated friendly name. Send `null` to remove the current name.",
						"example": "delivery-events-staging"
					},
					"events": {
						"type": "array",
						"minItems": 1,
						"uniqueItems": true,
						"description": "Updated event selection for the webhook endpoint.",
						"items": {
							"type": "string",
							"enum": [
								"sms.otp",
								"message.sent",
								"message.batch",
								"message.queued",
								"message.failed",
								"message.canceled",
								"message.delivered",
								"message.scheduled"
							]
						},
						"example": [
							"message.sent",
							"message.failed"
						]
					},
					"secret": {
						"type": "string",
						"minLength": 16,
						"maxLength": 128,
						"description": "New signing secret to use for future deliveries.",
						"example": "whsec_bmV3X3NlY3JldF92YWx1ZQ=="
					},
					"endpoint": {
						"type": "string",
						"format": "uri",
						"maxLength": 255,
						"description": "Updated destination URL for future deliveries.",
						"example": "https://example.com/rewrite/webhooks/secondary"
					},
					"status": {
						"type": "string",
						"enum": [
							"ACTIVE",
							"INACTIVE"
						],
						"description": "Whether Rewrite should actively deliver events to this endpoint.",
						"example": "INACTIVE"
					}
				}
			},
			"Webhook": {
				"type": "object",
				"required": [
					"id",
					"name",
					"events",
					"status",
					"endpoint",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Webhook identifier returned by Rewrite.",
						"example": "748395130237498750"
					},
					"name": {
						"type": [
							"string",
							"null"
						],
						"description": "Friendly name shown in the dashboard and logs.",
						"example": "delivery-events"
					},
					"events": {
						"type": "array",
						"description": "Events delivered to this endpoint.",
						"items": {
							"type": "string",
							"enum": [
								"sms.otp",
								"message.sent",
								"message.batch",
								"message.queued",
								"message.failed",
								"message.canceled",
								"message.delivered",
								"message.scheduled"
							]
						},
						"example": [
							"message.sent",
							"message.failed",
							"sms.otp"
						]
					},
					"status": {
						"type": "string",
						"enum": [
							"ACTIVE",
							"INACTIVE"
						],
						"description": "Current lifecycle status of the webhook endpoint.",
						"example": "ACTIVE"
					},
					"endpoint": {
						"type": "string",
						"description": "Destination URL that receives Rewrite webhook events.",
						"example": "https://example.com/rewrite/webhooks"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the webhook endpoint was created.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"WebhookWithSecret": {
				"allOf": [
					{
						"$ref": "#/components/schemas/Webhook"
					},
					{
						"type": "object",
						"required": [
							"secret"
						],
						"additionalProperties": false,
						"properties": {
							"secret": {
								"type": "string",
								"description": "Signing secret associated with the webhook endpoint.",
								"example": "whsec_dGVzdF9zZWNyZXRfdmFsdWU="
							}
						}
					}
				]
			},
			"WebhookListResponse": {
				"type": "object",
				"required": [
					"ok",
					"data",
					"cursor"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Webhook"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"WebhookResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/WebhookWithSecret"
					}
				}
			},
			"WebhookCreateResult": {
				"type": "object",
				"required": [
					"id",
					"secret",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Webhook identifier returned by Rewrite.",
						"example": "748395130237498750"
					},
					"secret": {
						"type": "string",
						"description": "Generated signing secret to persist on your side.",
						"example": "whsec_dGVzdF9zZWNyZXRfdmFsdWU="
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the webhook endpoint was created.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"WebhookCreateResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/WebhookCreateResult"
					}
				}
			},
			"WebhookOTPMetadata": {
				"type": "object",
				"required": [
					"prefix",
					"expiresIn",
					"expiresAt"
				],
				"additionalProperties": false,
				"properties": {
					"prefix": {
						"type": "string",
						"description": "Brand prefix embedded in the OTP SMS.",
						"example": "Rewrite"
					},
					"expiresIn": {
						"type": "integer",
						"description": "Minutes until the OTP expires.",
						"example": 5
					},
					"expiresAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the OTP becomes invalid.",
						"example": "2026-03-20T14:27:31.562Z"
					}
				}
			},
			"WebhookMessageData": {
				"type": "object",
				"required": [
					"id",
					"projectId",
					"to",
					"tags",
					"type",
					"status",
					"content",
					"country",
					"analysis",
					"error",
					"deliveredAt",
					"scheduledAt",
					"templateId"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Message identifier that triggered the webhook.",
						"example": "748395130237498412"
					},
					"projectId": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Project identifier associated with the event.",
						"example": "748395130237499220"
					},
					"to": {
						"type": "string",
						"description": "Destination number for the message.",
						"example": "+5511999999999"
					},
					"tags": {
						"type": "array",
						"description": "Metadata attached to the message.",
						"items": {
							"$ref": "#/components/schemas/MessageTag"
						},
						"example": [
							{
								"name": "flow",
								"value": "login"
							}
						]
					},
					"type": {
						"type": "string",
						"enum": [
							"SMS",
							"OTP"
						],
						"description": "Message type associated with the event.",
						"example": "SMS"
					},
					"status": {
						"type": "string",
						"enum": [
							"SENT",
							"QUEUED",
							"FAILED",
							"CANCELED",
							"SCHEDULED",
							"DELIVERED"
						],
						"description": "Delivery status reported in the event.",
						"example": "DELIVERED"
					},
					"content": {
						"type": "string",
						"description": "Rendered SMS content included in the event payload.",
						"example": "Rewrite: seu codigo e 478201"
					},
					"country": {
						"type": "string",
						"description": "Country inferred from the destination number.",
						"example": "br"
					},
					"analysis": {
						"$ref": "#/components/schemas/MessageAnalysis",
						"description": "Segmentation analysis for the message content."
					},
					"error": {
						"type": [
							"object",
							"null"
						],
						"additionalProperties": false,
						"required": [
							"code",
							"message"
						],
						"properties": {
							"code": {
								"type": [
									"string",
									"number",
									"null"
								],
								"description": "Provider or internal code associated with the delivery failure.",
								"example": null
							},
							"message": {
								"type": "string",
								"description": "Human-readable explanation for the failure.",
								"example": "Provider timeout"
							}
						},
						"example": null
					},
					"deliveredAt": {
						"type": [
							"string",
							"null"
						],
						"format": "date-time",
						"description": "Timestamp when the provider confirmed delivery.",
						"example": "2026-03-20T14:22:39.914Z"
					},
					"scheduledAt": {
						"type": [
							"string",
							"null"
						],
						"format": "date-time",
						"description": "Scheduled send time, when applicable.",
						"example": null
					},
					"templateId": {
						"type": [
							"string",
							"null"
						],
						"description": "Template identifier used to render the message, when applicable.",
						"example": null
					},
					"otp": {
						"$ref": "#/components/schemas/WebhookOTPMetadata",
						"description": "OTP metadata present only for `sms.otp` events."
					}
				}
			},
			"WebhookBatchData": {
				"type": "object",
				"required": [
					"id",
					"ids",
					"projectId"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Batch identifier returned by Rewrite.",
						"example": "748395130237498414"
					},
					"projectId": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Project identifier associated with the batch event.",
						"example": "748395130237499220"
					},
					"ids": {
						"type": "array",
						"description": "Accepted message identifiers that belong to the batch.",
						"items": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": [
							"748395130237498412",
							"748395130237498413",
							"748395130237498414"
						]
					}
				}
			},
			"WebhookEvent": {
				"type": "object",
				"required": [
					"id",
					"createdAt",
					"type",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Webhook event identifier generated by Rewrite.",
						"example": "748395130237498880"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite created the event payload.",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"type": {
						"type": "string",
						"enum": [
							"sms.otp",
							"message.sent",
							"message.batch",
							"message.queued",
							"message.failed",
							"message.canceled",
							"message.delivered",
							"message.scheduled"
						],
						"description": "Webhook event type.",
						"example": "message.sent"
					},
					"data": {
						"oneOf": [
							{
								"$ref": "#/components/schemas/WebhookMessageData"
							},
							{
								"$ref": "#/components/schemas/WebhookBatchData"
							}
						],
						"description": "Event payload for either a single message or a batch."
					}
				}
			},
			"WebhookLogSummary": {
				"type": "object",
				"required": [
					"id",
					"url",
					"type",
					"code",
					"error",
					"status",
					"attempt",
					"latency",
					"retryAt",
					"createdAt",
					"messageId"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Webhook delivery log identifier.",
						"example": "748395130237498880"
					},
					"url": {
						"type": "string",
						"description": "Endpoint URL that received the delivery attempt.",
						"example": "https://example.com/rewrite/webhooks"
					},
					"type": {
						"type": "string",
						"enum": [
							"sms.otp",
							"message.sent",
							"message.batch",
							"message.queued",
							"message.failed",
							"message.canceled",
							"message.delivered",
							"message.scheduled"
						],
						"description": "Webhook event type delivered in this attempt.",
						"example": "message.sent"
					},
					"code": {
						"type": [
							"integer",
							"null"
						],
						"description": "HTTP status code returned by the destination endpoint.",
						"example": 200
					},
					"error": {
						"type": [
							"string",
							"null"
						],
						"description": "Transport or application error captured for the attempt.",
						"example": null
					},
					"status": {
						"type": "string",
						"enum": [
							"FAILED",
							"SUCCESS"
						],
						"description": "Delivery outcome recorded by Rewrite.",
						"example": "SUCCESS"
					},
					"attempt": {
						"type": "integer",
						"description": "Attempt number for this delivery.",
						"example": 1
					},
					"latency": {
						"type": [
							"integer",
							"null"
						],
						"description": "Round-trip time in milliseconds.",
						"example": 182
					},
					"retryAt": {
						"type": [
							"string",
							"null"
						],
						"format": "date-time",
						"description": "Next scheduled retry time, when the attempt failed and will retry.",
						"example": null
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite recorded the delivery attempt.",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"messageId": {
						"type": [
							"string",
							"null"
						],
						"description": "Message identifier associated with the delivery attempt, when available.",
						"example": "748395130237498412"
					}
				}
			},
			"WebhookLogDetail": {
				"allOf": [
					{
						"$ref": "#/components/schemas/WebhookLogSummary"
					},
					{
						"type": "object",
						"required": [
							"payload",
							"webhookId"
						],
						"additionalProperties": false,
						"properties": {
							"payload": {
								"$ref": "#/components/schemas/WebhookEvent",
								"description": "Event payload delivered during this attempt."
							},
							"webhookId": {
								"type": [
									"string",
									"null"
								],
								"description": "Webhook identifier associated with the log entry.",
								"example": "748395130237498750"
							}
						}
					}
				]
			},
			"WebhookLogListResponse": {
				"type": "object",
				"required": [
					"ok",
					"data",
					"cursor"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/WebhookLogSummary"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"WebhookLogResponse": {
				"type": "object",
				"required": [
					"ok",
					"data"
				],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/WebhookLogDetail"
					}
				}
			}
		}
	}
}
