{
	"openapi": "3.1.0",
	"info": {
		"title": "Rewrite API",
		"version": "1.0.0",
		"summary": "Project-level API reference for Rewrite v1.",
		"description": "Reference for the externally supported API-key-accessible endpoints in Rewrite API v1.\n\nAll successful responses use the `ok` / `data` envelope. Paginated list endpoints return `cursor` at the top level."
	},
	"servers": [
		{
			"url": "https://api.rewritetoday.com/v1",
			"description": "Production"
		}
	],
	"tags": [
		{
			"name": "Logs",
			"description": "Inspect API request logs recorded for the current project."
		}
	],
	"paths": {
		"/logs": {
			"get": {
				"tags": ["Logs"],
				"operationId": "listRequestLogs",
				"summary": "List request logs",
				"description": "List API request logs recorded for the current project.",
				"x-codeSamples": [
					{
						"lang": "typescript",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritetoday/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst { data, error, cursor } = await rewrite.logs.list({\n  method: 'POST',\n  endpoint: '/messages',\n  status: 200,\n  limit: 25,\n});\n\nif (error) throw error;"
					}
				],
				"security": [
					{
						"apiKey.project.logs.read": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/After"
					},
					{
						"$ref": "#/components/parameters/Before"
					},
					{
						"$ref": "#/components/parameters/Limit"
					},
					{
						"$ref": "#/components/parameters/HTTPStatusCode"
					},
					{
						"$ref": "#/components/parameters/LogMethod"
					},
					{
						"$ref": "#/components/parameters/LogEndpoint"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RequestLogListResponse"
								},
								"examples": {
									"success": {
										"summary": "Success",
										"value": {
											"ok": true,
											"data": [
												{
													"id": "748395130237498880",
													"method": "POST",
													"endpoint": "/messages",
													"status": 200,
													"source": "API",
													"sandbox": false,
													"createdAt": "2026-03-20T14:22:31.562Z"
												}
											],
											"cursor": {
												"persist": true,
												"after": "748395130237498414"
											}
										}
									}
								}
							}
						}
					}
				},
				"x-required-scopes": ["project:logs:read"]
			}
		},
		"/logs/{id}": {
			"get": {
				"tags": ["Logs"],
				"operationId": "getRequestLog",
				"summary": "Get a request log",
				"description": "Fetch one API request log together with the stored request and response bodies.",
				"x-codeSamples": [
					{
						"lang": "typescript",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritetoday/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst { data, error } = await rewrite.logs.get(\n  '748395130237498880',\n);\n\nif (error) throw error;"
					}
				],
				"security": [
					{
						"apiKey.project.logs.read": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Webhook delivery log identifier.",
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RequestLogResponse"
								},
								"examples": {
									"success": {
										"summary": "Success",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498880",
												"method": "POST",
												"endpoint": "/messages",
												"status": 200,
												"source": "API",
												"sandbox": false,
												"createdAt": "2026-03-20T14:22:31.562Z",
												"ip": "203.0.113.10",
												"projectId": "748395130237499220",
												"apiKeyId": "748395130237498990",
												"requestBody": {
													"to": "+5511999999999",
													"content": "Rewrite: seu codigo e 478201"
												},
												"responseBody": {
													"ok": true,
													"data": {
														"id": "748395130237498412",
														"createdAt": "2026-03-20T14:22:31.562Z",
														"analysis": {
															"characters": 28,
															"encoding": "gsm7",
															"segments": {
																"concat": 153,
																"count": 1,
																"reason": "fits",
																"single": 160
															}
														},
														"sandbox": false
													}
												}
											}
										}
									}
								}
							}
						}
					}
				},
				"x-required-scopes": ["project:logs:read"]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"apiKey.project.read": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API key",
				"description": "Send your API key as `Authorization: Bearer rw_...`.\n\nRequired scope: `project:read`."
			},
			"apiKey.project.api_keys.read": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API key",
				"description": "Send your API key as `Authorization: Bearer rw_...`.\n\nRequired scope: `project:api_keys:read`."
			},
			"apiKey.project.write": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API key",
				"description": "Send your API key as `Authorization: Bearer rw_...`.\n\nRequired scope: `project:write`."
			},
			"apiKey.project.webhooks.read": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API key",
				"description": "Send your API key as `Authorization: Bearer rw_...`.\n\nRequired scope: `project:webhooks:read`."
			},
			"apiKey.project.templates.write": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API key",
				"description": "Send your API key as `Authorization: Bearer rw_...`.\n\nRequired scope: `project:templates:write`."
			},
			"apiKey.project.templates.read": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API key",
				"description": "Send your API key as `Authorization: Bearer rw_...`.\n\nRequired scope: `project:templates:read`."
			},
			"apiKey.project.webhooks.write": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API key",
				"description": "Send your API key as `Authorization: Bearer rw_...`.\n\nRequired scope: `project:webhooks:write`."
			},
			"apiKey.message.write": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API key",
				"description": "Send your API key as `Authorization: Bearer rw_...`.\n\nRequired scope: `message:write`."
			},
			"apiKey.message.read": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API key",
				"description": "Send your API key as `Authorization: Bearer rw_...`.\n\nRequired scope: `message:read`."
			},
			"apiKey.project.logs.read": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API key",
				"description": "Send your API key as `Authorization: Bearer rw_...`.\n\nRequired scope: `project:logs:read`."
			}
		},
		"parameters": {
			"IdempotencyKey": {
				"name": "Idempotency-Key",
				"in": "header",
				"required": false,
				"description": "Optional key used to safely retry the same create request without creating duplicates.",
				"schema": {
					"type": "string",
					"minLength": 1,
					"maxLength": 64,
					"example": "msg:login-otp:2026-03-20T14:22"
				}
			},
			"After": {
				"name": "after",
				"in": "query",
				"required": false,
				"description": "Cursor for forward pagination. Send exactly one of `after` or `before` when paginating.",
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				}
			},
			"Before": {
				"name": "before",
				"in": "query",
				"required": false,
				"description": "Cursor for backward pagination. Send exactly one of `after` or `before` when paginating.",
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				}
			},
			"Limit": {
				"name": "limit",
				"in": "query",
				"required": false,
				"description": "Page size. Backend cursor schemas validate this between `2` and the route-specific maximum.",
				"schema": {
					"type": "integer",
					"minimum": 2,
					"maximum": 100
				}
			},
			"WithI18n": {
				"name": "withi18n",
				"in": "query",
				"required": false,
				"description": "When `true`, include the template `i18n` map in list/detail responses.",
				"schema": {
					"type": "boolean"
				}
			},
			"MessageStatus": {
				"name": "status",
				"in": "query",
				"required": false,
				"description": "Filter by message status.",
				"schema": {
					"type": "string",
					"enum": [
						"SENT",
						"QUEUED",
						"FAILED",
						"CANCELED",
						"RECEIVED",
						"SCHEDULED",
						"DELIVERED"
					]
				}
			},
			"MessageEncoding": {
				"name": "encoding",
				"in": "query",
				"required": false,
				"description": "Filter by message encoding.",
				"schema": {
					"type": "string",
					"enum": ["GSM7", "UCS2"]
				}
			},
			"MessageScheduled": {
				"name": "scheduled",
				"in": "query",
				"required": false,
				"description": "Filter by whether the message has `scheduledAt` set.",
				"schema": {
					"type": "boolean"
				}
			},
			"MessageWithCounts": {
				"name": "withCounts",
				"in": "query",
				"required": false,
				"description": "When `true`, include a top-level `count` field with the total matching records.",
				"schema": {
					"type": "boolean"
				}
			},
			"CountryCode": {
				"name": "country",
				"in": "query",
				"required": false,
				"description": "Lowercase ISO 3166-1 alpha-2 country code inferred from the destination number.",
				"schema": {
					"type": "string",
					"example": "br"
				}
			},
			"WebhookEventTypeRequired": {
				"name": "type",
				"in": "query",
				"required": false,
				"description": "Filter by webhook event type.",
				"schema": {
					"type": "string",
					"enum": [
						"sms.otp",
						"message.sent",
						"message.batch",
						"message.queued",
						"message.failed",
						"message.canceled",
						"message.delivered",
						"message.received",
						"message.scheduled"
					]
				}
			},
			"WebhookDeliveryStatusRequired": {
				"name": "status",
				"in": "query",
				"required": false,
				"description": "Filter by webhook delivery status.",
				"schema": {
					"type": "string",
					"enum": ["FAILED", "SUCCESS"]
				}
			},
			"WebhookDeliveryStatus": {
				"name": "status",
				"in": "query",
				"required": false,
				"description": "Filter by webhook delivery status.",
				"schema": {
					"type": "string",
					"enum": ["FAILED", "SUCCESS"]
				}
			},
			"HTTPStatusCode": {
				"name": "code",
				"in": "query",
				"required": false,
				"description": "Filter by HTTP status code.",
				"schema": {
					"type": "integer",
					"minimum": 100,
					"maximum": 600
				}
			},
			"WebhookAttempt": {
				"name": "attempt",
				"in": "query",
				"required": false,
				"description": "Filter by delivery attempt number.",
				"schema": {
					"type": "integer",
					"minimum": 1,
					"maximum": 5
				}
			},
			"MessageId": {
				"name": "messageId",
				"in": "query",
				"required": false,
				"description": "Filter by message identifier.",
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				}
			},
			"WebhookId": {
				"name": "webhookId",
				"in": "query",
				"required": false,
				"description": "Filter by webhook identifier.",
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				}
			},
			"LogMethod": {
				"name": "method",
				"in": "query",
				"required": false,
				"description": "Filter by HTTP method.",
				"schema": {
					"type": "string",
					"example": "POST"
				}
			},
			"LogEndpoint": {
				"name": "endpoint",
				"in": "query",
				"required": false,
				"description": "Filter by request endpoint path.",
				"schema": {
					"type": "string",
					"example": "/messages"
				}
			}
		},
		"responses": {
			"BadRequest": {
				"description": "Bad request",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			},
			"Unauthorized": {
				"description": "Unauthorized",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			},
			"Forbidden": {
				"description": "Forbidden",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			},
			"NotFound": {
				"description": "Not found",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			},
			"TooManyRequests": {
				"description": "Rate limited. The backend sends `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Retry-After` and `X-RateLimit-Retry-Policy`. `X-RateLimit-Retry-After` is returned in milliseconds.",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			},
			"InternalServerError": {
				"description": "Internal server error",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						}
					}
				}
			}
		},
		"schemas": {
			"Snowflake": {
				"type": "string",
				"example": "748395130237498412"
			},
			"Cursor": {
				"type": "object",
				"required": ["persist"],
				"additionalProperties": false,
				"properties": {
					"persist": {
						"type": "boolean",
						"description": "When `true`, another page is available using the returned cursor values."
					},
					"after": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Cursor to request the next page."
					},
					"before": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Cursor to request the previous page."
					}
				}
			},
			"ErrorResponse": {
				"type": "object",
				"required": ["ok", "error"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": false
					},
					"error": {
						"type": "object",
						"required": ["code", "message"],
						"additionalProperties": false,
						"properties": {
							"code": {
								"type": "string",
								"example": "INVALID_JSON_BODY"
							},
							"message": {
								"type": "string",
								"example": "Invalid JSON body"
							},
							"detailed": {
								"type": "object",
								"additionalProperties": true
							}
						}
					}
				}
			},
			"OkEmptyResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "null"
					}
				}
			},
			"OkArrayResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Snowflake"
						}
					}
				}
			},
			"Project": {
				"type": "object",
				"required": [
					"id",
					"name",
					"icon",
					"ownerId",
					"apiKeysCount",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake"
					},
					"name": {
						"type": "string",
						"example": "Rewrite"
					},
					"icon": {
						"type": ["string", "null"]
					},
					"ownerId": {
						"$ref": "#/components/schemas/Snowflake"
					},
					"apiKeysCount": {
						"type": "integer"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"ProjectUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"icon": {
						"type": "null",
						"description": "Send `null` to remove the icon."
					},
					"name": {
						"type": "string",
						"example": "Rewrite"
					}
				}
			},
			"ProjectCreateBody": {
				"type": "object",
				"required": ["name"],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"example": "Rewrite"
					}
				}
			},
			"ProjectResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/Project"
					}
				}
			},
			"AuthScope": {
				"type": "string",
				"enum": [
					"*",
					"project:read",
					"project:api_keys:read",
					"project:write",
					"project:webhooks:read",
					"project:templates:write",
					"project:templates:read",
					"project:webhooks:write",
					"message:write",
					"message:read",
					"project:logs:read"
				]
			},
			"APIKey": {
				"type": "object",
				"required": [
					"id",
					"name",
					"prefix",
					"scopes",
					"lastUsedAt",
					"description",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"example": "748395130237498990"
					},
					"name": {
						"type": "string",
						"example": "primary"
					},
					"prefix": {
						"type": "string",
						"example": "rw_d5f3ce"
					},
					"scopes": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						},
						"example": ["message:write", "message:read", "project:logs:read"]
					},
					"description": {
						"type": ["string", "null"],
						"example": "Main server key used by production messaging flows."
					},
					"lastUsedAt": {
						"type": ["string", "null"],
						"format": "date-time",
						"example": "2026-03-20T14:22:39.914Z"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"APIKeyListResponse": {
				"type": "object",
				"required": ["ok", "data", "cursor"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/APIKey"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"APIKeyResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/APIKey"
					}
				}
			},
			"APIKeyCreateBody": {
				"type": "object",
				"required": ["name"],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32,
						"example": "primary"
					},
					"description": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64,
						"example": "Main server key used by production messaging flows."
					},
					"scopes": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						},
						"example": ["message:write", "message:read", "project:logs:read"]
					}
				}
			},
			"APIKeyUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32,
						"example": "secondary"
					},
					"description": {
						"type": ["string", "null"],
						"minLength": 1,
						"maxLength": 64,
						"example": "Secondary key used by background jobs."
					},
					"scopes": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						},
						"example": ["message:read", "project:logs:read"]
					}
				}
			},
			"APIKeyCreateResult": {
				"type": "object",
				"required": ["id", "key", "createdAt"],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake"
					},
					"key": {
						"type": "string",
						"description": "Returned once. Persist it immediately.",
						"example": "rw_d5f3ce.4pbbWQrluH4SOD5xvR9p9C2x"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"ContactTagIdsBody": {
				"type": "object",
				"required": ["ids"],
				"additionalProperties": false,
				"properties": {
					"ids": {
						"type": "array",
						"minItems": 1,
						"maxItems": 15,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": ["748395130237498570"]
					}
				}
			},
			"APIKeyCreateResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/APIKeyCreateResult"
					}
				}
			},
			"ContactCreateBody": {
				"type": "object",
				"required": ["phone"],
				"additionalProperties": false,
				"properties": {
					"phone": {
						"type": "string",
						"minLength": 8,
						"description": "Destination number stored in E.164 format after normalization.",
						"example": "+5511999999999"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 80,
						"description": "Optional human-readable label used to look up the contact later.",
						"example": "Fernanda"
					},
					"channel": {
						"type": "string",
						"enum": ["SMS", "OTP"],
						"description": "Optional preferred channel for future contact-based sends.",
						"example": "SMS"
					},
					"tagIds": {
						"type": "array",
						"maxItems": 15,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "Optional tag identifiers attached to the contact on creation.",
						"example": ["748395130237498570"]
					},
					"tags": {
						"type": "object",
						"additionalProperties": true,
						"description": "Arbitrary metadata stored with the contact."
					},
					"preferredLanguages": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string"
						},
						"description": "Preferred locale codes used when targeting this contact with localized flows.",
						"example": ["br", "us"]
					}
				}
			},
			"ContactUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"phone": {
						"type": "string",
						"minLength": 8,
						"description": "Updated destination number. Rewrite normalizes it before persisting.",
						"example": "+5511888888888"
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 80,
						"description": "Updated contact label.",
						"example": "Fernanda Silva"
					},
					"channel": {
						"type": "string",
						"enum": ["SMS", "OTP"],
						"description": "Updated preferred channel.",
						"example": "OTP"
					},
					"tagIds": {
						"type": "array",
						"maxItems": 15,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "Replacement tag set linked to the contact. Existing relations are synchronized.",
						"example": ["748395130237498570"]
					},
					"tags": {
						"type": "object",
						"additionalProperties": true,
						"description": "Replacement metadata stored with the contact."
					},
					"preferredLanguages": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"type": "string"
						},
						"description": "Updated locale preference list for the contact.",
						"example": ["br"]
					}
				}
			},
			"ContactCreateResult": {
				"type": "object",
				"required": ["id", "phone", "country", "createdAt", "sandbox"],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Contact identifier returned by Rewrite."
					},
					"phone": {
						"type": "string",
						"description": "Normalized destination number stored for the contact.",
						"example": "+5511999999999"
					},
					"country": {
						"type": "string",
						"description": "Country inferred from the normalized number.",
						"example": "br"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the contact was created.",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"sandbox": {
						"type": "boolean",
						"description": "Whether the contact was created under sandbox mode.",
						"example": false
					}
				}
			},
			"Contact": {
				"type": "object",
				"required": [
					"id",
					"createdAt",
					"name",
					"phone",
					"country",
					"channel",
					"preferredLanguages",
					"tags",
					"sandbox",
					"updatedAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the contact was created.",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"name": {
						"type": ["string", "null"],
						"description": "Stored contact label.",
						"example": "Fernanda"
					},
					"phone": {
						"type": "string",
						"description": "Normalized destination number stored for the contact.",
						"example": "+5511999999999"
					},
					"country": {
						"type": "string",
						"description": "Country inferred from the normalized number.",
						"example": "br"
					},
					"channel": {
						"type": ["string", "null"],
						"enum": ["SMS", "OTP", null],
						"description": "Preferred channel saved with the contact, when configured.",
						"example": "SMS"
					},
					"preferredLanguages": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "Preferred locale codes stored with the contact.",
						"example": ["br", "us"]
					},
					"tags": {
						"type": "object",
						"additionalProperties": true,
						"description": "Arbitrary metadata stored with the contact."
					},
					"sandbox": {
						"type": "boolean",
						"description": "Whether the contact belongs to a sandbox flow.",
						"example": false
					},
					"updatedAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the contact was last updated.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"ContactResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/Contact"
					}
				}
			},
			"ContactCreateResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/ContactCreateResult"
					}
				}
			},
			"ContactListResponse": {
				"type": "object",
				"required": ["ok", "data", "cursor"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Contact"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"ContactBatchResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "object",
						"required": ["inserted", "updated", "ignored", "total"],
						"additionalProperties": false,
						"properties": {
							"inserted": {
								"type": "integer",
								"example": 2
							},
							"updated": {
								"type": "integer",
								"example": 0
							},
							"ignored": {
								"type": "integer",
								"example": 0
							},
							"total": {
								"type": "integer",
								"example": 2
							}
						}
					}
				}
			},
			"SegmentCreateBody": {
				"type": "object",
				"required": ["name"],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 80,
						"description": "Unique segment name inside the current project.",
						"example": "vip-customers"
					},
					"description": {
						"type": ["string", "null"],
						"minLength": 1,
						"maxLength": 280,
						"description": "Optional description for operators and dashboards.",
						"example": "Customers with priority transactional flows."
					},
					"color": {
						"type": ["string", "null"],
						"pattern": "^#[0-9A-Fa-f]{6}$",
						"description": "Optional hexadecimal accent color stored with the segment.",
						"example": "#0EA5E9"
					}
				}
			},
			"SegmentUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 80,
						"description": "Updated segment name.",
						"example": "priority-customers"
					},
					"description": {
						"type": ["string", "null"],
						"minLength": 1,
						"maxLength": 280,
						"description": "Updated description.",
						"example": "Customers that must always receive high-priority messaging."
					},
					"color": {
						"type": ["string", "null"],
						"pattern": "^#[0-9A-Fa-f]{6}$",
						"description": "Updated hexadecimal accent color.",
						"example": "#2563EB"
					}
				}
			},
			"SegmentAttachContactBody": {
				"type": "object",
				"required": ["contactId"],
				"additionalProperties": false,
				"properties": {
					"contactId": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Contact identifier that should be attached to the segment.",
						"example": "748395130237498515"
					}
				}
			},
			"SegmentCreateResult": {
				"type": "object",
				"required": [
					"id",
					"name",
					"description",
					"contactsCount",
					"sandbox",
					"updatedAt",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake"
					},
					"name": {
						"type": "string",
						"example": "vip-customers"
					},
					"description": {
						"type": ["string", "null"],
						"example": "Customers with priority transactional flows."
					},
					"contactsCount": {
						"type": "integer",
						"description": "Current number of contacts attached to the segment.",
						"example": 0
					},
					"sandbox": {
						"type": "boolean",
						"description": "Whether the segment was created under sandbox mode.",
						"example": false
					},
					"updatedAt": {
						"type": "string",
						"format": "date-time",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"Segment": {
				"type": "object",
				"required": [
					"id",
					"createdAt",
					"name",
					"description",
					"color",
					"contactsCount",
					"sandbox",
					"updatedAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"name": {
						"type": "string",
						"description": "Segment name unique inside the project.",
						"example": "vip-customers"
					},
					"description": {
						"type": ["string", "null"],
						"description": "Optional description stored with the segment.",
						"example": "Customers with priority transactional flows."
					},
					"color": {
						"type": ["string", "null"],
						"description": "Optional hexadecimal accent color.",
						"example": "#0EA5E9"
					},
					"contactsCount": {
						"type": "integer",
						"description": "Current number of contacts attached to the segment.",
						"example": 12
					},
					"sandbox": {
						"type": "boolean",
						"description": "Whether the segment belongs to a sandbox flow.",
						"example": false
					},
					"updatedAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the segment was last updated.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"SegmentResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/Segment"
					}
				}
			},
			"SegmentCreateResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/SegmentCreateResult"
					}
				}
			},
			"SegmentListResponse": {
				"type": "object",
				"required": ["ok", "data", "cursor"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Segment"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"TagCreateBody": {
				"type": "object",
				"required": ["name"],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64,
						"example": "vip"
					},
					"color": {
						"type": "string",
						"pattern": "^#[0-9A-Fa-f]{6}$",
						"example": "#F97316"
					},
					"description": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128,
						"example": "Contacts prioritized for transactional messaging."
					}
				}
			},
			"TagUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64,
						"example": "priority-vip"
					},
					"color": {
						"type": "string",
						"pattern": "^#[0-9A-Fa-f]{6}$",
						"example": "#EA580C"
					},
					"description": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128,
						"example": "Updated description for priority contacts."
					}
				}
			},
			"TagCreateResult": {
				"type": "object",
				"required": ["id", "slug", "createdAt"],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"example": "748395130237498570"
					},
					"slug": {
						"type": "string",
						"example": "vip"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"Tag": {
				"type": "object",
				"required": [
					"id",
					"name",
					"color",
					"description",
					"contactsCount",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"example": "748395130237498570"
					},
					"name": {
						"type": "string",
						"example": "vip"
					},
					"color": {
						"type": ["string", "null"],
						"example": "#F97316"
					},
					"description": {
						"type": ["string", "null"],
						"example": "Contacts prioritized for transactional messaging."
					},
					"contactsCount": {
						"type": "integer",
						"example": 12
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"TagResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/Tag"
					}
				}
			},
			"TagCreateResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/TagCreateResult"
					}
				}
			},
			"TagListResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Tag"
						}
					}
				}
			},
			"Metadata": {
				"type": "object",
				"additionalProperties": true,
				"description": "Arbitrary metadata object. Rewrite stores up to 20 keys with a combined maximum of 4kb."
			},
			"MessageAnalysis": {
				"type": "object",
				"required": ["characters", "encoding", "segments"],
				"additionalProperties": false,
				"properties": {
					"characters": {
						"type": "integer",
						"description": "Total character count in the rendered SMS content.",
						"example": 28
					},
					"encoding": {
						"type": "string",
						"enum": ["gsm7", "ucs2"],
						"description": "Encoding detected for the rendered SMS content.",
						"example": "gsm7"
					},
					"segments": {
						"type": "object",
						"required": ["concat", "count", "reason", "single"],
						"additionalProperties": false,
						"properties": {
							"concat": {
								"type": "integer",
								"description": "Maximum characters allowed per segment in multipart SMS.",
								"example": 153
							},
							"count": {
								"type": "integer",
								"description": "Number of SMS segments required to send the message.",
								"example": 1
							},
							"reason": {
								"type": "string",
								"enum": ["fits", "smart", "singleLimit", "nonGsm7"],
								"description": "Why Rewrite selected the reported segmentation result.",
								"example": "fits"
							},
							"single": {
								"type": "integer",
								"description": "Maximum characters allowed when the message fits in a single SMS.",
								"example": 160
							}
						}
					}
				}
			},
			"MessageSegmentation": {
				"type": "object",
				"required": ["max"],
				"additionalProperties": false,
				"properties": {
					"max": {
						"type": "integer",
						"minimum": 1,
						"maximum": 24,
						"description": "Maximum number of SMS segments Rewrite is allowed to send.",
						"example": 2
					},
					"mode": {
						"type": "string",
						"enum": ["fail", "trim", "send"],
						"description": "How Rewrite should behave when the message exceeds the allowed segment count.",
						"example": "send"
					},
					"smart": {
						"type": "boolean",
						"description": "When `true`, Rewrite may optimize the content to fit GSM-7 when possible.",
						"example": true
					}
				}
			},
			"MessageInlineBody": {
				"title": "With content and direct number",
				"type": "object",
				"required": ["to", "content"],
				"additionalProperties": false,
				"properties": {
					"to": {
						"type": "string",
						"description": "Destination number in E.164 format.",
						"example": "+5511999999999"
					},
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1600,
						"description": "Rendered SMS content to send.",
						"example": "Rewrite: seu codigo e 478201"
					},
					"tags": {
						"$ref": "#/components/schemas/Metadata",
						"description": "Optional metadata stored with the message.",
						"example": {
							"flow": "login",
							"origin": "checkout"
						}
					},
					"scheduledAt": {
						"type": "string",
						"format": "date-time",
						"description": "When provided, Rewrite schedules the message for later delivery.",
						"example": "2026-03-20T14:30:00.000Z"
					},
					"segmentation": {
						"$ref": "#/components/schemas/MessageSegmentation",
						"description": "Optional segmentation rules for long SMS bodies."
					}
				}
			},
			"MessageInlineContactBody": {
				"title": "With content and saved contact",
				"type": "object",
				"required": ["contact", "content"],
				"additionalProperties": false,
				"properties": {
					"contact": {
						"type": "string",
						"minLength": 1,
						"maxLength": 80,
						"description": "Contact identifier or saved contact name resolved inside the current project.",
						"example": "Fernanda"
					},
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1600,
						"description": "Rendered SMS content to send.",
						"example": "Rewrite: seu codigo e 478201"
					},
					"tags": {
						"$ref": "#/components/schemas/Metadata",
						"description": "Optional metadata stored with the message.",
						"example": {
							"flow": "login",
							"origin": "checkout"
						}
					},
					"scheduledAt": {
						"type": "string",
						"format": "date-time",
						"description": "When provided, Rewrite schedules the message for later delivery."
					},
					"segmentation": {
						"$ref": "#/components/schemas/MessageSegmentation",
						"description": "Optional segmentation rules for long SMS bodies."
					}
				}
			},
			"MessageTemplateBody": {
				"title": "Using templates and direct number",
				"type": "object",
				"required": ["to", "templateId"],
				"additionalProperties": false,
				"properties": {
					"to": {
						"type": "string",
						"description": "Destination number in E.164 format.",
						"example": "+5511888888888"
					},
					"templateId": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Template identifier to render before sending.",
						"example": "748395130237498620"
					},
					"variables": {
						"type": "object",
						"additionalProperties": {
							"type": "string"
						},
						"default": {},
						"description": "Variable values used when rendering the selected template."
					},
					"tags": {
						"$ref": "#/components/schemas/Metadata",
						"description": "Optional metadata stored with the message.",
						"example": {
							"flow": "login",
							"origin": "checkout"
						}
					},
					"scheduledAt": {
						"type": "string",
						"format": "date-time",
						"description": "When provided, Rewrite schedules the message for later delivery."
					},
					"segmentation": {
						"$ref": "#/components/schemas/MessageSegmentation",
						"description": "Optional segmentation rules for the rendered template output."
					}
				}
			},
			"MessageTemplateContactBody": {
				"title": "Using templates and saved contact",
				"type": "object",
				"required": ["contact", "templateId"],
				"additionalProperties": false,
				"properties": {
					"contact": {
						"type": "string",
						"minLength": 1,
						"maxLength": 80,
						"description": "Contact identifier or saved contact name resolved inside the current project.",
						"example": "748395130237498515"
					},
					"templateId": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Template identifier to render before sending.",
						"example": "748395130237498620"
					},
					"variables": {
						"type": "object",
						"additionalProperties": {
							"type": "string"
						},
						"default": {},
						"description": "Variable values used when rendering the selected template."
					},
					"tags": {
						"$ref": "#/components/schemas/Metadata",
						"description": "Optional metadata stored with the message.",
						"example": {
							"flow": "login",
							"origin": "checkout"
						}
					},
					"scheduledAt": {
						"type": "string",
						"format": "date-time",
						"description": "When provided, Rewrite schedules the message for later delivery."
					},
					"segmentation": {
						"$ref": "#/components/schemas/MessageSegmentation",
						"description": "Optional segmentation rules for the rendered template output."
					}
				}
			},
			"MessageCreateBody": {
				"oneOf": [
					{
						"$ref": "#/components/schemas/MessageInlineBody"
					},
					{
						"$ref": "#/components/schemas/MessageInlineContactBody"
					},
					{
						"$ref": "#/components/schemas/MessageTemplateBody"
					},
					{
						"$ref": "#/components/schemas/MessageTemplateContactBody"
					}
				]
			},
			"MessageRef": {
				"type": "object",
				"required": ["id", "createdAt"],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Message identifier returned by Rewrite.",
						"example": "748395130237498412"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite accepted the message.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"MessageCreateResult": {
				"allOf": [
					{
						"$ref": "#/components/schemas/MessageRef"
					},
					{
						"type": "object",
						"required": ["analysis", "sandbox"],
						"additionalProperties": false,
						"properties": {
							"analysis": {
								"$ref": "#/components/schemas/MessageAnalysis",
								"description": "Segmentation analysis for the SMS content accepted by Rewrite."
							},
							"sandbox": {
								"type": "boolean",
								"description": "Whether this message was created while the project was in sandbox mode.",
								"example": false
							}
						}
					}
				]
			},
			"MessageCreateResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/MessageCreateResult"
					}
				}
			},
			"MessageBatchCreateResult": {
				"type": "object",
				"required": ["ids"],
				"additionalProperties": false,
				"properties": {
					"ids": {
						"type": "array",
						"description": "Identifiers for the messages accepted into the batch request.",
						"items": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": [
							"748395130237498412",
							"748395130237498413",
							"748395130237498414"
						]
					}
				}
			},
			"MessageBatchCreateResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/MessageBatchCreateResult"
					}
				}
			},
			"Message": {
				"type": "object",
				"required": [
					"id",
					"createdAt",
					"contact",
					"contactId",
					"to",
					"from",
					"type",
					"tags",
					"status",
					"country",
					"content",
					"encoding",
					"templateId",
					"deliveredAt",
					"scheduledAt",
					"sandbox"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Message identifier returned by Rewrite.",
						"example": "748395130237498412"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite accepted the message.",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"contact": {
						"type": ["string", "null"],
						"description": "Resolved contact label used for this message, when the request targeted a saved contact.",
						"example": "Fernanda"
					},
					"contactId": {
						"type": ["string", "null"],
						"description": "Contact identifier associated with the message, when available.",
						"example": "748395130237498515"
					},
					"to": {
						"type": "string",
						"description": "Destination number in E.164 format.",
						"example": "+5511999999999"
					},
					"from": {
						"type": ["string", "null"],
						"description": "Resolved sender ID used for this message, when available.",
						"example": null
					},
					"type": {
						"type": "string",
						"enum": ["SMS", "OTP"],
						"description": "Message type stored by Rewrite.",
						"example": "SMS"
					},
					"tags": {
						"$ref": "#/components/schemas/Metadata",
						"description": "Metadata attached to the message.",
						"example": {
							"flow": "login",
							"origin": "checkout"
						}
					},
					"status": {
						"type": "string",
						"enum": [
							"SENT",
							"QUEUED",
							"FAILED",
							"CANCELED",
							"RECEIVED",
							"SCHEDULED",
							"DELIVERED"
						],
						"description": "Latest delivery status known by Rewrite.",
						"example": "DELIVERED"
					},
					"country": {
						"type": "string",
						"description": "Country inferred from the destination number.",
						"example": "br"
					},
					"content": {
						"type": "string",
						"description": "Final SMS content sent to the destination number.",
						"example": "Rewrite: seu codigo e 478201"
					},
					"encoding": {
						"type": "string",
						"enum": ["GSM7", "UCS2"],
						"description": "Encoding used by the provider when sending the SMS.",
						"example": "GSM7"
					},
					"templateId": {
						"type": ["string", "null"],
						"description": "Template used to render the message, when applicable.",
						"example": null
					},
					"deliveredAt": {
						"type": ["string", "null"],
						"format": "date-time",
						"description": "Timestamp when the provider confirmed final delivery.",
						"example": "2026-03-20T14:22:39.914Z"
					},
					"scheduledAt": {
						"type": ["string", "null"],
						"format": "date-time",
						"description": "Scheduled send time, when the message was delayed intentionally.",
						"example": null
					},
					"sandbox": {
						"type": "boolean",
						"description": "Whether the message belongs to a sandbox project flow.",
						"example": false
					}
				}
			},
			"MessageResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/Message"
					}
				}
			},
			"MessageListResponse": {
				"type": "object",
				"required": ["ok", "data", "cursor"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Message"
						},
						"example": [
							{
								"id": "748395130237498412",
								"createdAt": "2026-03-20T14:22:31.562Z",
								"contact": "Fernanda",
								"contactId": "748395130237498515",
								"to": "+5511999999999",
								"from": null,
								"type": "SMS",
								"tags": {
									"flow": "login",
									"origin": "checkout"
								},
								"status": "DELIVERED",
								"country": "br",
								"content": "Rewrite: seu codigo e 478201",
								"encoding": "GSM7",
								"templateId": null,
								"deliveredAt": "2026-03-20T14:22:39.914Z",
								"scheduledAt": null,
								"sandbox": false
							},
							{
								"id": "748395130237498413",
								"createdAt": "2026-03-20T14:22:31.562Z",
								"contact": "Fernanda",
								"contactId": "748395130237498515",
								"to": "+5511888888888",
								"from": null,
								"type": "SMS",
								"tags": {
									"flow": "login",
									"origin": "checkout"
								},
								"status": "SENT",
								"country": "br",
								"content": "Rewrite: seu codigo e 478201",
								"encoding": "GSM7",
								"templateId": null,
								"deliveredAt": null,
								"scheduledAt": null,
								"sandbox": false
							}
						]
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					},
					"count": {
						"type": "integer",
						"description": "Only returned when `withCounts=true` is provided on the request.",
						"example": 2
					}
				}
			},
			"OTPPhoneCreateBody": {
				"title": "With direct number",
				"type": "object",
				"required": ["to"],
				"additionalProperties": false,
				"properties": {
					"to": {
						"type": "string",
						"description": "Destination number that should receive the OTP.",
						"example": "+5511999999999"
					},
					"prefix": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Short brand prefix included in the OTP SMS.",
						"example": "Rewrite"
					},
					"expiresIn": {
						"type": "integer",
						"minimum": 1,
						"maximum": 15,
						"description": "Minutes until the OTP expires.",
						"example": 5
					}
				}
			},
			"OTPContactCreateBody": {
				"title": "With saved contact",
				"type": "object",
				"required": ["contact"],
				"additionalProperties": false,
				"properties": {
					"contact": {
						"type": "string",
						"minLength": 1,
						"maxLength": 80,
						"description": "Contact identifier or saved contact name resolved inside the current project.",
						"example": "Fernanda"
					},
					"prefix": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Short brand prefix included in the OTP SMS.",
						"example": "Rewrite"
					},
					"expiresIn": {
						"type": "integer",
						"minimum": 1,
						"maximum": 15,
						"description": "Minutes until the OTP expires.",
						"example": 5
					}
				}
			},
			"OTPCreateBody": {
				"oneOf": [
					{
						"$ref": "#/components/schemas/OTPPhoneCreateBody"
					},
					{
						"$ref": "#/components/schemas/OTPContactCreateBody"
					}
				]
			},
			"OTPCreateResult": {
				"type": "object",
				"required": ["id", "to", "prefix", "createdAt", "expiresAt"],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "OTP identifier returned by Rewrite.",
						"example": "748395130237499120"
					},
					"to": {
						"type": "string",
						"description": "Destination number used for the OTP.",
						"example": "+5511999999999"
					},
					"prefix": {
						"type": "string",
						"description": "Brand prefix included in the OTP SMS.",
						"example": "Rewrite"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite accepted the OTP request.",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"expiresAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the OTP becomes invalid.",
						"example": "2026-03-20T14:27:31.562Z"
					}
				}
			},
			"OTPCreateResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/OTPCreateResult"
					}
				}
			},
			"OTPVerifyBody": {
				"type": "object",
				"required": ["to", "code"],
				"additionalProperties": false,
				"properties": {
					"to": {
						"type": "string",
						"description": "Destination number used when the OTP was created.",
						"example": "+5511999999999"
					},
					"code": {
						"type": "string",
						"minLength": 4,
						"maxLength": 10,
						"description": "Numeric OTP code provided by the user.",
						"example": "478201"
					}
				}
			},
			"OTPVerifyResult": {
				"type": "object",
				"required": ["id", "valid", "verifiedAt"],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "OTP identifier being verified.",
						"example": "748395130237499120"
					},
					"valid": {
						"type": "boolean",
						"const": true,
						"description": "Always `true` when the OTP verification succeeds.",
						"example": true
					},
					"verifiedAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite marked the OTP as verified.",
						"example": "2026-03-20T14:23:18.000Z"
					}
				}
			},
			"OTPVerifyResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/OTPVerifyResult"
					}
				}
			},
			"TemplateVariable": {
				"type": "object",
				"required": ["name"],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Variable placeholder name used inside the template content.",
						"example": "code"
					},
					"fallback": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64,
						"description": "Optional fallback value used when the variable is omitted at send time.",
						"example": "478201"
					}
				}
			},
			"TemplateI18n": {
				"type": "object",
				"description": "Locale overrides keyed by lowercase ISO country code, for example `br`.",
				"additionalProperties": {
					"type": "string",
					"minLength": 1,
					"maxLength": 1024
				}
			},
			"TemplateCreateBody": {
				"type": "object",
				"required": ["name", "content", "variables"],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Template name used later in the dashboard and API responses.",
						"example": "login_code"
					},
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "Default SMS content rendered when no locale override applies.",
						"example": "Rewrite: seu codigo e {{code}}"
					},
					"variables": {
						"type": "array",
						"maxItems": 15,
						"description": "Variables accepted by the template.",
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"example": [
							{
								"name": "code",
								"fallback": "478201"
							}
						]
					},
					"description": {
						"type": ["string", "null"],
						"minLength": 1,
						"maxLength": 72,
						"description": "Short human-readable explanation of what the template is for.",
						"example": "Template usado no fluxo de login"
					},
					"tags": {
						"$ref": "#/components/schemas/Metadata",
						"description": "Optional metadata stored with the template.",
						"example": {
							"flow": "otp",
							"channel": "login"
						}
					}
				}
			},
			"TemplateUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "Updated default SMS content.",
						"example": "Rewrite: seu codigo e {{code}}"
					},
					"variables": {
						"type": "array",
						"maxItems": 15,
						"description": "Updated variable definitions for the template.",
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"example": [
							{
								"name": "code",
								"fallback": "478201"
							}
						]
					},
					"description": {
						"type": ["string", "null"],
						"minLength": 1,
						"maxLength": 72,
						"description": "Updated human-readable description for the template.",
						"example": "Template usado no fluxo de recuperacao de conta"
					},
					"tags": {
						"$ref": "#/components/schemas/Metadata",
						"description": "Replacement metadata stored with the template.",
						"example": {
							"flow": "otp",
							"channel": "login"
						}
					}
				}
			},
			"Template": {
				"type": "object",
				"required": [
					"id",
					"name",
					"content",
					"variables",
					"description",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Template identifier returned by Rewrite.",
						"example": "748395130237498620"
					},
					"name": {
						"type": "string",
						"description": "Template name.",
						"example": "login_code"
					},
					"content": {
						"type": "string",
						"description": "Default SMS content stored for the template.",
						"example": "Rewrite: seu codigo e {{code}}"
					},
					"i18n": {
						"$ref": "#/components/schemas/TemplateI18n",
						"description": "Locale-specific overrides available for the template."
					},
					"variables": {
						"type": "array",
						"description": "Variable definitions accepted by the template.",
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"example": [
							{
								"name": "code",
								"fallback": "478201"
							}
						]
					},
					"description": {
						"type": ["string", "null"],
						"description": "Human-readable description saved with the template.",
						"example": "Template usado no fluxo de login"
					},
					"tags": {
						"$ref": "#/components/schemas/Metadata",
						"description": "Metadata stored with the template.",
						"example": {
							"flow": "otp",
							"channel": "login"
						}
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the template was created.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"TemplateResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/Template"
					}
				}
			},
			"TemplateListResponse": {
				"type": "object",
				"required": ["ok", "data", "cursor"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Template"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"TemplateCreateResult": {
				"type": "object",
				"required": ["id", "createdAt"],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Template identifier returned by Rewrite.",
						"example": "748395130237498620"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the template was created.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"TemplateCreateResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/TemplateCreateResult"
					}
				}
			},
			"WebhookDeliveryConfig": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"timeout": {
						"type": "integer",
						"minimum": 1000,
						"maximum": 5000,
						"description": "Maximum time in milliseconds Rewrite waits for each delivery attempt before timing out.",
						"example": 3000
					},
					"retries": {
						"type": "integer",
						"minimum": 0,
						"maximum": 5,
						"description": "Number of retry attempts Rewrite schedules after the first failed delivery.",
						"example": 2
					}
				}
			},
			"WebhookCreateBody": {
				"type": "object",
				"required": ["events", "endpoint"],
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Friendly name shown in the dashboard and logs.",
						"example": "delivery-events"
					},
					"events": {
						"type": "array",
						"minItems": 1,
						"uniqueItems": true,
						"description": "Event types that should be delivered to this webhook.",
						"items": {
							"type": "string",
							"enum": [
								"sms.otp",
								"message.sent",
								"message.batch",
								"message.queued",
								"message.failed",
								"message.canceled",
								"message.delivered",
								"message.received",
								"message.scheduled"
							]
						},
						"example": [
							"message.sent",
							"message.failed",
							"message.received",
							"sms.otp"
						]
					},
					"secret": {
						"type": "string",
						"minLength": 16,
						"maxLength": 128,
						"description": "Accepted formats: `whsec_<base64>`, raw base64, or legacy `rw_whsec_...`.",
						"example": "whsec_dGVzdF9zZWNyZXRfdmFsdWU="
					},
					"endpoint": {
						"type": "string",
						"format": "uri",
						"maxLength": 255,
						"description": "Must be HTTPS in production. `http://localhost/...` is also accepted. Query strings and fragments are rejected.",
						"example": "https://example.com/rewrite/webhooks"
					},
					"delivery": {
						"$ref": "#/components/schemas/WebhookDeliveryConfig",
						"description": "Optional delivery tuning for timeout and retry behavior."
					}
				}
			},
			"WebhookUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"name": {
						"type": ["string", "null"],
						"minLength": 1,
						"maxLength": 32,
						"description": "Updated friendly name. Send `null` to remove the current name.",
						"example": "delivery-events-staging"
					},
					"events": {
						"type": "array",
						"minItems": 1,
						"uniqueItems": true,
						"description": "Updated event selection for the webhook.",
						"items": {
							"type": "string",
							"enum": [
								"sms.otp",
								"message.sent",
								"message.batch",
								"message.queued",
								"message.failed",
								"message.canceled",
								"message.delivered",
								"message.received",
								"message.scheduled"
							]
						},
						"example": ["message.sent", "message.failed"]
					},
					"secret": {
						"type": "string",
						"minLength": 16,
						"maxLength": 128,
						"description": "New signing secret to use for future deliveries.",
						"example": "whsec_bmV3X3NlY3JldF92YWx1ZQ=="
					},
					"endpoint": {
						"type": "string",
						"format": "uri",
						"maxLength": 255,
						"description": "Updated destination URL for future deliveries.",
						"example": "https://example.com/rewrite/webhooks/secondary"
					},
					"isEnabled": {
						"type": "boolean",
						"description": "Whether Rewrite should actively deliver events to this webhook.",
						"example": false
					},
					"delivery": {
						"$ref": "#/components/schemas/WebhookDeliveryConfig",
						"description": "Updated delivery tuning for timeout and retry behavior."
					}
				}
			},
			"Webhook": {
				"type": "object",
				"required": [
					"id",
					"name",
					"events",
					"isEnabled",
					"sandbox",
					"endpoint",
					"retries",
					"timeout",
					"lastDeliveryAt",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Webhook identifier returned by Rewrite.",
						"example": "748395130237498750"
					},
					"name": {
						"type": ["string", "null"],
						"description": "Friendly name shown in the dashboard and logs.",
						"example": "delivery-events"
					},
					"events": {
						"type": "array",
						"description": "Events delivered to this webhook.",
						"items": {
							"type": "string",
							"enum": [
								"sms.otp",
								"message.sent",
								"message.batch",
								"message.queued",
								"message.failed",
								"message.canceled",
								"message.delivered",
								"message.received",
								"message.scheduled"
							]
						},
						"example": [
							"message.sent",
							"message.failed",
							"message.received",
							"sms.otp"
						]
					},
					"isEnabled": {
						"type": "boolean",
						"description": "Whether Rewrite currently delivers events to this webhook.",
						"example": true
					},
					"sandbox": {
						"type": "boolean",
						"description": "Whether the webhook belongs to a sandbox project.",
						"example": false
					},
					"endpoint": {
						"type": "string",
						"description": "Destination URL that receives Rewrite webhook events.",
						"example": "https://example.com/rewrite/webhooks"
					},
					"retries": {
						"type": "integer",
						"description": "Number of retry attempts Rewrite schedules after the first failed delivery.",
						"example": 2
					},
					"timeout": {
						"type": "integer",
						"description": "Maximum time in milliseconds Rewrite waits for each delivery attempt before timing out.",
						"example": 3000
					},
					"lastDeliveryAt": {
						"type": ["string", "null"],
						"format": "date-time",
						"description": "Timestamp of the last recorded delivery attempt for this webhook.",
						"example": "2026-03-20T14:22:39.914Z"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the webhook was created.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"WebhookWithSecret": {
				"allOf": [
					{
						"$ref": "#/components/schemas/Webhook"
					},
					{
						"type": "object",
						"required": ["secret"],
						"additionalProperties": false,
						"properties": {
							"secret": {
								"type": "string",
								"description": "Signing secret associated with the webhook.",
								"example": "whsec_dGVzdF9zZWNyZXRfdmFsdWU="
							}
						}
					}
				]
			},
			"WebhookListResponse": {
				"type": "object",
				"required": ["ok", "data", "cursor"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Webhook"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"WebhookResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/WebhookWithSecret"
					}
				}
			},
			"WebhookCreateResult": {
				"type": "object",
				"required": ["id", "secret", "createdAt"],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Webhook identifier returned by Rewrite.",
						"example": "748395130237498750"
					},
					"secret": {
						"type": "string",
						"description": "Generated signing secret to persist on your side.",
						"example": "whsec_dGVzdF9zZWNyZXRfdmFsdWU="
					},
					"sandbox": {
						"type": "boolean",
						"description": "Whether the webhook was created under sandbox mode.",
						"example": false
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the webhook was created.",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"WebhookCreateResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/WebhookCreateResult"
					}
				}
			},
			"WebhookOTPMetadata": {
				"type": "object",
				"required": ["prefix", "expiresIn", "expiresAt"],
				"additionalProperties": false,
				"properties": {
					"prefix": {
						"type": "string",
						"description": "Brand prefix embedded in the OTP SMS.",
						"example": "Rewrite"
					},
					"expiresIn": {
						"type": "integer",
						"description": "Minutes until the OTP expires.",
						"example": 5
					},
					"expiresAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when the OTP becomes invalid.",
						"example": "2026-03-20T14:27:31.562Z"
					}
				}
			},
			"WebhookMessageData": {
				"type": "object",
				"required": [
					"id",
					"projectId",
					"contact",
					"contactId",
					"to",
					"tags",
					"sandbox",
					"type",
					"status",
					"content",
					"country",
					"analysis",
					"error",
					"deliveredAt",
					"scheduledAt",
					"templateId"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Message identifier that triggered the webhook.",
						"example": "748395130237498412"
					},
					"projectId": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Project identifier associated with the event.",
						"example": "748395130237499220"
					},
					"contact": {
						"type": ["string", "null"],
						"description": "Resolved contact label used to create the message, when available.",
						"example": "Fernanda"
					},
					"contactId": {
						"type": ["string", "null"],
						"description": "Contact identifier associated with the message, when available.",
						"example": "748395130237498515"
					},
					"to": {
						"type": "string",
						"description": "Destination number for the message.",
						"example": "+5511999999999"
					},
					"tags": {
						"$ref": "#/components/schemas/Metadata",
						"description": "Metadata attached to the message.",
						"example": {
							"flow": "login",
							"origin": "checkout"
						}
					},
					"sandbox": {
						"type": "boolean",
						"description": "Whether the message belongs to a sandbox flow.",
						"example": false
					},
					"type": {
						"type": "string",
						"enum": ["SMS", "OTP"],
						"description": "Message type associated with the event.",
						"example": "SMS"
					},
					"status": {
						"type": "string",
						"enum": [
							"SENT",
							"QUEUED",
							"FAILED",
							"CANCELED",
							"RECEIVED",
							"SCHEDULED",
							"DELIVERED"
						],
						"description": "Delivery status reported in the event.",
						"example": "DELIVERED"
					},
					"content": {
						"type": "string",
						"description": "Rendered SMS content included in the event payload.",
						"example": "Rewrite: seu codigo e 478201"
					},
					"country": {
						"type": "string",
						"description": "Country inferred from the destination number.",
						"example": "br"
					},
					"analysis": {
						"$ref": "#/components/schemas/MessageAnalysis",
						"description": "Segmentation analysis for the message content."
					},
					"error": {
						"type": ["object", "null"],
						"additionalProperties": false,
						"required": ["code", "message"],
						"properties": {
							"code": {
								"type": ["string", "number", "null"],
								"description": "Provider or internal code associated with the delivery failure.",
								"example": null
							},
							"message": {
								"type": "string",
								"description": "Human-readable explanation for the failure.",
								"example": "Provider timeout"
							}
						},
						"example": null
					},
					"deliveredAt": {
						"type": ["string", "null"],
						"format": "date-time",
						"description": "Timestamp when the provider confirmed delivery.",
						"example": "2026-03-20T14:22:39.914Z"
					},
					"scheduledAt": {
						"type": ["string", "null"],
						"format": "date-time",
						"description": "Scheduled send time, when applicable.",
						"example": null
					},
					"templateId": {
						"type": ["string", "null"],
						"description": "Template identifier used to render the message, when applicable.",
						"example": null
					},
					"otp": {
						"$ref": "#/components/schemas/WebhookOTPMetadata",
						"description": "OTP metadata present only for `sms.otp` events."
					}
				}
			},
			"WebhookBatchData": {
				"type": "object",
				"required": ["id", "ids", "projectId"],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Batch identifier returned by Rewrite.",
						"example": "748395130237498414"
					},
					"projectId": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Project identifier associated with the batch event.",
						"example": "748395130237499220"
					},
					"ids": {
						"type": "array",
						"description": "Accepted message identifiers that belong to the batch.",
						"items": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": [
							"748395130237498412",
							"748395130237498413",
							"748395130237498414"
						]
					}
				}
			},
			"WebhookEvent": {
				"type": "object",
				"required": ["id", "createdAt", "type", "sandbox", "data"],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Webhook event identifier generated by Rewrite.",
						"example": "748395130237498880"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite created the event payload.",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"type": {
						"type": "string",
						"enum": [
							"sms.otp",
							"message.sent",
							"message.batch",
							"message.queued",
							"message.failed",
							"message.canceled",
							"message.delivered",
							"message.received",
							"message.scheduled"
						],
						"description": "Webhook event type.",
						"example": "message.sent"
					},
					"sandbox": {
						"type": "boolean",
						"description": "Whether Rewrite created this event while the project was in sandbox mode.",
						"example": false
					},
					"data": {
						"oneOf": [
							{
								"$ref": "#/components/schemas/WebhookMessageData"
							},
							{
								"$ref": "#/components/schemas/WebhookBatchData"
							}
						],
						"description": "Event payload for either a single message or a batch."
					}
				}
			},
			"DeliverySummary": {
				"type": "object",
				"required": [
					"id",
					"url",
					"type",
					"code",
					"error",
					"status",
					"attempt",
					"latency",
					"retryAt",
					"createdAt",
					"messageId",
					"sandbox"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Webhook delivery log identifier.",
						"example": "748395130237498880"
					},
					"url": {
						"type": "string",
						"description": "Webhook URL that received the delivery attempt.",
						"example": "https://example.com/rewrite/webhooks"
					},
					"type": {
						"type": "string",
						"enum": [
							"sms.otp",
							"message.sent",
							"message.batch",
							"message.queued",
							"message.failed",
							"message.canceled",
							"message.delivered",
							"message.received",
							"message.scheduled"
						],
						"description": "Webhook event type delivered in this attempt.",
						"example": "message.sent"
					},
					"code": {
						"type": ["integer", "null"],
						"description": "HTTP status code returned by the webhook URL.",
						"example": 200
					},
					"error": {
						"type": ["string", "null"],
						"description": "Transport or application error captured for the attempt.",
						"example": null
					},
					"status": {
						"type": "string",
						"enum": ["FAILED", "SUCCESS"],
						"description": "Delivery outcome recorded by Rewrite.",
						"example": "SUCCESS"
					},
					"attempt": {
						"type": "integer",
						"description": "Attempt number for this delivery.",
						"example": 1
					},
					"latency": {
						"type": ["integer", "null"],
						"description": "Round-trip time in milliseconds.",
						"example": 182
					},
					"retryAt": {
						"type": ["string", "null"],
						"format": "date-time",
						"description": "Next scheduled retry time, when the attempt failed and will retry.",
						"example": null
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp when Rewrite recorded the delivery attempt.",
						"example": "2026-03-20T14:22:31.562Z"
					},
					"messageId": {
						"type": ["string", "null"],
						"description": "Message identifier associated with the delivery attempt, when available.",
						"example": "748395130237498412"
					},
					"sandbox": {
						"type": "boolean",
						"description": "Whether the delivery belongs to a sandbox flow.",
						"example": false
					}
				}
			},
			"DeliveryDetail": {
				"allOf": [
					{
						"$ref": "#/components/schemas/DeliverySummary"
					},
					{
						"type": "object",
						"required": ["payload", "webhookId"],
						"additionalProperties": false,
						"properties": {
							"payload": {
								"$ref": "#/components/schemas/WebhookEvent",
								"description": "Event payload delivered during this attempt."
							},
							"webhookId": {
								"type": ["string", "null"],
								"description": "Webhook identifier associated with the log entry.",
								"example": "748395130237498750"
							}
						}
					}
				]
			},
			"DeliveryListResponse": {
				"type": "object",
				"required": ["ok", "data", "cursor"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/DeliverySummary"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"DeliveryResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/DeliveryDetail"
					}
				}
			},
			"CompactDelivery": {
				"type": "object",
				"required": [
					"id",
					"url",
					"code",
					"webhookId",
					"messageId",
					"sandbox",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"example": "748395130237498880"
					},
					"url": {
						"type": "string",
						"example": "https://example.com/rewrite/webhooks"
					},
					"code": {
						"type": ["integer", "null"],
						"example": 200
					},
					"webhookId": {
						"type": ["string", "null"],
						"example": "748395130237498750"
					},
					"messageId": {
						"type": ["string", "null"],
						"example": "748395130237498412"
					},
					"sandbox": {
						"type": "boolean",
						"example": false
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"CompactDeliveryListResponse": {
				"type": "object",
				"required": ["ok", "data", "cursor"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/CompactDelivery"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"RequestLogSummary": {
				"type": "object",
				"required": [
					"id",
					"method",
					"endpoint",
					"status",
					"source",
					"sandbox",
					"createdAt"
				],
				"additionalProperties": false,
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"example": "748395130237498880"
					},
					"method": {
						"type": "string",
						"example": "POST"
					},
					"endpoint": {
						"type": "string",
						"example": "/messages"
					},
					"status": {
						"type": "integer",
						"minimum": 100,
						"maximum": 600,
						"example": 200
					},
					"source": {
						"type": "string",
						"enum": ["API", "Dashboard"],
						"example": "API"
					},
					"sandbox": {
						"type": "boolean",
						"example": false
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"example": "2026-03-20T14:22:31.562Z"
					}
				}
			},
			"RequestLogDetail": {
				"allOf": [
					{
						"$ref": "#/components/schemas/RequestLogSummary"
					},
					{
						"type": "object",
						"required": [
							"ip",
							"projectId",
							"apiKeyId",
							"requestBody",
							"responseBody"
						],
						"additionalProperties": false,
						"properties": {
							"ip": {
								"type": ["string", "null"],
								"example": "203.0.113.10"
							},
							"projectId": {
								"type": ["string", "null"],
								"example": "748395130237499220"
							},
							"apiKeyId": {
								"type": ["string", "null"],
								"example": "748395130237498990"
							},
							"requestBody": {
								"type": [
									"object",
									"array",
									"string",
									"number",
									"boolean",
									"null"
								],
								"example": {
									"to": "+5511999999999",
									"content": "Rewrite: seu codigo e 478201"
								}
							},
							"responseBody": {
								"type": [
									"object",
									"array",
									"string",
									"number",
									"boolean",
									"null"
								],
								"example": {
									"ok": true,
									"data": {
										"id": "748395130237498412",
										"createdAt": "2026-03-20T14:22:31.562Z",
										"analysis": {
											"characters": 28,
											"encoding": "gsm7",
											"segments": {
												"concat": 153,
												"count": 1,
												"reason": "fits",
												"single": 160
											}
										},
										"sandbox": false
									}
								}
							}
						}
					}
				]
			},
			"RequestLogListResponse": {
				"type": "object",
				"required": ["ok", "data", "cursor"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/RequestLogSummary"
						}
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor"
					}
				}
			},
			"RequestLogResponse": {
				"type": "object",
				"required": ["ok", "data"],
				"additionalProperties": false,
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true
					},
					"data": {
						"$ref": "#/components/schemas/RequestLogDetail"
					}
				}
			}
		}
	}
}
