{
	"openapi": "3.1.0",
	"info": {
		"title": "Rewrite API",
		"version": "1.0.0",
		"summary": "Projects API reference (Projects, API Keys, Templates, Webhooks).",
		"description": "Complete public reference for project-level endpoints in Rewrite API v1.\n\nAll endpoints return a consistent envelope (`ok`, `data`, and optional `cursor`).\nUse either bearer token (API key) with scopes or authenticated cookie session."
	},
	"servers": [
		{
			"url": "https://api.rewritetoday.com/v1",
			"description": "Production"
		}
	],
	"tags": [
		{
			"name": "Projects",
			"description": "Project metadata and lifecycle."
		},
		{
			"name": "API Keys",
			"description": "Create, list, and revoke project API keys."
		},
		{
			"name": "Templates",
			"description": "Manage reusable SMS templates with variables."
		},
		{
			"name": "Webhooks",
			"description": "Register and manage delivery event webhooks."
		}
	],
	"paths": {
		"/api-keys": {
			"get": {
				"tags": ["API Keys"],
				"operationId": "listProjectApiKeys",
				"summary": "List API keys",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/after"
					},
					{
						"$ref": "#/components/parameters/before"
					},
					{
						"$ref": "#/components/parameters/limit"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/APIKeysListResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": [
												{
													"id": "748395130237498400",
													"name": "Production backend",
													"prefix": "rw_8e4c",
													"scopes": ["project:templates:write"],
													"createdAt": "2026-02-19T19:10:02.000Z"
												}
											],
											"cursor": {
												"persist": false
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Returns active API keys for the project using cursor pagination.\n\nUse `limit`, `after`, and `before` for pagination.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst apiKeys = await rewrite.apiKeys.list({ limit: 20 });"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  _, err = client.APIKeys.List(context.Background(), &rewrite.RESTGetListAPIKeysQueryParams{Limit: 20})\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\napi_keys = client.api_keys.list({\"limit\": 20})"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.apiKeys.ListApiKeysOptions;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var apiKeys = rewrite.apiKeys().list(\n      ListApiKeysOptions.builder()\n        .limit(20)\n        .build()\n    );\n\n    System.out.println(apiKeys);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$apiKeys = $rewrite->apiKeys->list([\n  'limit' => 20,\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\napi_keys = rewrite.api_keys.list(limit: 20)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.apiKeys.ListApiKeysOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val apiKeys = rewrite.apiKeys.list(\n    ListApiKeysOptions(limit = 20)\n  )\n\n  println(apiKeys)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet apiKeys = try await rewrite.apiKeys.list(limit: 20)\n\nprint(apiKeys)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar apiKeys = await rewrite.ApiKeys.ListAsync(new ListApiKeysOptions\n{\n  Limit = 20\n});\n\nConsole.WriteLine(apiKeys);"
					}
				]
			},
			"post": {
				"tags": ["API Keys"],
				"operationId": "createProjectApiKey",
				"summary": "Create API key",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/APIKeyCreateBody"
							},
							"examples": {
								"request": {
									"summary": "Request example",
									"value": {
										"name": "Jobs worker",
										"scopes": [
											"project:templates:read",
											"projects:webhooks:read"
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/APIKeyCreateResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498412",
												"key": "rw_8e4c3f7f8f9f0ab12cd34ef56",
												"count": 3,
												"createdAt": "2026-02-19T19:12:48.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Creates a project API key and returns the secret once. Store it securely.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst apiKey = await rewrite.apiKeys.create({\n  name: 'Jobs worker',\n  scopes: ['project:templates:read', 'projects:webhooks:read'],\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  _, err = client.APIKeys.Create(context.Background(), rewrite.CreateAPIKeyOptions{\n    RESTPostCreateAPIKeyBody: rewrite.RESTPostCreateAPIKeyBody{\n      Name: \"Jobs worker\",\n      Scopes: []rewrite.APIKeyScope{\n        rewrite.APIKeyScopeReadTemplates,\n        rewrite.APIKeyScopeReadWebhooks,\n      },\n    },\n  })\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import APIKeyScope, Client\n\nclient = Client(\"rw_your_api_key\")\n\napi_key = client.api_keys.create(\n    {\n        \"name\": \"Jobs worker\",\n        \"scopes\": [\n            APIKeyScope.READ_TEMPLATES,\n            APIKeyScope.READ_WEBHOOKS,\n        ],\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.apiKeys.CreateApiKeyOptions;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var apiKey = rewrite.apiKeys().create(\n      CreateApiKeyOptions.builder()\n        .name(\"Jobs worker\")\n        .scopes(List.of(\"project:templates:read\", \"projects:webhooks:read\"))\n        .build()\n    );\n\n    System.out.println(apiKey);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$apiKey = $rewrite->apiKeys->create([\n  'name' => 'Jobs worker',\n  'scopes' => ['project:templates:read', 'projects:webhooks:read'],\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\napi_key = rewrite.api_keys.create(\n  name: \"Jobs worker\",\n  scopes: [\"project:templates:read\", \"projects:webhooks:read\"]\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.apiKeys.CreateApiKeyOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val apiKey = rewrite.apiKeys.create(\n    CreateApiKeyOptions(\n      name = \"Jobs worker\",\n      scopes = listOf(\"project:templates:read\", \"projects:webhooks:read\")\n    )\n  )\n\n  println(apiKey)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet apiKey = try await rewrite.apiKeys.create(\n  name: \"Jobs worker\",\n  scopes: [\"project:templates:read\", \"projects:webhooks:read\"]\n)\n\nprint(apiKey)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar apiKey = await rewrite.ApiKeys.CreateAsync(new CreateApiKeyOptions\n{\n  Name = \"Jobs worker\",\n  Scopes = new[] { \"project:templates:read\", \"projects:webhooks:read\" }\n});\n\nConsole.WriteLine(apiKey);"
					}
				]
			}
		},
		"/api-keys/{key}": {
			"delete": {
				"tags": ["API Keys"],
				"operationId": "deleteProjectApiKey",
				"summary": "Revoke API key",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "key",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498400"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Revokes an API key immediately by key id.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst apiKeyId = '748395130237498400';\n\nawait rewrite.apiKeys.delete(apiKeyId);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  apiKeyID := \"748395130237498400\"\n\n  if err := client.APIKeys.Delete(context.Background(), apiKeyID); err != nil {\n    log.Fatal(err)\n  }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\napi_key_id = \"748395130237498400\"\n\nclient.api_keys.delete(api_key_id)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var apiKeyId = \"748395130237498400\";\n\n    rewrite.apiKeys().delete(apiKeyId);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$apiKeyId = '748395130237498400';\n\n$rewrite->apiKeys->delete($apiKeyId);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\napi_key_id = \"748395130237498400\"\n\nrewrite.api_keys.delete(api_key_id)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val apiKeyId = \"748395130237498400\"\n\n  rewrite.apiKeys.delete(apiKeyId)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet apiKeyId = \"748395130237498400\"\n\ntry await rewrite.apiKeys.delete(apiKeyId)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar apiKeyId = \"748395130237498400\";\n\nawait rewrite.ApiKeys.DeleteAsync(apiKeyId);"
					}
				]
			}
		},
		"/templates": {
			"get": {
				"tags": ["Templates"],
				"operationId": "listProjectTemplates",
				"summary": "List templates",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/after"
					},
					{
						"$ref": "#/components/parameters/before"
					},
					{
						"$ref": "#/components/parameters/limit"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplatesListResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": [
												{
													"id": "748395130237498500",
													"name": "order_shipped",
													"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
													"variables": [
														{
															"name": "first_name",
															"fallback": "customer"
														}
													],
													"createdAt": "2026-02-19T18:00:00.000Z"
												}
											],
											"cursor": {
												"persist": true,
												"next": "748395130237498588"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Lists project templates using cursor pagination.\n\nUse `limit`, `after`, and `before` for pagination.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst templates = await rewrite.templates.list({ limit: 20 });"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  _, err = client.Templates.List(context.Background(), &rewrite.RESTGetListTemplatesQueryParams{Limit: 20})\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\ntemplates = client.templates.list({\"limit\": 20})"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.templates.ListTemplatesOptions;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var templates = rewrite.templates().list(\n      ListTemplatesOptions.builder()\n        .limit(20)\n        .build()\n    );\n\n    System.out.println(templates);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$templates = $rewrite->templates->list([\n  'limit' => 20,\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\ntemplates = rewrite.templates.list(limit: 20)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.templates.ListTemplatesOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val templates = rewrite.templates.list(\n    ListTemplatesOptions(limit = 20)\n  )\n\n  println(templates)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet templates = try await rewrite.templates.list(limit: 20)\n\nprint(templates)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar templates = await rewrite.Templates.ListAsync(new ListTemplatesOptions\n{\n  Limit = 20\n});\n\nConsole.WriteLine(templates);"
					}
				]
			},
			"post": {
				"tags": ["Templates"],
				"operationId": "createProjectTemplate",
				"summary": "Create template",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TemplateCreateBody"
							},
							"examples": {
								"request": {
									"summary": "Request example",
									"value": {
										"name": "order_shipped",
										"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
										"variables": [
											{
												"name": "first_name",
												"fallback": "customer"
											},
											{
												"name": "order_id",
												"fallback": "0000"
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplateCreateResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498600",
												"createdAt": "2026-02-19T20:01:09.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Creates a reusable template with variables and fallback values.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst template = await rewrite.templates.create({\n  name: 'order_shipped',\n  content: 'Hi {{first_name}}, your order {{order_id}} is on the way.',\n  variables: [\n    { name: 'first_name', fallback: 'customer' },\n    { name: 'order_id', fallback: '0000' },\n  ],\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  firstNameFallback := \"customer\"\n  orderIDFallback := \"0000\"\n\n  _, err = client.Templates.Create(context.Background(), rewrite.CreateTemplateOptions{\n    RESTPostCreateTemplateBody: rewrite.RESTPostCreateTemplateBody{\n      Name:    \"order_shipped\",\n      Content: \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n      Variables: []rewrite.APITemplateVariable{\n        {Name: \"first_name\", Fallback: &firstNameFallback},\n        {Name: \"order_id\", Fallback: &orderIDFallback},\n      },\n    },\n  })\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\ntemplate = client.templates.create(\n    {\n        \"name\": \"order_shipped\",\n        \"content\": \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n        \"variables\": [\n            {\"name\": \"first_name\", \"fallback\": \"customer\"},\n            {\"name\": \"order_id\", \"fallback\": \"0000\"},\n        ],\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.templates.CreateTemplateOptions;\nimport com.rewritetoday.sdk.models.templates.TemplateVariable;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var template = rewrite.templates().create(\n      CreateTemplateOptions.builder()\n        .name(\"order_shipped\")\n        .content(\"Hi {{first_name}}, your order {{order_id}} is on the way.\")\n        .variables(List.of(\n          TemplateVariable.builder().name(\"first_name\").fallback(\"customer\").build(),\n          TemplateVariable.builder().name(\"order_id\").fallback(\"0000\").build()\n        ))\n        .build()\n    );\n\n    System.out.println(template);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$template = $rewrite->templates->create([\n  'name' => 'order_shipped',\n  'content' => 'Hi {{first_name}}, your order {{order_id}} is on the way.',\n  'variables' => [\n    ['name' => 'first_name', 'fallback' => 'customer'],\n    ['name' => 'order_id', 'fallback' => '0000'],\n  ],\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\ntemplate = rewrite.templates.create(\n  name: \"order_shipped\",\n  content: \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n  variables: [\n    { name: \"first_name\", fallback: \"customer\" },\n    { name: \"order_id\", fallback: \"0000\" }\n  ]\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.templates.CreateTemplateOptions\nimport com.rewritetoday.sdk.models.templates.TemplateVariable\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val template = rewrite.templates.create(\n    CreateTemplateOptions(\n      name = \"order_shipped\",\n      content = \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n      variables = listOf(\n        TemplateVariable(name = \"first_name\", fallback = \"customer\"),\n        TemplateVariable(name = \"order_id\", fallback = \"0000\")\n      )\n    )\n  )\n\n  println(template)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet template = try await rewrite.templates.create(\n  name: \"order_shipped\",\n  content: \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n  variables: [\n    TemplateVariable(name: \"first_name\", fallback: \"customer\"),\n    TemplateVariable(name: \"order_id\", fallback: \"0000\")\n  ]\n)\n\nprint(template)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar template = await rewrite.Templates.CreateAsync(new CreateTemplateOptions\n{\n  Name = \"order_shipped\",\n  Content = \"Hi {{first_name}}, your order {{order_id}} is on the way.\",\n  Variables = new[]\n  {\n    new TemplateVariable { Name = \"first_name\", Fallback = \"customer\" },\n    new TemplateVariable { Name = \"order_id\", Fallback = \"0000\" }\n  }\n});\n\nConsole.WriteLine(template);"
					}
				]
			}
		},
		"/templates/{identifier}": {
			"get": {
				"tags": ["Templates"],
				"operationId": "getProjectTemplate",
				"summary": "Get template",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "identifier",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "Unique template ID or unique template name.",
						"example": "order_shipped"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplateResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498500",
												"name": "order_shipped",
												"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
												"variables": [
													{
														"name": "first_name",
														"fallback": "customer"
													}
												],
												"createdAt": "2026-02-19T18:00:00.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Fetch a template by identifier (template id or template name).",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst templateIdentifier = 'order_shipped';\n\nconst template = await rewrite.templates.get(templateIdentifier);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  templateIdentifier := \"order_shipped\"\n\n  _, err = client.Templates.Get(context.Background(), templateIdentifier)\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\ntemplate_identifier = \"order_shipped\"\n\ntemplate = client.templates.get(template_identifier)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var templateIdentifier = \"order_shipped\";\n\n    var template = rewrite.templates().get(templateIdentifier);\n\n    System.out.println(template);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$templateIdentifier = 'order_shipped';\n\n$template = $rewrite->templates->get($templateIdentifier);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\ntemplate_identifier = \"order_shipped\"\n\ntemplate = rewrite.templates.get(template_identifier)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val templateIdentifier = \"order_shipped\"\n\n  val template = rewrite.templates.get(templateIdentifier)\n\n  println(template)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet templateIdentifier = \"order_shipped\"\n\nlet template = try await rewrite.templates.get(templateIdentifier)\n\nprint(template)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar templateIdentifier = \"order_shipped\";\n\nvar template = await rewrite.Templates.GetAsync(templateIdentifier);\n\nConsole.WriteLine(template);"
					}
				]
			}
		},
		"/templates/{templateId}": {
			"patch": {
				"tags": ["Templates"],
				"operationId": "updateProjectTemplate",
				"summary": "Update template",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "templateId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498500"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TemplateUpdateBody"
							},
							"examples": {
								"request": {
									"summary": "Request example",
									"value": {
										"content": "Hi {{first_name}}, your package {{order_id}} has shipped.",
										"variables": [
											{
												"name": "first_name",
												"fallback": "customer"
											},
											{
												"name": "order_id",
												"fallback": "0000"
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Partially updates template content and/or variables.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst templateId = '748395130237498500';\n\nconst template = await rewrite.templates.update(templateId, {\n  content: 'Hi {{first_name}}, your package {{order_id}} has shipped.',\n  variables: [\n    { name: 'first_name', fallback: 'customer' },\n    { name: 'order_id', fallback: '0000' },\n  ],\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  templateID := \"748395130237498500\"\n  firstNameFallback := \"customer\"\n  orderIDFallback := \"0000\"\n\n  _, err = client.Templates.Update(context.Background(), templateID, rewrite.UpdateTemplateOptions{\n    RESTPatchUpdateTemplateBody: rewrite.RESTPatchUpdateTemplateBody{\n      Content: \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n      Variables: []rewrite.APITemplateVariable{\n        {Name: \"first_name\", Fallback: &firstNameFallback},\n        {Name: \"order_id\", Fallback: &orderIDFallback},\n      },\n    },\n  })\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\ntemplate_id = \"748395130237498500\"\n\ntemplate = client.templates.update(\n    template_id,\n    {\n        \"content\": \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n        \"variables\": [\n            {\"name\": \"first_name\", \"fallback\": \"customer\"},\n            {\"name\": \"order_id\", \"fallback\": \"0000\"},\n        ],\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.templates.TemplateVariable;\nimport com.rewritetoday.sdk.models.templates.UpdateTemplateOptions;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var templateId = \"748395130237498500\";\n\n    var template = rewrite.templates().update(\n      templateId,\n      UpdateTemplateOptions.builder()\n        .content(\"Hi {{first_name}}, your package {{order_id}} has shipped.\")\n        .variables(List.of(\n          TemplateVariable.builder().name(\"first_name\").fallback(\"customer\").build(),\n          TemplateVariable.builder().name(\"order_id\").fallback(\"0000\").build()\n        ))\n        .build()\n    );\n\n    System.out.println(template);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$templateId = '748395130237498500';\n\n$template = $rewrite->templates->update($templateId, [\n  'content' => 'Hi {{first_name}}, your package {{order_id}} has shipped.',\n  'variables' => [\n    ['name' => 'first_name', 'fallback' => 'customer'],\n    ['name' => 'order_id', 'fallback' => '0000'],\n  ],\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\ntemplate_id = \"748395130237498500\"\n\ntemplate = rewrite.templates.update(\n  template_id,\n  content: \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n  variables: [\n    { name: \"first_name\", fallback: \"customer\" },\n    { name: \"order_id\", fallback: \"0000\" }\n  ]\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.templates.TemplateVariable\nimport com.rewritetoday.sdk.models.templates.UpdateTemplateOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val templateId = \"748395130237498500\"\n\n  val template = rewrite.templates.update(\n    templateId,\n    UpdateTemplateOptions(\n      content = \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n      variables = listOf(\n        TemplateVariable(name = \"first_name\", fallback = \"customer\"),\n        TemplateVariable(name = \"order_id\", fallback = \"0000\")\n      )\n    )\n  )\n\n  println(template)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet templateId = \"748395130237498500\"\n\nlet template = try await rewrite.templates.update(\n  templateId,\n  content: \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n  variables: [\n    TemplateVariable(name: \"first_name\", fallback: \"customer\"),\n    TemplateVariable(name: \"order_id\", fallback: \"0000\")\n  ]\n)\n\nprint(template)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar templateId = \"748395130237498500\";\n\nvar template = await rewrite.Templates.UpdateAsync(templateId, new UpdateTemplateOptions\n{\n  Content = \"Hi {{first_name}}, your package {{order_id}} has shipped.\",\n  Variables = new[]\n  {\n    new TemplateVariable { Name = \"first_name\", Fallback = \"customer\" },\n    new TemplateVariable { Name = \"order_id\", Fallback = \"0000\" }\n  }\n});\n\nConsole.WriteLine(template);"
					}
				]
			},
			"delete": {
				"tags": ["Templates"],
				"operationId": "deleteProjectTemplate",
				"summary": "Delete template",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "templateId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498500"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Deletes a template from the project.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst templateId = '748395130237498500';\n\nawait rewrite.templates.delete(templateId);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  templateID := \"748395130237498500\"\n\n  if err := client.Templates.Delete(context.Background(), templateID); err != nil {\n    log.Fatal(err)\n  }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\ntemplate_id = \"748395130237498500\"\n\nclient.templates.delete(template_id)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var templateId = \"748395130237498500\";\n\n    rewrite.templates().delete(templateId);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$templateId = '748395130237498500';\n\n$rewrite->templates->delete($templateId);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\ntemplate_id = \"748395130237498500\"\n\nrewrite.templates.delete(template_id)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val templateId = \"748395130237498500\"\n\n  rewrite.templates.delete(templateId)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet templateId = \"748395130237498500\"\n\ntry await rewrite.templates.delete(templateId)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar templateId = \"748395130237498500\";\n\nawait rewrite.Templates.DeleteAsync(templateId);"
					}
				]
			}
		},
		"/webhooks": {
			"get": {
				"tags": ["Webhooks"],
				"operationId": "listProjectWebhooks",
				"summary": "List webhooks",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/after"
					},
					{
						"$ref": "#/components/parameters/before"
					},
					{
						"$ref": "#/components/parameters/limit"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebhooksListResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": [
												{
													"id": "748395130237498700",
													"name": "Delivery events",
													"endpoint": "https://example.com/webhooks/rewrite",
													"events": [
														"sms.queued",
														"sms.delivered",
														"sms.failed"
													],
													"status": "ACTIVE",
													"createdAt": "2026-02-19T16:05:00.000Z"
												}
											],
											"cursor": {
												"persist": false
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Lists webhook endpoints configured for this project.\n\nUse `limit`, `after`, and `before` for pagination.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst webhooks = await rewrite.webhooks.list({ limit: 20 });"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  _, err = client.Webhooks.List(context.Background(), &rewrite.RESTGetListWebhooksQueryParams{Limit: 20})\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nwebhooks = client.webhooks.list({\"limit\": 20})"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.webhooks.ListWebhooksOptions;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var webhooks = rewrite.webhooks().list(\n      ListWebhooksOptions.builder()\n        .limit(20)\n        .build()\n    );\n\n    System.out.println(webhooks);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$webhooks = $rewrite->webhooks->list([\n  'limit' => 20,\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nwebhooks = rewrite.webhooks.list(limit: 20)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.webhooks.ListWebhooksOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val webhooks = rewrite.webhooks.list(\n    ListWebhooksOptions(limit = 20)\n  )\n\n  println(webhooks)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet webhooks = try await rewrite.webhooks.list(limit: 20)\n\nprint(webhooks)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar webhooks = await rewrite.Webhooks.ListAsync(new ListWebhooksOptions\n{\n  Limit = 20\n});\n\nConsole.WriteLine(webhooks);"
					}
				]
			},
			"post": {
				"tags": ["Webhooks"],
				"operationId": "createProjectWebhook",
				"summary": "Create webhook",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WebhookCreateBody"
							},
							"examples": {
								"request": {
									"summary": "Request example",
									"value": {
										"name": "Delivery events",
										"endpoint": "https://example.com/webhooks/rewrite",
										"events": ["sms.queued", "sms.delivered", "sms.failed"]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebhookCreateResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498711"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Creates a webhook endpoint and event subscriptions.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst webhook = await rewrite.webhooks.create({\n  name: 'Delivery events',\n  endpoint: 'https://example.com/webhooks/rewrite',\n  events: ['sms.queued', 'sms.delivered', 'sms.failed'],\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  _, err = client.Webhooks.Create(context.Background(), rewrite.CreateWebhookOptions{\n    Name:     \"Delivery events\",\n    Endpoint: \"https://example.com/webhooks/rewrite\",\n    Events: []rewrite.WebhookEventType{\n      rewrite.WebhookEventTypeSMSQueued,\n      rewrite.WebhookEventTypeSMSDelivered,\n      rewrite.WebhookEventTypeSMSFailed,\n    },\n  })\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client, WebhookEventType\n\nclient = Client(\"rw_your_api_key\")\n\nwebhook = client.webhooks.create(\n    {\n        \"name\": \"Delivery events\",\n        \"endpoint\": \"https://example.com/webhooks/rewrite\",\n        \"events\": [\n            WebhookEventType.SMS_QUEUED,\n            WebhookEventType.SMS_DELIVERED,\n            WebhookEventType.SMS_FAILED,\n        ],\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.webhooks.CreateWebhookOptions;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var webhook = rewrite.webhooks().create(\n      CreateWebhookOptions.builder()\n        .name(\"Delivery events\")\n        .endpoint(\"https://example.com/webhooks/rewrite\")\n        .events(List.of(\"sms.queued\", \"sms.delivered\", \"sms.failed\"))\n        .build()\n    );\n\n    System.out.println(webhook);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$webhook = $rewrite->webhooks->create([\n  'name' => 'Delivery events',\n  'endpoint' => 'https://example.com/webhooks/rewrite',\n  'events' => ['sms.queued', 'sms.delivered', 'sms.failed'],\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nwebhook = rewrite.webhooks.create(\n  name: \"Delivery events\",\n  endpoint: \"https://example.com/webhooks/rewrite\",\n  events: [\"sms.queued\", \"sms.delivered\", \"sms.failed\"]\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.webhooks.CreateWebhookOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val webhook = rewrite.webhooks.create(\n    CreateWebhookOptions(\n      name = \"Delivery events\",\n      endpoint = \"https://example.com/webhooks/rewrite\",\n      events = listOf(\"sms.queued\", \"sms.delivered\", \"sms.failed\")\n    )\n  )\n\n  println(webhook)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet webhook = try await rewrite.webhooks.create(\n  name: \"Delivery events\",\n  endpoint: \"https://example.com/webhooks/rewrite\",\n  events: [\"sms.queued\", \"sms.delivered\", \"sms.failed\"]\n)\n\nprint(webhook)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar webhook = await rewrite.Webhooks.CreateAsync(new CreateWebhookOptions\n{\n  Name = \"Delivery events\",\n  Endpoint = \"https://example.com/webhooks/rewrite\",\n  Events = new[] { \"sms.queued\", \"sms.delivered\", \"sms.failed\" }\n});\n\nConsole.WriteLine(webhook);"
					}
				]
			}
		},
		"/webhooks/{webhookId}": {
			"get": {
				"tags": ["Webhooks"],
				"operationId": "getProjectWebhook",
				"summary": "Get webhook",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "webhookId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498700"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebhookResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498700",
												"name": "Delivery events",
												"endpoint": "https://example.com/webhooks/rewrite",
												"events": ["sms.queued", "sms.delivered", "sms.failed"],
												"status": "ACTIVE",
												"createdAt": "2026-02-19T16:05:00.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Returns a single webhook configuration.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst webhookId = '748395130237498700';\n\nconst webhook = await rewrite.webhooks.get(webhookId);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  webhookID := \"748395130237498700\"\n\n  _, err = client.Webhooks.Get(context.Background(), webhookID)\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nwebhook_id = \"748395130237498700\"\n\nwebhook = client.webhooks.get(webhook_id)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var webhookId = \"748395130237498700\";\n\n    var webhook = rewrite.webhooks().get(webhookId);\n\n    System.out.println(webhook);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$webhookId = '748395130237498700';\n\n$webhook = $rewrite->webhooks->get($webhookId);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nwebhook_id = \"748395130237498700\"\n\nwebhook = rewrite.webhooks.get(webhook_id)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val webhookId = \"748395130237498700\"\n\n  val webhook = rewrite.webhooks.get(webhookId)\n\n  println(webhook)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet webhookId = \"748395130237498700\"\n\nlet webhook = try await rewrite.webhooks.get(webhookId)\n\nprint(webhook)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar webhookId = \"748395130237498700\";\n\nvar webhook = await rewrite.Webhooks.GetAsync(webhookId);\n\nConsole.WriteLine(webhook);"
					}
				]
			},
			"patch": {
				"tags": ["Webhooks"],
				"operationId": "updateProjectWebhook",
				"summary": "Update webhook",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "webhookId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498700"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WebhookUpdateBody"
							},
							"examples": {
								"request": {
									"summary": "Request example",
									"value": {
										"endpoint": "https://example.com/webhooks/rewrite-v2",
										"events": ["sms.delivered", "sms.failed"],
										"status": "ACTIVE"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Updates webhook endpoint, events, name or status.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst webhookId = '748395130237498700';\n\nconst webhook = await rewrite.webhooks.update(webhookId, {\n  endpoint: 'https://example.com/webhooks/rewrite-v2',\n  events: ['sms.delivered', 'sms.failed'],\n  status: 'ACTIVE',\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  webhookID := \"748395130237498700\"\n\n  _, err = client.Webhooks.Update(context.Background(), webhookID, rewrite.UpdateWebhookOptions{\n    RESTPatchUpdateWebhookBody: rewrite.RESTPatchUpdateWebhookBody{\n      Endpoint: \"https://example.com/webhooks/rewrite-v2\",\n      Events: []rewrite.WebhookEventType{\n        rewrite.WebhookEventTypeSMSDelivered,\n        rewrite.WebhookEventTypeSMSFailed,\n      },\n      Status: rewrite.WebhookStatusActive,\n    },\n  })\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client, WebhookEventType, WebhookStatus\n\nclient = Client(\"rw_your_api_key\")\n\nwebhook_id = \"748395130237498700\"\n\nwebhook = client.webhooks.update(\n    webhook_id,\n    {\n        \"endpoint\": \"https://example.com/webhooks/rewrite-v2\",\n        \"events\": [\n            WebhookEventType.SMS_DELIVERED,\n            WebhookEventType.SMS_FAILED,\n        ],\n        \"status\": WebhookStatus.ACTIVE,\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.webhooks.UpdateWebhookOptions;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var webhookId = \"748395130237498700\";\n\n    var webhook = rewrite.webhooks().update(\n      webhookId,\n      UpdateWebhookOptions.builder()\n        .endpoint(\"https://example.com/webhooks/rewrite-v2\")\n        .events(List.of(\"sms.delivered\", \"sms.failed\"))\n        .status(\"ACTIVE\")\n        .build()\n    );\n\n    System.out.println(webhook);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$webhookId = '748395130237498700';\n\n$webhook = $rewrite->webhooks->update($webhookId, [\n  'endpoint' => 'https://example.com/webhooks/rewrite-v2',\n  'events' => ['sms.delivered', 'sms.failed'],\n  'status' => 'ACTIVE',\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nwebhook_id = \"748395130237498700\"\n\nwebhook = rewrite.webhooks.update(\n  webhook_id,\n  endpoint: \"https://example.com/webhooks/rewrite-v2\",\n  events: [\"sms.delivered\", \"sms.failed\"],\n  status: \"ACTIVE\"\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.webhooks.UpdateWebhookOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val webhookId = \"748395130237498700\"\n\n  val webhook = rewrite.webhooks.update(\n    webhookId,\n    UpdateWebhookOptions(\n      endpoint = \"https://example.com/webhooks/rewrite-v2\",\n      events = listOf(\"sms.delivered\", \"sms.failed\"),\n      status = \"ACTIVE\"\n    )\n  )\n\n  println(webhook)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet webhookId = \"748395130237498700\"\n\nlet webhook = try await rewrite.webhooks.update(\n  webhookId,\n  endpoint: \"https://example.com/webhooks/rewrite-v2\",\n  events: [\"sms.delivered\", \"sms.failed\"],\n  status: \"ACTIVE\"\n)\n\nprint(webhook)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar webhookId = \"748395130237498700\";\n\nvar webhook = await rewrite.Webhooks.UpdateAsync(webhookId, new UpdateWebhookOptions\n{\n  Endpoint = \"https://example.com/webhooks/rewrite-v2\",\n  Events = new[] { \"sms.delivered\", \"sms.failed\" },\n  Status = \"ACTIVE\"\n});\n\nConsole.WriteLine(webhook);"
					}
				]
			},
			"delete": {
				"tags": ["Webhooks"],
				"operationId": "deleteProjectWebhook",
				"summary": "Delete webhook",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "webhookId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498700"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Deletes a webhook and stops future event deliveries.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst webhookId = '748395130237498700';\n\nawait rewrite.webhooks.delete(webhookId);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  webhookID := \"748395130237498700\"\n\n  if err := client.Webhooks.Delete(context.Background(), webhookID); err != nil {\n    log.Fatal(err)\n  }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nwebhook_id = \"748395130237498700\"\n\nclient.webhooks.delete(webhook_id)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var webhookId = \"748395130237498700\";\n\n    rewrite.webhooks().delete(webhookId);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$webhookId = '748395130237498700';\n\n$rewrite->webhooks->delete($webhookId);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nwebhook_id = \"748395130237498700\"\n\nrewrite.webhooks.delete(webhook_id)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val webhookId = \"748395130237498700\"\n\n  rewrite.webhooks.delete(webhookId)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet webhookId = \"748395130237498700\"\n\ntry await rewrite.webhooks.delete(webhookId)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar webhookId = \"748395130237498700\";\n\nawait rewrite.Webhooks.DeleteAsync(webhookId);"
					}
				]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API Key",
				"description": "Send your API key as `Authorization: Bearer <api-key>`."
			}
		},
		"parameters": {
			"after": {
				"name": "after",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "Unique cursor ID to fetch items after this value.",
				"example": "748395130237498588"
			},
			"before": {
				"name": "before",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "Unique cursor ID to fetch items before this value.",
				"example": "748395130237498399"
			},
			"limit": {
				"name": "limit",
				"in": "query",
				"required": false,
				"schema": {
					"type": "integer",
					"minimum": 2,
					"maximum": 100
				},
				"description": "Number of items to return.",
				"example": 20
			}
		},
		"responses": {},
		"schemas": {
			"Snowflake": {
				"type": "string",
				"pattern": "^[0-9]{1,32}$"
			},
			"Cursor": {
				"type": "object",
				"additionalProperties": false,
				"required": ["persist"],
				"properties": {
					"persist": {
						"type": "boolean",
						"description": "Whether another page can be requested using `next`."
					},
					"next": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Cursor to request the next page (`after`)."
					}
				},
				"example": {
					"persist": true,
					"next": "748395130237498399"
				}
			},
			"OkEmptyResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the request was successful."
					},
					"data": {
						"type": "null",
						"description": "No data is returned for this response."
					}
				},
				"description": "Successful response. This endpoint does not return any data.",
				"example": {
					"ok": true,
					"data": null
				}
			},
			"ProjectUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"icon": {
						"type": "null",
						"description": "Set to `null` to remove icon (when supported)."
					},
					"name": {
						"type": "string",
						"pattern": "^[A-Za-z0-9,-_ ]{2,64}$",
						"description": "Display name (2-64 chars)."
					}
				},
				"description": "Fields that can be updated in a project.",
				"example": {
					"name": "Marketing Alerts"
				}
			},
			"APIKey": {
				"type": "object",
				"additionalProperties": false,
				"required": ["id", "name", "prefix", "scopes", "createdAt"],
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "API key id."
					},
					"name": {
						"type": "string",
						"description": "Friendly key name."
					},
					"prefix": {
						"type": "string",
						"description": "Public key prefix for identification."
					},
					"scopes": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						},
						"description": "Scopes granted to this key."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Creation timestamp (UTC)."
					}
				},
				"description": "Project API key metadata (secret is never returned again).",
				"example": {
					"id": "748395130237498400",
					"name": "Production backend",
					"prefix": "rw_8e4c",
					"scopes": ["project:templates:write", "projects:webhooks:write"],
					"createdAt": "2026-02-19T19:10:02.000Z"
				}
			},
			"APIKeysListResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data", "cursor"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the request was successful."
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/APIKey"
						},
						"description": "Primary response payload for this operation."
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor",
						"description": "Pagination cursor information for fetching the next page."
					}
				},
				"example": {
					"ok": true,
					"data": [
						{
							"id": "748395130237498400",
							"name": "Production backend",
							"prefix": "rw_8e4c",
							"scopes": ["project:templates:write", "projects:webhooks:write"],
							"createdAt": "2026-02-19T19:10:02.000Z"
						}
					],
					"cursor": {
						"persist": false
					}
				},
				"description": "APIKeysListResponse schema."
			},
			"APIKeyCreateBody": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32,
						"description": "Human-readable name used to identify this API key."
					},
					"scopes": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						},
						"description": "Permission scopes granted to this API key."
					}
				},
				"description": "Create a project API key with optional scopes.",
				"example": {
					"name": "Jobs worker",
					"scopes": ["project:templates:read", "projects:webhooks:read"]
				}
			},
			"APIKeyCreateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the API key was created successfully."
					},
					"data": {
						"type": "object",
						"additionalProperties": false,
						"required": ["id", "key", "createdAt"],
						"properties": {
							"id": {
								"$ref": "#/components/schemas/Snowflake",
								"description": "ID of the newly created API key."
							},
							"key": {
								"type": "string",
								"description": "One-time secret API key value. Store it securely; it will not be shown again."
							},
							"createdAt": {
								"type": "string",
								"format": "date-time",
								"description": "Creation timestamp in ISO 8601 format (UTC)."
							}
						},
						"description": "Details returned once after API key creation."
					}
				},
				"description": "Creation response containing the one-time secret key.",
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498412",
						"key": "rw_8e4c3f7f8f9f0ab12cd34ef56",
						"createdAt": "2026-02-19T19:12:48.000Z"
					}
				}
			},
			"TemplateVariable": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name", "fallback"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Variable key used by your app."
					},
					"fallback": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64,
						"description": "Default value when your payload does not provide the variable."
					}
				},
				"description": "Named variable used in a template body.",
				"example": {
					"name": "first_name",
					"fallback": "customer"
				}
			},
			"Template": {
				"type": "object",
				"additionalProperties": false,
				"required": ["id", "name", "createdAt"],
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Unique template ID."
					},
					"name": {
						"type": "string",
						"description": "Human-readable name used to identify this API key."
					},
					"content": {
						"type": ["string", "null"],
						"description": "content field."
					},
					"variables": {
						"type": ["array", "null"],
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "variables field."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "UTC creation timestamp."
					}
				},
				"example": {
					"id": "748395130237498500",
					"name": "order_shipped",
					"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						}
					],
					"createdAt": "2026-02-19T18:00:00.000Z"
				}
			},
			"TemplatesListResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data", "cursor"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the request was successful."
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Template"
						},
						"description": "Primary response payload for this operation."
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor",
						"description": "Pagination cursor information for fetching the next page."
					}
				},
				"example": {
					"ok": true,
					"data": [
						{
							"id": "748395130237498500",
							"name": "order_shipped",
							"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
							"variables": [
								{
									"name": "first_name",
									"fallback": "customer"
								}
							],
							"createdAt": "2026-02-19T18:00:00.000Z"
						}
					],
					"cursor": {
						"persist": true,
						"next": "748395130237498588"
					}
				},
				"description": "TemplatesListResponse schema."
			},
			"TemplateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the request was successful."
					},
					"data": {
						"$ref": "#/components/schemas/Template",
						"description": "Primary response payload for this operation."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498500",
						"name": "order_shipped",
						"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
						"variables": [
							{
								"name": "first_name",
								"fallback": "customer"
							}
						],
						"createdAt": "2026-02-19T18:00:00.000Z"
					}
				},
				"description": "TemplateResponse schema."
			},
			"TemplateCreateBody": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name", "content", "variables"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Human-readable name used to identify this API key."
					},
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "content field."
					},
					"variables": {
						"type": "array",
						"minItems": 1,
						"maxItems": 15,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "variables field."
					}
				},
				"description": "Create a reusable SMS template.",
				"example": {
					"name": "order_shipped",
					"content": "Hi {{first_name}}, your order {{order_id}} is on the way.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						},
						{
							"name": "order_id",
							"fallback": "0000"
						}
					]
				}
			},
			"TemplateUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "content field."
					},
					"variables": {
						"type": "array",
						"minItems": 1,
						"maxItems": 15,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "variables field."
					}
				},
				"description": "Patch template content and/or variables.",
				"example": {
					"content": "Hi {{first_name}}, your package {{order_id}} has shipped.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						},
						{
							"name": "order_id",
							"fallback": "0000"
						}
					]
				}
			},
			"TemplateCreateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the request was successful."
					},
					"data": {
						"type": "object",
						"required": ["id", "createdAt"],
						"properties": {
							"id": {
								"$ref": "#/components/schemas/Snowflake"
							},
							"createdAt": {
								"type": "string",
								"format": "date-time"
							}
						},
						"description": "Primary response payload for this operation."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498600",
						"createdAt": "2026-02-19T20:01:09.000Z"
					}
				},
				"description": "TemplateCreateResponse schema."
			},
			"WebhookEventType": {
				"type": "string",
				"enum": [
					"sms.queued",
					"sms.delivered",
					"sms.scheduled",
					"sms.failed",
					"sms.canceled"
				],
				"description": "Supported webhook event types.",
				"example": "sms.delivered"
			},
			"WebhookStatus": {
				"type": "string",
				"enum": ["ACTIVE", "INACTIVE"],
				"example": "ACTIVE"
			},
			"Webhook": {
				"type": "object",
				"additionalProperties": false,
				"required": ["id", "endpoint", "events", "status", "createdAt"],
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Unique webhook ID."
					},
					"name": {
						"type": ["string", "null"],
						"description": "Human-readable name used to identify this API key."
					},
					"endpoint": {
						"type": "string",
						"format": "uri",
						"description": "endpoint field."
					},
					"events": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/WebhookEventType"
						},
						"description": "events field."
					},
					"status": {
						"$ref": "#/components/schemas/WebhookStatus",
						"description": "status field."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "UTC creation timestamp."
					}
				},
				"example": {
					"id": "748395130237498700",
					"name": "Delivery events",
					"endpoint": "https://example.com/webhooks/rewrite",
					"events": ["sms.queued", "sms.delivered", "sms.failed"],
					"status": "ACTIVE",
					"createdAt": "2026-02-19T16:05:00.000Z"
				}
			},
			"WebhooksListResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data", "cursor"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the request was successful."
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Webhook"
						},
						"description": "Primary response payload for this operation."
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor",
						"description": "Pagination cursor information for fetching the next page."
					}
				},
				"example": {
					"ok": true,
					"data": [
						{
							"id": "748395130237498700",
							"name": "Delivery events",
							"endpoint": "https://example.com/webhooks/rewrite",
							"events": ["sms.queued", "sms.delivered", "sms.failed"],
							"status": "ACTIVE",
							"createdAt": "2026-02-19T16:05:00.000Z"
						}
					],
					"cursor": {
						"persist": false
					}
				},
				"description": "WebhooksListResponse schema."
			},
			"WebhookResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the request was successful."
					},
					"data": {
						"$ref": "#/components/schemas/Webhook",
						"description": "Primary response payload for this operation."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498700",
						"name": "Delivery events",
						"endpoint": "https://example.com/webhooks/rewrite",
						"events": ["sms.queued", "sms.delivered", "sms.failed"],
						"status": "ACTIVE",
						"createdAt": "2026-02-19T16:05:00.000Z"
					}
				},
				"description": "WebhookResponse schema."
			},
			"WebhookCreateBody": {
				"type": "object",
				"additionalProperties": false,
				"required": ["events", "endpoint"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Human-readable name used to identify this API key."
					},
					"events": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/WebhookEventType"
						},
						"description": "events field."
					},
					"endpoint": {
						"type": "string",
						"format": "uri",
						"minLength": 1,
						"maxLength": 255,
						"description": "endpoint field."
					}
				},
				"description": "Create a webhook to receive SMS events.",
				"example": {
					"name": "Delivery events",
					"endpoint": "https://example.com/webhooks/rewrite",
					"events": ["sms.queued", "sms.delivered", "sms.failed"]
				}
			},
			"WebhookUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"name": {
						"oneOf": [
							{
								"type": "string",
								"minLength": 1,
								"maxLength": 32
							},
							{
								"type": "null"
							}
						],
						"description": "Human-readable name used to identify this API key."
					},
					"events": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/WebhookEventType"
						},
						"description": "events field."
					},
					"endpoint": {
						"type": "string",
						"format": "uri",
						"minLength": 1,
						"maxLength": 255,
						"description": "endpoint field."
					},
					"status": {
						"$ref": "#/components/schemas/WebhookStatus",
						"description": "status field."
					}
				},
				"description": "Update webhook endpoint, subscribed events, name or status.",
				"example": {
					"endpoint": "https://example.com/webhooks/rewrite-v2",
					"events": ["sms.delivered", "sms.failed"],
					"status": "ACTIVE"
				}
			},
			"WebhookCreateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the request was successful."
					},
					"data": {
						"type": "object",
						"required": ["id"],
						"properties": {
							"id": {
								"$ref": "#/components/schemas/Snowflake"
							}
						},
						"description": "Primary response payload for this operation."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498711"
					}
				},
				"description": "WebhookCreateResponse schema."
			},
			"AuthScope": {
				"type": "string",
				"description": "Permission scope accepted by API keys. Use scoped permissions whenever possible.\n\nCommon values:\n- `project:read`\n- `project:write`\n- `project:api_keys:read`\n- `project:templates:read`\n- `project:templates:write`\n- `projects:webhooks:read`\n- `projects:webhooks:write`\n- `projects:payments:read`\n- `*` (full access)",
				"example": "project:templates:write"
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	]
}
