{
	"openapi": "3.1.0",
	"info": {
		"title": "Rewrite API",
		"version": "1.0.0",
		"summary": "Projects API reference (Projects, API Keys, Templates, Webhooks).",
		"description": "Complete public reference for project-level endpoints in Rewrite API v1.\n\nAll endpoints return a consistent envelope (`ok`, `data`, and optional `cursor`).\nUse either bearer token (API key) with scopes or authenticated cookie session."
	},
	"servers": [
		{
			"url": "https://api.rewritetoday.com/v1",
			"description": "Production"
		}
	],
	"tags": [
		{
			"name": "Projects",
			"description": "Project metadata and lifecycle."
		}
	],
	"paths": {
		"/projects/{id}": {
			"patch": {
				"tags": ["Projects"],
				"operationId": "updateProject",
				"summary": "Update project",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ProjectUpdateBody"
							},
							"examples": {
								"request": {
									"summary": "Request example",
									"value": {
										"name": "Marketing Alerts"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Update mutable project fields such as `name`. Requires `project:write` scope for API keys.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst project = await rewrite.projects.update(projectId, {\n  name: 'Marketing Alerts',\n});"
					}
				]
			},
			"delete": {
				"tags": ["Projects"],
				"operationId": "deleteProject",
				"summary": "Delete project",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Response example",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Permanently deletes the project and associated resources. Owner-only operation.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nawait rewrite.projects.delete(projectId);"
					}
				]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API Key",
				"description": "Send your API key as `Authorization: Bearer <api-key>`."
			}
		},
		"parameters": {},
		"responses": {},
		"schemas": {
			"Snowflake": {
				"type": "string",
				"pattern": "^[0-9]{1,32}$"
			},
			"OkEmptyResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the request was successful."
					},
					"data": {
						"type": "null",
						"description": "No data is returned for this response."
					}
				},
				"description": "Successful response. This endpoint does not return any data.",
				"example": {
					"ok": true,
					"data": null
				}
			},
			"ProjectUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"icon": {
						"type": "null",
						"description": "Set to `null` to remove icon (when supported)."
					},
					"name": {
						"type": "string",
						"pattern": "^[A-Za-z0-9,-_ ]{2,64}$",
						"description": "Display name (2-64 chars)."
					}
				},
				"description": "Fields that can be updated in a project.",
				"example": {
					"name": "Marketing Alerts"
				}
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	]
}
