{
	"openapi": "3.1.0",
	"info": {
		"title": "API Rewrite",
		"version": "1.0.0",
		"summary": "Référence de l'API Projets (Projets, clés API, modèles, webhooks).",
		"description": "Référence publique complète des points de terminaison au niveau projet de l'API Rewrite v1.\n\nTous les endpoints renvoient une enveloppe cohérente (`ok`, `data` et `cursor` optionnel).\nUtilisez soit un jeton Bearer (clé API) avec des scopes, soit une session cookie authentifiée."
	},
	"servers": [
		{
			"url": "https://api.rewritetoday.com/v1",
			"description": "Production"
		}
	],
	"tags": [
		{
			"name": "Templates",
			"description": "Gérer des modèles SMS réutilisables avec variables."
		}
	],
	"paths": {
		"/projects/{id}/templates": {
			"get": {
				"tags": ["Templates"],
				"operationId": "listProjectTemplates",
				"summary": "Lister les modèles",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "ID de projet unique.",
						"example": "748395130237498368"
					},
					{
						"$ref": "#/components/parameters/after"
					},
					{
						"$ref": "#/components/parameters/before"
					},
					{
						"$ref": "#/components/parameters/limit"
					}
				],
				"responses": {
					"200": {
						"description": "Réponse",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplatesListResponse"
								},
								"examples": {
									"response": {
										"summary": "Exemple de réponse",
										"value": {
											"ok": true,
											"data": [
												{
													"id": "748395130237498500",
													"name": "order_shipped",
													"content": "Bonjour {{first_name}}, votre commande {{order_id}} est en route.",
													"variables": [
														{
															"name": "first_name",
															"fallback": "customer"
														}
													],
													"createdAt": "2026-02-19T18:00:00.000Z"
												}
											],
											"cursor": {
												"persist": true,
												"next": "748395130237498588"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Liste les modèles du projet avec pagination par curseur.\n\nUtilisez `limit`, `after` et `before` pour paginer.",
				"x-codeSamples": [
					{
						"lang": "Node.js",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst templates = await rewrite.templates.list(projectId, { limit: 20 });"
					},
					{
						"lang": "Go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_live_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  projectID := \"748395130237498368\"\n\n  _, err = client.Templates.List(context.Background(), projectID, &rewrite.RESTGetListTemplatesQueryParams{Limit: 20})\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "Python",
						"label": "Python",
						"source": "from rewrite import Rewrite\nimport requests\n\nclient = Rewrite(api_key='rw_live_your_api_key')\n\nresponse = requests.request(\n    'GET',\n    'https://api.rewritetoday.com/v1/projects/748395130237498368/templates',\n    headers={\n        'Authorization': \"Bearer rw_live_your_api_key\",\n    },\n)\nprint(response.json())"
					},
					{
						"lang": "Java",
						"label": "Java",
						"source": "var client = HttpClient.newHttpClient();\nvar requestBuilder = HttpRequest.newBuilder()\n  .uri(URI.create(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates\"))\n  .header(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"GET\", HttpRequest.BodyPublishers.noBody());\nvar response = client.send(requestBuilder.build(), HttpResponse.BodyHandlers.ofString());"
					},
					{
						"lang": "PHP",
						"label": "PHP",
						"source": "<?php\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, 'https://api.rewritetoday.com/v1/projects/748395130237498368/templates');\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'GET');\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n  'Authorization: Bearer rw_live_your_api_key',\n]);\n$response = curl_exec($ch);\ncurl_close($ch);"
					},
					{
						"lang": "Ruby",
						"label": "Ruby",
						"source": "uri = URI.parse('https://api.rewritetoday.com/v1/projects/748395130237498368/templates')\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\nrequest = Net::HTTP::Get.new(uri.request_uri)\nrequest['Authorization'] = 'Bearer rw_live_your_api_key'\nresponse = http.request(request)\nputs response.body"
					},
					{
						"lang": "Kotlin",
						"label": "Kotlin",
						"source": "val client = OkHttpClient()\nval request = Request.Builder()\n  .url(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates\")\n  .addHeader(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"GET\", null)\n  .build()\nval response = client.newCall(request).execute()"
					},
					{
						"lang": "Swift",
						"label": "Swift",
						"source": "let url = URL(string: \"https://api.rewritetoday.com/v1/projects/748395130237498368/templates\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"GET\"\nrequest.setValue(\"rw_live_your_api_key\", forHTTPHeaderField: \"Authorization\")\nlet (data, _, _) = try await URLSession.shared.data(for: request)"
					},
					{
						"lang": "C#",
						"label": "C#",
						"source": "using var client = new HttpClient();\nusing var request = new HttpRequestMessage();\nrequest.Method = HttpMethod.Get;\nrequest.RequestUri = new Uri(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates\");\nrequest.Headers.Add(\"Authorization\", \"Bearer rw_live_your_api_key\");\nvar response = await client.SendAsync(request);\nvar content = await response.Content.ReadAsStringAsync();"
					},
					{
						"lang": "cURL",
						"label": "cURL",
						"source": "curl -X GET 'https://api.rewritetoday.com/v1/projects/748395130237498368/templates' \\\\\n  -H 'Authorization: Bearer rw_live_your_api_key'"
					}
				]
			},
			"post": {
				"tags": ["Templates"],
				"operationId": "createProjectTemplate",
				"summary": "Créer un modèle",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "ID de projet unique.",
						"example": "748395130237498368"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TemplateCreateBody"
							},
							"examples": {
								"request": {
									"summary": "Exemple de requête",
									"value": {
										"name": "order_shipped",
										"content": "Bonjour {{first_name}}, votre commande {{order_id}} est en route.",
										"variables": [
											{
												"name": "first_name",
												"fallback": "customer"
											},
											{
												"name": "order_id",
												"fallback": "0000"
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Réponse",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplateCreateResponse"
								},
								"examples": {
									"response": {
										"summary": "Exemple de réponse",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498600",
												"createdAt": "2026-02-19T20:01:09.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Crée un modèle réutilisable avec variables et valeurs de repli.",
				"x-codeSamples": [
					{
						"lang": "Node.js",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst template = await rewrite.templates.create({\n  project: projectId,\n  name: 'order_shipped',\n  content: 'Bonjour {{first_name}}, votre commande {{order_id}} est en route.',\n  variables: [\n    { name: 'first_name', fallback: 'customer' },\n    { name: 'order_id', fallback: '0000' },\n  ],\n});"
					},
					{
						"lang": "Go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_live_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  projectID := \"748395130237498368\"\n  firstNameFallback := \"customer\"\n  orderIDFallback := \"0000\"\n\n  _, err = client.Templates.Create(context.Background(), rewrite.CreateTemplateOptions{\n    Project: projectID,\n    RESTPostCreateTemplateBody: rewrite.RESTPostCreateTemplateBody{\n      Name: \"order_shipped\",\n      Variables: []rewrite.APITemplateVariable{\n        {Name: \"first_name\", Fallback: &firstNameFallback},\n        {Name: \"order_id\", Fallback: &orderIDFallback},\n      },\n    },\n  })\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "Python",
						"label": "Python",
						"source": "from rewrite import Rewrite\nimport requests\n\nclient = Rewrite(api_key='rw_live_your_api_key')\n\nresponse = requests.request(\n    'POST',\n    'https://api.rewritetoday.com/v1/projects/748395130237498368/templates',\n    headers={\n        'Authorization': \"Bearer rw_live_your_api_key\",\n        'Content-Type': 'application/json',\n    },\n    json={\n      \"name\": \"order_shipped\",\n      \"content\": \"Bonjour {{first_name}}, votre commande {{order_id}} est en route.\",\n      \"variables\": [\n        {\n          \"name\": \"first_name\",\n          \"fallback\": \"customer\"\n        },\n        {\n          \"name\": \"order_id\",\n          \"fallback\": \"0000\"\n        }\n      ]\n    },\n)\nprint(response.json())"
					},
					{
						"lang": "Java",
						"label": "Java",
						"source": "var client = HttpClient.newHttpClient();\nvar json = \"{\\\"name\\\":\\\"order_shipped\\\",\\\"content\\\":\\\"Bonjour {{first_name}}, votre commande {{order_id}} est en route.\\\",\\\"variables\\\":[{\\\"name\\\":\\\"first_name\\\",\\\"fallback\\\":\\\"customer\\\"},{\\\"name\\\":\\\"order_id\\\",\\\"fallback\\\":\\\"0000\\\"}]}\";\nvar requestBuilder = HttpRequest.newBuilder()\n  .uri(URI.create(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates\"))\n  .header(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .header(\"Content-Type\", \"application/json\")\n  .method(\"POST\", HttpRequest.BodyPublishers.ofString(json));\nvar response = client.send(requestBuilder.build(), HttpResponse.BodyHandlers.ofString());"
					},
					{
						"lang": "PHP",
						"label": "PHP",
						"source": "<?php\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, 'https://api.rewritetoday.com/v1/projects/748395130237498368/templates');\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'POST');\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n  'Authorization: Bearer rw_live_your_api_key',\n  'Content-Type: application/json',\n]);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, '{\"name\":\"order_shipped\",\"content\":\"Bonjour {{first_name}}, votre commande {{order_id}} est en route.\",\"variables\":[{\"name\":\"first_name\",\"fallback\":\"customer\"},{\"name\":\"order_id\",\"fallback\":\"0000\"}]}');\n$response = curl_exec($ch);\ncurl_close($ch);"
					},
					{
						"lang": "Ruby",
						"label": "Ruby",
						"source": "uri = URI.parse('https://api.rewritetoday.com/v1/projects/748395130237498368/templates')\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\nrequest = Net::HTTP::Post.new(uri.request_uri)\nrequest['Authorization'] = 'Bearer rw_live_your_api_key'\nrequest['Content-Type'] = 'application/json'\nrequest.body = \"{\\\"name\\\":\\\"order_shipped\\\",\\\"content\\\":\\\"Bonjour {{first_name}}, votre commande {{order_id}} est en route.\\\",\\\"variables\\\":[{\\\"name\\\":\\\"first_name\\\",\\\"fallback\\\":\\\"customer\\\"},{\\\"name\\\":\\\"order_id\\\",\\\"fallback\\\":\\\"0000\\\"}]}\"\nresponse = http.request(request)\nputs response.body"
					},
					{
						"lang": "Kotlin",
						"label": "Kotlin",
						"source": "val client = OkHttpClient()\nval body = \"{\\\"name\\\":\\\"order_shipped\\\",\\\"content\\\":\\\"Bonjour {{first_name}}, votre commande {{order_id}} est en route.\\\",\\\"variables\\\":[{\\\"name\\\":\\\"first_name\\\",\\\"fallback\\\":\\\"customer\\\"},{\\\"name\\\":\\\"order_id\\\",\\\"fallback\\\":\\\"0000\\\"}]}\".toRequestBody(\"application/json\".toMediaType())\nval request = Request.Builder()\n  .url(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates\")\n  .addHeader(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"POST\", body)\n  .build()\nval response = client.newCall(request).execute()"
					},
					{
						"lang": "Swift",
						"label": "Swift",
						"source": "let url = URL(string: \"https://api.rewritetoday.com/v1/projects/748395130237498368/templates\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"POST\"\nrequest.setValue(\"rw_live_your_api_key\", forHTTPHeaderField: \"Authorization\")\nrequest.setValue(\"application/json\", forHTTPHeaderField: \"Content-Type\")\nrequest.httpBody = \"{\\\"name\\\":\\\"order_shipped\\\",\\\"content\\\":\\\"Bonjour {{first_name}}, votre commande {{order_id}} est en route.\\\",\\\"variables\\\":[{\\\"name\\\":\\\"first_name\\\",\\\"fallback\\\":\\\"customer\\\"},{\\\"name\\\":\\\"order_id\\\",\\\"fallback\\\":\\\"0000\\\"}]}\".data(using: .utf8)\nlet (data, _, _) = try await URLSession.shared.data(for: request)"
					},
					{
						"lang": "C#",
						"label": "C#",
						"source": "using var client = new HttpClient();\nusing var request = new HttpRequestMessage();\nrequest.Method = HttpMethod.Post;\nrequest.RequestUri = new Uri(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates\");\nrequest.Headers.Add(\"Authorization\", \"Bearer rw_live_your_api_key\");\nrequest.Content = new StringContent(\"{\\\"name\\\":\\\"order_shipped\\\",\\\"content\\\":\\\"Bonjour {{first_name}}, votre commande {{order_id}} est en route.\\\",\\\"variables\\\":[{\\\"name\\\":\\\"first_name\\\",\\\"fallback\\\":\\\"customer\\\"},{\\\"name\\\":\\\"order_id\\\",\\\"fallback\\\":\\\"0000\\\"}]}\", Encoding.UTF8, \"application/json\");\nvar response = await client.SendAsync(request);\nvar content = await response.Content.ReadAsStringAsync();"
					},
					{
						"lang": "cURL",
						"label": "cURL",
						"source": "curl -X POST 'https://api.rewritetoday.com/v1/projects/748395130237498368/templates' \\\\\n  -H 'Authorization: Bearer rw_live_your_api_key'\n  -H 'Content-Type: application/json' \\\\\n  -d '{\"name\":\"order_shipped\",\"content\":\"Bonjour {{first_name}}, votre commande {{order_id}} est en route.\",\"variables\":[{\"name\":\"first_name\",\"fallback\":\"customer\"},{\"name\":\"order_id\",\"fallback\":\"0000\"}]}'"
					}
				]
			}
		},
		"/projects/{id}/templates/{identifier}": {
			"get": {
				"tags": ["Templates"],
				"operationId": "getProjectTemplate",
				"summary": "Obtenir un modèle",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "ID de projet unique.",
						"example": "748395130237498368"
					},
					{
						"name": "identifier",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "ID de modèle unique ou nom de modèle unique.",
						"example": "order_shipped"
					}
				],
				"responses": {
					"200": {
						"description": "Réponse",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TemplateResponse"
								},
								"examples": {
									"response": {
										"summary": "Exemple de réponse",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498500",
												"name": "order_shipped",
												"content": "Bonjour {{first_name}}, votre commande {{order_id}} est en route.",
												"variables": [
													{
														"name": "first_name",
														"fallback": "customer"
													}
												],
												"createdAt": "2026-02-19T18:00:00.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Récupère un modèle par identifiant (id ou nom du modèle).",
				"x-codeSamples": [
					{
						"lang": "Node.js",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst templateIdentifier = 'order_shipped';\n\nconst template = await rewrite.templates.get(templateIdentifier, projectId);"
					},
					{
						"lang": "Go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_live_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  projectID := \"748395130237498368\"\n  templateIdentifier := \"order_shipped\"\n\n  _, err = client.Templates.Get(context.Background(), templateIdentifier, projectID)\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "Python",
						"label": "Python",
						"source": "from rewrite import Rewrite\nimport requests\n\nclient = Rewrite(api_key='rw_live_your_api_key')\n\nresponse = requests.request(\n    'GET',\n    'https://api.rewritetoday.com/v1/projects/748395130237498368/templates/order_shipped',\n    headers={\n        'Authorization': \"Bearer rw_live_your_api_key\",\n    },\n)\nprint(response.json())"
					},
					{
						"lang": "Java",
						"label": "Java",
						"source": "var client = HttpClient.newHttpClient();\nvar requestBuilder = HttpRequest.newBuilder()\n  .uri(URI.create(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/order_shipped\"))\n  .header(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"GET\", HttpRequest.BodyPublishers.noBody());\nvar response = client.send(requestBuilder.build(), HttpResponse.BodyHandlers.ofString());"
					},
					{
						"lang": "PHP",
						"label": "PHP",
						"source": "<?php\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, 'https://api.rewritetoday.com/v1/projects/748395130237498368/templates/order_shipped');\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'GET');\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n  'Authorization: Bearer rw_live_your_api_key',\n]);\n$response = curl_exec($ch);\ncurl_close($ch);"
					},
					{
						"lang": "Ruby",
						"label": "Ruby",
						"source": "uri = URI.parse('https://api.rewritetoday.com/v1/projects/748395130237498368/templates/order_shipped')\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\nrequest = Net::HTTP::Get.new(uri.request_uri)\nrequest['Authorization'] = 'Bearer rw_live_your_api_key'\nresponse = http.request(request)\nputs response.body"
					},
					{
						"lang": "Kotlin",
						"label": "Kotlin",
						"source": "val client = OkHttpClient()\nval request = Request.Builder()\n  .url(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/order_shipped\")\n  .addHeader(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"GET\", null)\n  .build()\nval response = client.newCall(request).execute()"
					},
					{
						"lang": "Swift",
						"label": "Swift",
						"source": "let url = URL(string: \"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/order_shipped\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"GET\"\nrequest.setValue(\"rw_live_your_api_key\", forHTTPHeaderField: \"Authorization\")\nlet (data, _, _) = try await URLSession.shared.data(for: request)"
					},
					{
						"lang": "C#",
						"label": "C#",
						"source": "using var client = new HttpClient();\nusing var request = new HttpRequestMessage();\nrequest.Method = HttpMethod.Get;\nrequest.RequestUri = new Uri(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/order_shipped\");\nrequest.Headers.Add(\"Authorization\", \"Bearer rw_live_your_api_key\");\nvar response = await client.SendAsync(request);\nvar content = await response.Content.ReadAsStringAsync();"
					},
					{
						"lang": "cURL",
						"label": "cURL",
						"source": "curl -X GET 'https://api.rewritetoday.com/v1/projects/748395130237498368/templates/order_shipped' \\\\\n  -H 'Authorization: Bearer rw_live_your_api_key'"
					}
				]
			}
		},
		"/projects/{id}/templates/{templateId}": {
			"patch": {
				"tags": ["Templates"],
				"operationId": "updateProjectTemplate",
				"summary": "Mettre à jour le modèle",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "ID de projet unique.",
						"example": "748395130237498368"
					},
					{
						"name": "templateId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "ID de modèle unique.",
						"example": "748395130237498500"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TemplateUpdateBody"
							},
							"examples": {
								"request": {
									"summary": "Exemple de requête",
									"value": {
										"content": "Bonjour {{first_name}}, votre colis {{order_id}} a été expédié.",
										"variables": [
											{
												"name": "first_name",
												"fallback": "customer"
											},
											{
												"name": "order_id",
												"fallback": "0000"
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Réponse",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Exemple de réponse",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Met à jour partiellement le contenu du modèle et/ou les variables.",
				"x-codeSamples": [
					{
						"lang": "Node.js",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst templateId = '748395130237498500';\n\nconst template = await rewrite.templates.update(templateId, {\n  project: projectId,\n  name: 'order_shipped',\n  content: 'Bonjour {{first_name}}, votre colis {{order_id}} a été expédié.',\n  variables: [\n    { name: 'first_name', fallback: 'customer' },\n    { name: 'order_id', fallback: '0000' },\n  ],\n});"
					},
					{
						"lang": "Go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_live_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  projectID := \"748395130237498368\"\n  templateID := \"748395130237498500\"\n  firstNameFallback := \"customer\"\n  orderIDFallback := \"0000\"\n\n  _, err = client.Templates.Update(context.Background(), templateID, rewrite.UpdateTemplateOptions{\n    Project: projectID,\n    RESTPostCreateTemplateBody: rewrite.RESTPostCreateTemplateBody{\n      Name: \"order_shipped\",\n      Variables: []rewrite.APITemplateVariable{\n        {Name: \"first_name\", Fallback: &firstNameFallback},\n        {Name: \"order_id\", Fallback: &orderIDFallback},\n      },\n    },\n  })\n  if err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "Python",
						"label": "Python",
						"source": "from rewrite import Rewrite\nimport requests\n\nclient = Rewrite(api_key='rw_live_your_api_key')\n\nresponse = requests.request(\n    'PATCH',\n    'https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500',\n    headers={\n        'Authorization': \"Bearer rw_live_your_api_key\",\n        'Content-Type': 'application/json',\n    },\n    json={\n      \"content\": \"Bonjour {{first_name}}, votre colis {{order_id}} a été expédié.\",\n      \"variables\": [\n        {\n          \"name\": \"first_name\",\n          \"fallback\": \"customer\"\n        },\n        {\n          \"name\": \"order_id\",\n          \"fallback\": \"0000\"\n        }\n      ]\n    },\n)\nprint(response.json())"
					},
					{
						"lang": "Java",
						"label": "Java",
						"source": "var client = HttpClient.newHttpClient();\nvar json = \"{\\\"content\\\":\\\"Bonjour {{first_name}}, votre colis {{order_id}} a été expédié.\\\",\\\"variables\\\":[{\\\"name\\\":\\\"first_name\\\",\\\"fallback\\\":\\\"customer\\\"},{\\\"name\\\":\\\"order_id\\\",\\\"fallback\\\":\\\"0000\\\"}]}\";\nvar requestBuilder = HttpRequest.newBuilder()\n  .uri(URI.create(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500\"))\n  .header(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .header(\"Content-Type\", \"application/json\")\n  .method(\"PATCH\", HttpRequest.BodyPublishers.ofString(json));\nvar response = client.send(requestBuilder.build(), HttpResponse.BodyHandlers.ofString());"
					},
					{
						"lang": "PHP",
						"label": "PHP",
						"source": "<?php\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, 'https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500');\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'PATCH');\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n  'Authorization: Bearer rw_live_your_api_key',\n  'Content-Type: application/json',\n]);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, '{\"content\":\"Bonjour {{first_name}}, votre colis {{order_id}} a été expédié.\",\"variables\":[{\"name\":\"first_name\",\"fallback\":\"customer\"},{\"name\":\"order_id\",\"fallback\":\"0000\"}]}');\n$response = curl_exec($ch);\ncurl_close($ch);"
					},
					{
						"lang": "Ruby",
						"label": "Ruby",
						"source": "uri = URI.parse('https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500')\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\nrequest = Net::HTTP::Patch.new(uri.request_uri)\nrequest['Authorization'] = 'Bearer rw_live_your_api_key'\nrequest['Content-Type'] = 'application/json'\nrequest.body = \"{\\\"content\\\":\\\"Bonjour {{first_name}}, votre colis {{order_id}} a été expédié.\\\",\\\"variables\\\":[{\\\"name\\\":\\\"first_name\\\",\\\"fallback\\\":\\\"customer\\\"},{\\\"name\\\":\\\"order_id\\\",\\\"fallback\\\":\\\"0000\\\"}]}\"\nresponse = http.request(request)\nputs response.body"
					},
					{
						"lang": "Kotlin",
						"label": "Kotlin",
						"source": "val client = OkHttpClient()\nval body = \"{\\\"content\\\":\\\"Bonjour {{first_name}}, votre colis {{order_id}} a été expédié.\\\",\\\"variables\\\":[{\\\"name\\\":\\\"first_name\\\",\\\"fallback\\\":\\\"customer\\\"},{\\\"name\\\":\\\"order_id\\\",\\\"fallback\\\":\\\"0000\\\"}]}\".toRequestBody(\"application/json\".toMediaType())\nval request = Request.Builder()\n  .url(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500\")\n  .addHeader(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"PATCH\", body)\n  .build()\nval response = client.newCall(request).execute()"
					},
					{
						"lang": "Swift",
						"label": "Swift",
						"source": "let url = URL(string: \"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"PATCH\"\nrequest.setValue(\"rw_live_your_api_key\", forHTTPHeaderField: \"Authorization\")\nrequest.setValue(\"application/json\", forHTTPHeaderField: \"Content-Type\")\nrequest.httpBody = \"{\\\"content\\\":\\\"Bonjour {{first_name}}, votre colis {{order_id}} a été expédié.\\\",\\\"variables\\\":[{\\\"name\\\":\\\"first_name\\\",\\\"fallback\\\":\\\"customer\\\"},{\\\"name\\\":\\\"order_id\\\",\\\"fallback\\\":\\\"0000\\\"}]}\".data(using: .utf8)\nlet (data, _, _) = try await URLSession.shared.data(for: request)"
					},
					{
						"lang": "C#",
						"label": "C#",
						"source": "using var client = new HttpClient();\nusing var request = new HttpRequestMessage();\nrequest.Method = HttpMethod.Patch;\nrequest.RequestUri = new Uri(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500\");\nrequest.Headers.Add(\"Authorization\", \"Bearer rw_live_your_api_key\");\nrequest.Content = new StringContent(\"{\\\"content\\\":\\\"Bonjour {{first_name}}, votre colis {{order_id}} a été expédié.\\\",\\\"variables\\\":[{\\\"name\\\":\\\"first_name\\\",\\\"fallback\\\":\\\"customer\\\"},{\\\"name\\\":\\\"order_id\\\",\\\"fallback\\\":\\\"0000\\\"}]}\", Encoding.UTF8, \"application/json\");\nvar response = await client.SendAsync(request);\nvar content = await response.Content.ReadAsStringAsync();"
					},
					{
						"lang": "cURL",
						"label": "cURL",
						"source": "curl -X PATCH 'https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500' \\\\\n  -H 'Authorization: Bearer rw_live_your_api_key'\n  -H 'Content-Type: application/json' \\\\\n  -d '{\"content\":\"Bonjour {{first_name}}, votre colis {{order_id}} a été expédié.\",\"variables\":[{\"name\":\"first_name\",\"fallback\":\"customer\"},{\"name\":\"order_id\",\"fallback\":\"0000\"}]}'"
					}
				]
			},
			"delete": {
				"tags": ["Templates"],
				"operationId": "deleteProjectTemplate",
				"summary": "Supprimer le modèle",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "ID de projet unique.",
						"example": "748395130237498368"
					},
					{
						"name": "templateId",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"description": "ID de modèle unique.",
						"example": "748395130237498500"
					}
				],
				"responses": {
					"200": {
						"description": "Réponse",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Exemple de réponse",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Supprime un modèle du projet.",
				"x-codeSamples": [
					{
						"lang": "Node.js",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst templateId = '748395130237498500';\n\nawait rewrite.templates.delete(templateId, projectId);"
					},
					{
						"lang": "Go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_live_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\n  projectID := \"748395130237498368\"\n  templateID := \"748395130237498500\"\n\n  if err := client.Templates.Delete(context.Background(), templateID, projectID); err != nil {\n    log.Fatal(err)\n  }\n}"
					},
					{
						"lang": "Python",
						"label": "Python",
						"source": "from rewrite import Rewrite\nimport requests\n\nclient = Rewrite(api_key='rw_live_your_api_key')\n\nresponse = requests.request(\n    'DELETE',\n    'https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500',\n    headers={\n        'Authorization': \"Bearer rw_live_your_api_key\",\n    },\n)\nprint(response.json())"
					},
					{
						"lang": "Java",
						"label": "Java",
						"source": "var client = HttpClient.newHttpClient();\nvar requestBuilder = HttpRequest.newBuilder()\n  .uri(URI.create(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500\"))\n  .header(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"DELETE\", HttpRequest.BodyPublishers.noBody());\nvar response = client.send(requestBuilder.build(), HttpResponse.BodyHandlers.ofString());"
					},
					{
						"lang": "PHP",
						"label": "PHP",
						"source": "<?php\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, 'https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500');\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'DELETE');\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n  'Authorization: Bearer rw_live_your_api_key',\n]);\n$response = curl_exec($ch);\ncurl_close($ch);"
					},
					{
						"lang": "Ruby",
						"label": "Ruby",
						"source": "uri = URI.parse('https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500')\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\nrequest = Net::HTTP::Delete.new(uri.request_uri)\nrequest['Authorization'] = 'Bearer rw_live_your_api_key'\nresponse = http.request(request)\nputs response.body"
					},
					{
						"lang": "Kotlin",
						"label": "Kotlin",
						"source": "val client = OkHttpClient()\nval request = Request.Builder()\n  .url(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500\")\n  .addHeader(\"Authorization\", \"Bearer rw_live_your_api_key\")\n  .method(\"DELETE\", null)\n  .build()\nval response = client.newCall(request).execute()"
					},
					{
						"lang": "Swift",
						"label": "Swift",
						"source": "let url = URL(string: \"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"DELETE\"\nrequest.setValue(\"rw_live_your_api_key\", forHTTPHeaderField: \"Authorization\")\nlet (data, _, _) = try await URLSession.shared.data(for: request)"
					},
					{
						"lang": "C#",
						"label": "C#",
						"source": "using var client = new HttpClient();\nusing var request = new HttpRequestMessage();\nrequest.Method = HttpMethod.Delete;\nrequest.RequestUri = new Uri(\"https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500\");\nrequest.Headers.Add(\"Authorization\", \"Bearer rw_live_your_api_key\");\nvar response = await client.SendAsync(request);\nvar content = await response.Content.ReadAsStringAsync();"
					},
					{
						"lang": "cURL",
						"label": "cURL",
						"source": "curl -X DELETE 'https://api.rewritetoday.com/v1/projects/748395130237498368/templates/748395130237498500' \\\\\n  -H 'Authorization: Bearer rw_live_your_api_key'"
					}
				]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API Key",
				"description": "Envoyez votre clé API via `Authorization: Bearer <api-key>`. "
			}
		},
		"parameters": {
			"after": {
				"name": "after",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "ID de curseur unique pour récupérer les éléments après cette valeur.",
				"example": "748395130237498588"
			},
			"before": {
				"name": "before",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "ID de curseur unique pour récupérer les éléments avant cette valeur.",
				"example": "748395130237498399"
			},
			"limit": {
				"name": "limit",
				"in": "query",
				"required": false,
				"schema": {
					"type": "integer",
					"minimum": 2,
					"maximum": 100
				},
				"description": "Nombre d'éléments à renvoyer.",
				"example": 20
			}
		},
		"responses": {},
		"schemas": {
			"Snowflake": {
				"type": "string",
				"pattern": "^[0-9]{1,32}$",
				"description": "ID de ressource unique.",
				"example": "748395130237498368"
			},
			"Cursor": {
				"type": "object",
				"additionalProperties": false,
				"required": ["persist"],
				"properties": {
					"persist": {
						"type": "boolean",
						"description": "Indique si une autre page peut être demandée via `next`."
					},
					"next": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Curseur pour demander la page suivante (`after`)."
					}
				},
				"description": "Métadonnées de curseur pour les réponses paginées.",
				"example": {
					"persist": true,
					"next": "748395130237498399"
				}
			},
			"OkEmptyResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Champ `ok`."
					},
					"data": {
						"type": "null",
						"description": "Aucune donnée n'est renvoyée pour cette réponse."
					}
				},
				"description": "Réponse réussie. Cet endpoint ne renvoie aucune donnée.",
				"example": {
					"ok": true,
					"data": null
				}
			},
			"TemplateVariable": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name", "fallback"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Clé de variable utilisée par votre application."
					},
					"fallback": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64,
						"description": "Valeur par défaut lorsque votre payload ne fournit pas la variable."
					}
				},
				"description": "Variable nommée utilisée dans le corps d'un modèle.",
				"example": {
					"name": "first_name",
					"fallback": "customer"
				}
			},
			"Template": {
				"type": "object",
				"additionalProperties": false,
				"required": ["id", "name", "createdAt"],
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "ID de modèle unique."
					},
					"name": {
						"type": "string",
						"description": "Champ `name`."
					},
					"content": {
						"type": ["string", "null"],
						"description": "Champ `content`."
					},
					"variables": {
						"type": ["array", "null"],
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "Champ `variables`."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Horodatage de creation (UTC)."
					}
				},
				"description": "Métadonnées du modèle et instantané facultatif du contenu.",
				"example": {
					"id": "748395130237498500",
					"name": "order_shipped",
					"content": "Bonjour {{first_name}}, votre commande {{order_id}} est en route.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						}
					],
					"createdAt": "2026-02-19T18:00:00.000Z"
				}
			},
			"TemplatesListResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data", "cursor"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Champ `ok`."
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Template"
						},
						"description": "Champ `data`."
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor",
						"description": "Champ `cursor`."
					}
				},
				"example": {
					"ok": true,
					"data": [
						{
							"id": "748395130237498500",
							"name": "order_shipped",
							"content": "Bonjour {{first_name}}, votre commande {{order_id}} est en route.",
							"variables": [
								{
									"name": "first_name",
									"fallback": "customer"
								}
							],
							"createdAt": "2026-02-19T18:00:00.000Z"
						}
					],
					"cursor": {
						"persist": true,
						"next": "748395130237498588"
					}
				},
				"description": "Schéma `TemplatesListResponse`."
			},
			"TemplateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Champ `ok`."
					},
					"data": {
						"$ref": "#/components/schemas/Template",
						"description": "Champ `data`."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498500",
						"name": "order_shipped",
						"content": "Bonjour {{first_name}}, votre commande {{order_id}} est en route.",
						"variables": [
							{
								"name": "first_name",
								"fallback": "customer"
							}
						],
						"createdAt": "2026-02-19T18:00:00.000Z"
					}
				},
				"description": "Schéma `TemplateResponse`."
			},
			"TemplateCreateBody": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name", "content", "variables"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 32,
						"description": "Champ `name`."
					},
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "Champ `content`."
					},
					"variables": {
						"type": "array",
						"minItems": 1,
						"maxItems": 15,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "Champ `variables`."
					}
				},
				"description": "Créer un modèle SMS réutilisable.",
				"example": {
					"name": "order_shipped",
					"content": "Bonjour {{first_name}}, votre commande {{order_id}} est en route.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						},
						{
							"name": "order_id",
							"fallback": "0000"
						}
					]
				}
			},
			"TemplateUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"content": {
						"type": "string",
						"minLength": 1,
						"maxLength": 1024,
						"description": "Champ `content`."
					},
					"variables": {
						"type": "array",
						"minItems": 1,
						"maxItems": 15,
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/TemplateVariable"
						},
						"description": "Champ `variables`."
					}
				},
				"description": "Modifier le contenu du modèle et/ou ses variables.",
				"example": {
					"content": "Bonjour {{first_name}}, votre colis {{order_id}} a été expédié.",
					"variables": [
						{
							"name": "first_name",
							"fallback": "customer"
						},
						{
							"name": "order_id",
							"fallback": "0000"
						}
					]
				}
			},
			"TemplateCreateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Champ `ok`."
					},
					"data": {
						"type": "object",
						"required": ["id", "createdAt"],
						"properties": {
							"id": {
								"$ref": "#/components/schemas/Snowflake"
							},
							"createdAt": {
								"type": "string",
								"format": "date-time"
							}
						},
						"description": "Champ `data`."
					}
				},
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498600",
						"createdAt": "2026-02-19T20:01:09.000Z"
					}
				},
				"description": "Schéma `TemplateCreateResponse`."
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	]
}
