{
	"openapi": "3.1.0",
	"info": {
		"title": "API Rewrite",
		"version": "1.0.0",
		"summary": "Référence de l'API Projets (Projets, clés API, modèles, webhooks).",
		"description": "Référence publique complète des points de terminaison au niveau projet de l'API Rewrite v1.\n\nTous les endpoints renvoient une enveloppe cohérente (`ok`, `data` et `cursor` optionnel).\nUtilisez soit un jeton Bearer (clé API) avec des scopes, soit une session cookie authentifiée."
	},
	"servers": [
		{
			"url": "https://api.rewritetoday.com/v1",
			"description": "Production"
		}
	],
	"tags": [
		{
			"name": "Projects",
			"description": "Métadonnées du projet et cycle de vie."
		}
	],
	"paths": {
		"/projects/{id}": {
			"patch": {
				"tags": ["Projects"],
				"operationId": "updateProject",
				"summary": "Mettre à jour le projet",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ProjectUpdateBody"
							},
							"examples": {
								"request": {
									"summary": "Exemple de requête",
									"value": {
										"name": "Alertes marketing"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Réponse",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Exemple de réponse",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Met à jour les champs modifiables du projet comme `name`. Nécessite le scope `project:write` pour les clés API.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst project = await rewrite.projects.update(projectId, {\n  name: 'Marketing Alerts',\n});"
					}
				]
			},
			"delete": {
				"tags": ["Projects"],
				"operationId": "deleteProject",
				"summary": "Supprimer le projet",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					}
				],
				"responses": {
					"200": {
						"description": "Réponse",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Exemple de réponse",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Supprime définitivement le projet et les ressources associées. Opération réservée au propriétaire.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nawait rewrite.projects.delete(projectId);"
					}
				]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API Key",
				"description": "Envoyez votre clé API via `Authorization: Bearer <api-key>`. "
			}
		},
		"parameters": {},
		"responses": {},
		"schemas": {
			"Snowflake": {
				"type": "string",
				"pattern": "^[0-9]{1,32}$"
			},
			"OkEmptyResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Champ `ok`."
					},
					"data": {
						"type": "null",
						"description": "Aucune donnée n'est renvoyée pour cette réponse."
					}
				},
				"description": "Réponse réussie. Cet endpoint ne renvoie aucune donnée.",
				"example": {
					"ok": true,
					"data": null
				}
			},
			"ProjectUpdateBody": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"icon": {
						"type": "null",
						"description": "Définissez `null` pour supprimer l'icône (lorsque pris en charge)."
					},
					"name": {
						"type": "string",
						"pattern": "^[A-Za-z0-9,-_ ]{2,64}$",
						"description": "Nom d'affichage (2 à 64 caractères)."
					}
				},
				"description": "Champs pouvant être mis à jour dans un projet.",
				"example": {
					"name": "Alertes marketing"
				}
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	]
}
