{
	"openapi": "3.1.0",
	"info": {
		"title": "API Rewrite",
		"version": "1.0.0",
		"summary": "Référence de l'API Projets (Projets, clés API, modèles, webhooks).",
		"description": "Référence publique complète des points de terminaison au niveau projet de l'API Rewrite v1.\n\nTous les endpoints renvoient une enveloppe cohérente (`ok`, `data` et `cursor` optionnel).\nUtilisez soit un jeton Bearer (clé API) avec des scopes, soit une session cookie authentifiée."
	},
	"servers": [
		{
			"url": "https://api.rewritetoday.com/v1",
			"description": "Production"
		}
	],
	"tags": [
		{
			"name": "API Keys",
			"description": "Créer, lister et révoquer les clés API du projet."
		}
	],
	"paths": {
		"/projects/{id}/api-keys": {
			"get": {
				"tags": ["API Keys"],
				"operationId": "listProjectApiKeys",
				"summary": "Lister les clés API",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"$ref": "#/components/parameters/after"
					},
					{
						"$ref": "#/components/parameters/before"
					},
					{
						"$ref": "#/components/parameters/limit"
					}
				],
				"responses": {
					"200": {
						"description": "Réponse",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/APIKeysListResponse"
								},
								"examples": {
									"response": {
										"summary": "Exemple de réponse",
										"value": {
											"ok": true,
											"data": [
												{
													"id": "748395130237498400",
													"name": "Backend de production",
													"prefix": "rw_8e4c",
													"scopes": ["project:templates:write"],
													"createdAt": "2026-02-19T19:10:02.000Z"
												}
											],
											"cursor": {
												"persist": false
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Renvoie les clés API actives du projet avec pagination par curseur.\n\nUtilisez `limit`, `after` et `before` pour paginer.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst apiKeys = await rewrite.apiKeys.list(projectId, { limit: 20 });"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\n\n_, err = client.APIKeys.List(context.Background(), projectID, &rewrite.RESTGetListAPIKeysQueryParams{Limit: 20})\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\n\napi_keys = client.api_keys.list(project_id, {\"limit\": 20})"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.apiKeys.ListApiKeysOptions;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n\n    var apiKeys = rewrite.apiKeys().list(\n      projectId,\n      ListApiKeysOptions.builder()\n        .limit(20)\n        .build()\n    );\n\n    System.out.println(apiKeys);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n\n$apiKeys = $rewrite->apiKeys->list($projectId, [\n  'limit' => 20,\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\n\napi_keys = rewrite.api_keys.list(project_id, limit: 20)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.apiKeys.ListApiKeysOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n\n  val apiKeys = rewrite.apiKeys.list(\n    projectId,\n    ListApiKeysOptions(limit = 20)\n  )\n\n  println(apiKeys)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\n\nlet apiKeys = try await rewrite.apiKeys.list(project: projectId, limit: 20)\n\nprint(apiKeys)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\n\nvar apiKeys = await rewrite.ApiKeys.ListAsync(projectId, new ListApiKeysOptions\n{\n  Limit = 20\n});\n\nConsole.WriteLine(apiKeys);"
					}
				]
			},
			"post": {
				"tags": ["API Keys"],
				"operationId": "createProjectApiKey",
				"summary": "Créer une clé API",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/APIKeyCreateBody"
							},
							"examples": {
								"request": {
									"summary": "Exemple de requête",
									"value": {
										"name": "Worker de taches",
										"scopes": [
											"project:templates:read",
											"projects:webhooks:read"
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Réponse",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/APIKeyCreateResponse"
								},
								"examples": {
									"response": {
										"summary": "Exemple de réponse",
										"value": {
											"ok": true,
											"data": {
												"id": "748395130237498412",
												"key": "rw_8e4c3f7f8f9f0ab12cd34ef56",
												"count": 3,
												"createdAt": "2026-02-19T19:12:48.000Z"
											}
										}
									}
								}
							}
						}
					}
				},
				"description": "Crée une clé API de projet et renvoie le secret une seule fois. Stockez-le de manière sécurisée.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\n\nconst apiKey = await rewrite.apiKeys.create({\n  project: projectId,\n  name: 'Jobs worker',\n  scopes: ['project:templates:read', 'projects:webhooks:read'],\n});"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\n\n_, err = client.APIKeys.Create(context.Background(), rewrite.CreateAPIKeyOptions{\n  Project: projectID,\n  RESTPostCreateAPIKeyBody: rewrite.RESTPostCreateAPIKeyBody{\n    Name: \"Jobs worker\",\n    Scopes: []rewrite.APIKeyScope{\n      rewrite.APIKeyScopeReadTemplates,\n      rewrite.APIKeyScopeReadWebhooks,\n    },\n  },\n})\nif err != nil { log.Fatal(err) }\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import APIKeyScope, Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\n\napi_key = client.api_keys.create(\n    {\n        \"project\": project_id,\n        \"name\": \"Jobs worker\",\n        \"scopes\": [\n            APIKeyScope.READ_TEMPLATES,\n            APIKeyScope.READ_WEBHOOKS,\n        ],\n    }\n)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\nimport com.rewritetoday.sdk.models.apiKeys.CreateApiKeyOptions;\nimport java.util.List;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n\n    var apiKey = rewrite.apiKeys().create(\n      CreateApiKeyOptions.builder()\n        .project(projectId)\n        .name(\"Jobs worker\")\n        .scopes(List.of(\"project:templates:read\", \"projects:webhooks:read\"))\n        .build()\n    );\n\n    System.out.println(apiKey);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n\n$apiKey = $rewrite->apiKeys->create([\n  'project' => $projectId,\n  'name' => 'Jobs worker',\n  'scopes' => ['project:templates:read', 'projects:webhooks:read'],\n]);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\n\napi_key = rewrite.api_keys.create(\n  project: project_id,\n  name: \"Jobs worker\",\n  scopes: [\"project:templates:read\", \"projects:webhooks:read\"]\n)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\nimport com.rewritetoday.sdk.models.apiKeys.CreateApiKeyOptions\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n\n  val apiKey = rewrite.apiKeys.create(\n    CreateApiKeyOptions(\n      project = projectId,\n      name = \"Jobs worker\",\n      scopes = listOf(\"project:templates:read\", \"projects:webhooks:read\")\n    )\n  )\n\n  println(apiKey)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\n\nlet apiKey = try await rewrite.apiKeys.create(\n  project: projectId,\n  name: \"Jobs worker\",\n  scopes: [\"project:templates:read\", \"projects:webhooks:read\"]\n)\n\nprint(apiKey)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\n\nvar apiKey = await rewrite.ApiKeys.CreateAsync(new CreateApiKeyOptions\n{\n  Project = projectId,\n  Name = \"Jobs worker\",\n  Scopes = new[] { \"project:templates:read\", \"projects:webhooks:read\" }\n});\n\nConsole.WriteLine(apiKey);"
					}
				]
			}
		},
		"/projects/{id}/api-keys/{key}": {
			"delete": {
				"tags": ["API Keys"],
				"operationId": "deleteProjectApiKey",
				"summary": "Révoquer la clé API",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498368"
					},
					{
						"name": "key",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Snowflake"
						},
						"example": "748395130237498400"
					}
				],
				"responses": {
					"200": {
						"description": "Réponse",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkEmptyResponse"
								},
								"examples": {
									"response": {
										"summary": "Exemple de réponse",
										"value": {
											"ok": true,
											"data": null
										}
									}
								}
							}
						}
					}
				},
				"description": "Révoque immédiatement une clé API par son identifiant.",
				"x-codeSamples": [
					{
						"lang": "node",
						"label": "Node.js",
						"source": "import { Rewrite } from '@rewritejs/sdk';\n\nconst rewrite = new Rewrite(process.env.REWRITE_API_KEY!);\n\nconst projectId = '748395130237498368';\nconst apiKeyId = '748395130237498400';\n\nawait rewrite.apiKeys.delete(apiKeyId, projectId);"
					},
					{
						"lang": "go",
						"label": "Go",
						"source": "package main\n\nimport (\n  \"context\"\n  \"log\"\n\n  rewrite \"github.com/rewritetoday/golang\"\n)\n\nfunc main() {\n  client, err := rewrite.New(\"rw_your_api_key\")\n  if err != nil { log.Fatal(err) }\n\nprojectID := \"748395130237498368\"\napiKeyID := \"748395130237498400\"\n\nif err := client.APIKeys.Delete(context.Background(), apiKeyID, projectID); err != nil {\n  log.Fatal(err)\n}\n}"
					},
					{
						"lang": "python",
						"label": "Python",
						"source": "from rewrite import Client\n\nclient = Client(\"rw_your_api_key\")\n\nproject_id = \"748395130237498368\"\napi_key_id = \"748395130237498400\"\n\nclient.api_keys.delete(api_key_id, project_id)"
					},
					{
						"lang": "java",
						"label": "Java",
						"source": "import com.rewritetoday.sdk.Rewrite;\n\npublic class Main {\n  public static void main(String[] args) throws Exception {\n    var rewrite = new Rewrite(System.getenv(\"REWRITE_API_KEY\"));\n\n    var projectId = \"748395130237498368\";\n    var apiKeyId = \"748395130237498400\";\n\n    rewrite.apiKeys().delete(apiKeyId, projectId);\n  }\n}"
					},
					{
						"lang": "php",
						"label": "PHP",
						"source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse RewriteToday\\Rewrite;\n\n$rewrite = new Rewrite(getenv('REWRITE_API_KEY'));\n\n$projectId = '748395130237498368';\n$apiKeyId = '748395130237498400';\n\n$rewrite->apiKeys->delete($apiKeyId, $projectId);"
					},
					{
						"lang": "ruby",
						"label": "Ruby",
						"source": "require \"rewrite\"\n\nrewrite = Rewrite::Client.new(api_key: ENV.fetch(\"REWRITE_API_KEY\"))\n\nproject_id = \"748395130237498368\"\napi_key_id = \"748395130237498400\"\n\nrewrite.api_keys.delete(api_key_id, project_id)"
					},
					{
						"lang": "kotlin",
						"label": "Kotlin",
						"source": "import com.rewritetoday.sdk.Rewrite\n\nfun main() {\n  val rewrite = Rewrite(System.getenv(\"REWRITE_API_KEY\"))\n\n  val projectId = \"748395130237498368\"\n  val apiKeyId = \"748395130237498400\"\n\n  rewrite.apiKeys.delete(apiKeyId, projectId)\n}"
					},
					{
						"lang": "swift",
						"label": "Swift",
						"source": "import Foundation\nimport RewriteSDK\n\nlet rewrite = Rewrite(apiKey: ProcessInfo.processInfo.environment[\"REWRITE_API_KEY\"] ?? \"\")\n\nlet projectId = \"748395130237498368\"\nlet apiKeyId = \"748395130237498400\"\n\ntry await rewrite.apiKeys.delete(apiKeyId, project: projectId)"
					},
					{
						"lang": "csharp",
						"label": "C#",
						"source": "using RewriteToday;\n\nvar rewrite = new RewriteClient(Environment.GetEnvironmentVariable(\"REWRITE_API_KEY\"));\n\nvar projectId = \"748395130237498368\";\nvar apiKeyId = \"748395130237498400\";\n\nawait rewrite.ApiKeys.DeleteAsync(apiKeyId, projectId);"
					}
				]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "API Key",
				"description": "Envoyez votre clé API via `Authorization: Bearer <api-key>`. "
			}
		},
		"parameters": {
			"after": {
				"name": "after",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "ID de curseur unique pour récupérer les éléments après cette valeur.",
				"example": "748395130237498588"
			},
			"before": {
				"name": "before",
				"in": "query",
				"required": false,
				"schema": {
					"$ref": "#/components/schemas/Snowflake"
				},
				"description": "ID de curseur unique pour récupérer les éléments avant cette valeur.",
				"example": "748395130237498399"
			},
			"limit": {
				"name": "limit",
				"in": "query",
				"required": false,
				"schema": {
					"type": "integer",
					"minimum": 2,
					"maximum": 100
				},
				"description": "Nombre d'éléments à renvoyer.",
				"example": 20
			}
		},
		"responses": {},
		"schemas": {
			"Snowflake": {
				"type": "string",
				"pattern": "^[0-9]{1,32}$"
			},
			"Cursor": {
				"type": "object",
				"additionalProperties": false,
				"required": ["persist"],
				"properties": {
					"persist": {
						"type": "boolean",
						"description": "Indique si une autre page peut être demandée via `next`."
					},
					"next": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "Curseur pour demander la page suivante (`after`)."
					}
				},
				"example": {
					"persist": true,
					"next": "748395130237498399"
				}
			},
			"OkEmptyResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Champ `ok`."
					},
					"data": {
						"type": "null",
						"description": "Aucune donnée n'est renvoyée pour cette réponse."
					}
				},
				"description": "Réponse réussie. Cet endpoint ne renvoie aucune donnée.",
				"example": {
					"ok": true,
					"data": null
				}
			},
			"APIKey": {
				"type": "object",
				"additionalProperties": false,
				"required": ["id", "name", "prefix", "scopes", "createdAt"],
				"properties": {
					"id": {
						"$ref": "#/components/schemas/Snowflake",
						"description": "ID de la clé API."
					},
					"name": {
						"type": "string",
						"description": "Nom convivial de la clé."
					},
					"prefix": {
						"type": "string",
						"description": "Préfixe de clé publique pour l'identification."
					},
					"scopes": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						},
						"description": "Scopes accordés à cette clé."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "Horodatage de création (UTC)."
					}
				},
				"description": "Métadonnées de clé API du projet (le secret n'est plus renvoyé ensuite).",
				"example": {
					"id": "748395130237498400",
					"name": "Backend de production",
					"prefix": "rw_8e4c",
					"scopes": ["project:templates:write", "projects:webhooks:write"],
					"createdAt": "2026-02-19T19:10:02.000Z"
				}
			},
			"APIKeysListResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data", "cursor"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Champ `ok`."
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/APIKey"
						},
						"description": "Champ `data`."
					},
					"cursor": {
						"$ref": "#/components/schemas/Cursor",
						"description": "Champ `cursor`."
					}
				},
				"example": {
					"ok": true,
					"data": [
						{
							"id": "748395130237498400",
							"name": "Backend de production",
							"prefix": "rw_8e4c",
							"scopes": ["project:templates:write", "projects:webhooks:write"],
							"createdAt": "2026-02-19T19:10:02.000Z"
						}
					],
					"cursor": {
						"persist": false
					}
				},
				"description": "Schéma `APIKeysListResponse`."
			},
			"APIKeyCreateBody": {
				"type": "object",
				"additionalProperties": false,
				"required": ["name"],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32,
						"description": "Champ `name`."
					},
					"scopes": {
						"type": "array",
						"uniqueItems": true,
						"items": {
							"$ref": "#/components/schemas/AuthScope"
						},
						"description": "Champ `scopes`."
					}
				},
				"description": "Crée une clé API de projet avec des scopes optionnels.",
				"example": {
					"name": "Worker de taches",
					"scopes": ["project:templates:read", "projects:webhooks:read"]
				}
			},
			"APIKeyCreateResponse": {
				"type": "object",
				"additionalProperties": false,
				"required": ["ok", "data"],
				"properties": {
					"ok": {
						"type": "boolean",
						"const": true,
						"description": "Indicates whether the API key was created successfully."
					},
					"data": {
						"type": "object",
						"additionalProperties": false,
						"required": ["id", "key", "createdAt"],
						"properties": {
							"id": {
								"$ref": "#/components/schemas/Snowflake",
								"description": "ID of the newly created API key."
							},
							"key": {
								"type": "string",
								"description": "One-time secret API key value. Store it securely; it will not be shown again."
							},
							"createdAt": {
								"type": "string",
								"format": "date-time",
								"description": "Creation timestamp in ISO 8601 format (UTC)."
							}
						},
						"description": "Details returned once after API key creation."
					}
				},
				"description": "Réponse de création contenant la clé secrète à usage unique.",
				"example": {
					"ok": true,
					"data": {
						"id": "748395130237498412",
						"key": "rw_8e4c3f7f8f9f0ab12cd34ef56",
						"createdAt": "2026-02-19T19:12:48.000Z"
					}
				}
			},
			"AuthScope": {
				"type": "string",
				"description": "Permission scope accepted by API keys. Use scoped permissions whenever possible.\n\nCommon values:\n- `project:read`\n- `project:write`\n- `project:api_keys:read`\n- `project:templates:read`\n- `project:templates:write`\n- `projects:webhooks:read`\n- `projects:webhooks:write`\n- `projects:payments:read`\n- `*` (full access)",
				"example": "project:templates:write"
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	]
}
